<div class="left">
    <h1 contenteditable="true">Premature Scaling: Why It Kills Startups and How to Avoid it</h1>
    <p class="label">Last updated yesterday at 11:02am</p>

    <div class="row">
        <p class="label">Source</p>
        <p class="text">{{ctrl.url}}</p>
    </div>
    <div class="row">
        <p class="label">Content Type</p>
        <div>
            <select>
                <option>Blog</option>
                <option>Case Study</option>
                <option>FAQ</option>
            </select>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Relevance</p>
        <!-- can be refactored into directive -->
        <div class="sectors-container">
            <div class="relevanceTags" ng-hide="ctrl.relevanceTags.length === 0">
                <company-properties style="display:flex" for-search-filter="false" data="ctrl.relevanceTags"></company-properties>
            </div>
            <div class="dashboard-buttons no-float">
                <div class="action-btn" ng-click="ctrl.showRelevanceDropdown()" ng-hide="ctrl.showDropdown">
                    <div class="icon small plus"></div>
                </div>
                <relevance-dropdown ng-show="ctrl.showDropdown"></relevance-dropdown>
            </div>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Properties</p>
        <div class="sectors-container">
            <div class="dashboard-buttons no-float">
                <div class="action-btn">
                    <div class="icon small plus"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="url-asset">
        <img class="url-preview" src='/assets/images/covers/url_image@2x.png' />
        <!-- <iframe frameborder="0" src="{{ctrl.url}}"></iframe> -->
    </div>
</div>