<div class="left">
    <h1 contenteditable="true">Premature Scaling: Why It Kills Startups and How to Avoid it</h1>
    <p class="label">Last updated yesterday at 11:02am</p>

    <div class="row">
        <p class="label">Source</p>
        <p class="text">{{ctrl.url}}</p>
    </div>
    <div class="row">
        <p class="label">Content Type</p>
        <div>
            <select>
                <option>Blog</option>
                <option>Case Study</option>
                <option>FAQ</option>
            </select>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Relevance</p>
        <!-- can be refactored into directive -->
        <div class="sectors-container">
            <div class="add-tag">
                <a href="">
                    <img src="/assets/images/icons/add-sectors-btn.svg" />    
                </a>
            </div>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Properties</p>
        <div class="sectors-container">
            <div class="add-tag">
                <a href="">
                    <img src="/assets/images/icons/add-sectors-btn.svg" />    
                </a>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="url-asset">
        <img class="url-preview" src='/assets/images/covers/assets_preview_url.png' />
        <!-- <iframe frameborder="0" src="{{ctrl.url}}"></iframe> -->
    </div>
</div>