button.action {
    margin-right: 12px;
    background: #1F8AEF;
    color: $white;
}

button.cancel {
    background: $white;
    color: #808C9B;
}

button {
    height: 48px;
    border: 1px solid rgba(0,0,0,0.10);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
    border-radius: 4px;
    font-family: $FPLight;
    font-size: 18px;
}

.dashboard-buttons {
    float: right;
    display: flex;
    height: 32px;
    margin-left: auto;

    .action-btn {
        display: flex;
        background: white;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
        border-radius: 4px;
        cursor: pointer;

        & + .action-btn {
            margin-left: 8px;
        }

        p {
            font-family: $FPLight;
            height: 13px;                    
            font-size: 14px;
            color: #1F8AEF;
            text-transform: capitalize;
        }

        p.confirmed-action {
            display: flex;
            img {
                margin-right: 8px;
            }
        }

        .icon + p {
            padding-left: 8px;
        }

        .icon {

            &.edit {
                background: url("/assets/images/icons/pencil.svg") no-repeat center;
            }
    
            &.attach {
                background: url("/assets/images/icons/attach.svg") no-repeat center;
            }

            &.email {
                background: url("/assets/images/icons/message.png") no-repeat center;
            }
        
            &.trash {
                background: url("/assets/images/icons/trash.png") no-repeat center;
            }

            &.copy {
                background: url("/assets/images/icons/copy.png") no-repeat center;
            }

            &.download {
                background: url("/assets/images/icons/download.png") no-repeat center;
            }

            &.website {
                background: url("/assets/images/icons/globe.svg") no-repeat center;
            }

            &.move {
                background: url("/assets/images/icons/move.png") no-repeat center;
            }

            &.plus {
                background: url("/assets/images/icons/plus.svg") no-repeat center;
            }

            &.approve {
                background: url("/assets/images/icons/approve.svg") no-repeat center;
            }

            &.reject {
                background: url("/assets/images/icons/reject.svg") no-repeat center;
            }
        }
    }

    .icon-btn {
        
        & + .icon-btn {
            margin-left: 8px;
        }

        &:not(.active){
            background: $white;
        }

        .funnel {
            background: url("/assets/images/icons/funnel_icon.png") no-repeat center;
        }

        .list {
            background: url("/assets/images/icons/list.png") no-repeat center;
        }

        &.active {
            background: #BFCBD9;

            .funnel {
                background: url("/assets/images/icons/funnel-white.png") no-repeat center;
            }

            .list {
                background: url("/assets/images/icons/list-white.png") no-repeat center;
            }
        }
    }
}

.publish-buttons {
    display: flex;

    .publish-btn {
        display: flex;
        background: #1F8AEF;
        height: 32px;
        color:$white;
        cursor: pointer;

        & + .publish-btn {
            margin-left: 8px;
        }

        &.white {
            background:$white;
            border: 1px solid #E3EBEF;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
            color: #808C9B;
        }

        p.btn-text {
            height: 16px;
            font-size: 16px;
        }

        .icon {
            margin-right: 8px;
        }

        .send {
            background: url("/assets/images/icons/paper_plane.png") no-repeat center;
        }

        .save {
            background: url("/assets/images/icons/save.png") no-repeat center;
        }

        .cancel {
            background: url("/assets/images/icons/cancel.png") no-repeat center;
        }

        .white-check {
            background: url("/assets/images/icons/ok.png") no-repeat center;
        }
    }
}


.icon-btn {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: $white;
    @include hcenterChildren;
  
    .notification {
        background: url("/assets/images/icons/bell_icon.svg") no-repeat center;
    }

    .drafts {
        background: url("/assets/images/icons/drafts_icon.svg") no-repeat center;
    }

    .back {
        background: url("/assets/images/icons/back_icon.png") no-repeat center; 
    }

    .plus {
        background: url("/assets/images/icons/plus.svg") no-repeat center; 
    }
}