$black: #000;
$white: #fff;

$grey-dark: #808C9B;
$grey-med: #BFCBD9;
$grey-lig-20: #DEE4EA;
$grey-lig-10: #E3EBEF;
$grey-lig-5: #F7F9F9;

$blue-med-20: #1F8AEF;
$blue-med-10: #2CA6E3;
$blue-purple: #4049AA;
$purple: #724BD0;

$yellow-dark: #D0A82B;
$orange: #ED583E;

