@import 'font.mixin';
@import 'breakpoint.mixin';
@import 'layout.mixin';

@import 'colors';
@import 'fonts';
@import 'buttons';

//reset default styles for elements
h1, h2, h3, h4, p, ul, input, body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit; 
}
textarea, input, select { 
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance:none;
    outline: none;
    -webkit-appearance: none; 
}

input, select, textarea {
    color: #2D2D2D;
    -webkit-appearance: none;
    background-color: $white;

    &.border-style {
        border-radius: 4px;
        border: 1px solid #E3EBEF;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
    }
}

select {
    background: url('../assets/images/icons/dropdown-blue.svg') no-repeat right $white;
    background-position: right 17px center;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

@mixin vcenterChildren {
    display: flex;
    align-items: center;
    // justify-content: center;
}


@import '../pages/index.scss';

.container {
    margin-top: 56px;
}

.wrapper {
    @include breakpoint(sm){
        margin-right: 16px;
        margin-left: 16px;
    }

    @include breakpoint(md){
        margin-right: 32px;
        margin-left: 32px;
    }
    
    @include breakpoint(lg){
        margin-right: 88px;
        margin-left: 88px;
    }
    margin-top: 40px;
}

.icon {
    height: 32px;
    width: 32px;

    &.small {
        height: 16px;
        width: 16px;
    }

    &.grey-border {
      border: 2px solid $grey-lig-5;
      border-radius: 50%;
    }
  }

body {
    background: $grey-lig-5;
}

.divider {
    height: 32px;
    width: 1px;
    background: rgba(0,0,0,0.03);
    float: left;
    margin: 0 16px;
}

.user {
    position: relative;
    
    .add-padding {
        left: -9px;
    }
    
    .profile {
        float: left;
    }
    img {
        float: left;
    }
}

[contenteditable]:focus, input:focus, button:focus {
    outline: 0px solid transparent;
}