@import 'font.mixin';
@import 'breakpoint.mixin';
@import 'layout.mixin';

@import 'colors';
@import 'fonts';
@import 'buttons';

html, body {
    // min-height: 100% !important;
    height: 100%;
}

//reset default styles for elements
h1, h2, h3, h4, p, ul, input, body{
    padding: 0;
    margin: 0;
}

h1[contenteditable]{
    color: $grey-dark;
}

.main {
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit; 
}

textarea, input:not([type=checkbox]), select { 
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance:none;
    outline: none;
    -webkit-appearance: none; 
}

input:not([type=checkbox]), select, textarea {
    color: #2D2D2D;
    // -webkit-appearance: none;
    background-color: $white;

    &.border-style {
        border-radius: 4px;
        border: 1px solid #E3EBEF;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
    }
}

select {
    background: url('../assets/images/icons/dropdown-blue.svg') no-repeat right $white;
    background-position: right 17px center;
    cursor: pointer;
}

.company-information, .consolidate-content {

    input[type="checkbox"] {
        // -webkit-appearance:none;
        background:white;
        border-radius:4px;
        // border: 1px solid #E3EBEF;
        // box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06); 
    }
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.container {
    margin-top: 56px;

    @include breakpoint(sm){
        margin-right: 36px;
        margin-left: 48px;
    }
    
    @include breakpoint(md){
        margin-right: 48px;
        margin-left: 48px;
    }
}

.wrapper {
    height: 100%;
    min-width: 1024px;
    max-width: 1600px;
    margin: auto;

    @include breakpoint(md){
        margin: 0 32px;
    }
    
    @include breakpoint(lg){
        margin: 0 48px;
    }

    @include breakpoint(xlg){
        margin: auto;
    }
}

.icon {
    height: 32px;
    width: 32px;

    &.xsmall {
        height: 12px;
        width: 12px;
    }

    &.small {
        height: 16px;
        width: 16px;
    }

    &.grey-border {
      border: 2px solid $grey-lig-5;
      border-radius: 50%;
    }
  }

body {
    background: $grey-lig-5;
}

.notify-popup {
    width: 334px;
    background: $white;
    position: absolute;
    right: 40px;
    top: 80px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    &:before {
      content: "";
      position: absolute;
      top: -16px;
      right: 50px; 
      border-width: 8px;
      border-style: solid;
      border-color:  transparent transparent #fff transparent;
    }
    
    > div {
      padding: 16px;
    }

    .activity {
      font-family: $FPLight;
      font-size: 14px;
      line-height: 18px;
      display: flex;
    }

    .see-asset {
      cursor: pointer;
      font-family: $FPSemiBold;
      background-color: $grey-lig-5;
      font-size: 14px;
      color: #1F8AEF;
    }
  }

.circle {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.divider {
    height: 32px;
    width: 1px;
    background: rgba(0,0,0,0.03);
    float: left;
    margin: 0 16px;

    @media only screen and (max-width: 1072px) {
        display: none;
    }
}

.user {
    position: relative;
    
    .add-padding {
        left: -9px;
    }
    
    .profile {
        float: left;
    }
    img {
        float: left;
    }
}

[contenteditable]:focus, input:focus, button:focus {
    outline: 0px solid transparent;
}


.sidebar {
    height: 100%;
    width: 296px;
    float: right;
    display: none;
    // margin-left: 80px;

    @include breakpoint(md){
        margin-right: 16px;
    }

    @include breakpoint(lg){
        margin-right: 0;
    }

    @media only screen and (max-width: 1268px) {
        margin-right: 16px;
    }

    &.toRight {
        float: left;
        margin-left: 0;
        margin-right: 24px;

        @include breakpoint(md){
            margin-right: 48px;
        }
    }

    &.sticky {
        height: calc(100vh - 262px);
        overflow: auto;
    }

    @include breakpoint(md){
        display: block;
    }
}

.company, .dashboard, .dimension {
    width: 100%;
    float: left;

    @include breakpoint(md){
        width: calc(100% - 296px - 80px);
    }
    
    &.no-sidebar {
        width: 100%;
    }

    .header {
        margin-bottom: 40px;
        h1 {
            font-family: $FPThin;
        }

        p.subheader {
            font-family: $FPLight;
            font-size: 14px;
            color: $grey-dark;
            line-height: 17px;
            &.no-bottom-padding {
                padding-bottom: 0; //no sibling a
            }            
        }
        a.cta-link{
            cursor: pointer;
            font-family: $FPSemiBold;
            font-size: 14px;
            color:$blue-med-20;
        }
    }   
}

@import '../pages/index.scss';