.dimension {
    .subheader {
        padding-top: 8px;
        padding-bottom: 16px;
        width: 600px;  
    } 

    dimension-cards {
        margin-top: 24px;
        margin-bottom: 40px;
    }
}