<div class="dimension no-sidebar ">
    <div class="header">
        <h1>{{dimensionTitle}}</h1>
        <p class="subheader">Cold calling can be a great way to generate quality leads. You get to speak to the gatekeepers and stakeholders, and you get a great insight into their requirements and influences.</p>
        <a class="cta-link" ng-click="addNewDim()">Add Product</a>
    </div>
    <div class="main">
        <dimension-cards class="full-width" data="dimensionData" show-all-cards="true"></dimension-cards>
    </div>
</div>