@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.text input {
    width: calc(100% - 14px - 14px);
    font-size: 14px;
    font-family: $FPLight;
    padding-left: 14px;
    padding-right: 14px;
    background: $white;
    @include vcenterChildren;
}

.text textarea {
    width: calc(100% - 14px - 14px);
    line-height: 18px;
    height: 72px;
    font-size: 14px;
    font-family: $FPLight;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    background: $white;
    @include vcenterChildren;
}

.text .rich-text {
    padding: 0;
}

