<div class="upload-asset-popup">
  <h1 [hidden]="previewContent">Capture URL</h1>
  <h1 [hidden]="!previewContent" contenteditable="true">{{urlInfo.title}}</h1>
  <div class="preview-text">
    <img src="/assets/images/icons/globe_earth.svg" />
    <input (blur)="showPreview()" [(ngModel)]="urlInfo.url"/>
  </div>
  <div [hidden]="!previewContent">
    <div class="preview-img" *ngIf="thumbnailUrl">
      <img [src]="thumbnailUrl" />
    </div>
    <div class="preview-tag">
      <ebx-select [formControl]="contentTypeCtrl"
          headIcon="/assets/images/icons/hash_icon.svg"
          [options]="contentTypes"></ebx-select>
    </div>
    

    <!-- <div>
      <mat-form-field floatPlaceholder="never" class="example-full-width">
        <input matInput placeholder="Type" aria-label="Type" [matAutocomplete]="auto" [formControl]="contentTypeCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let type of filteredContentTypes | async" [value]="type.label">
            <span>{{ type.label }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div> -->
  </div>
  <div class="actionBtns">
    <button class="action" (click)="captureUrl()">Capture</button>
    <button class="cancel" mat-dialog-close>Cancel</button>
  </div>
</div>