  <div class="assets-navbar">
    <div (click)="goBackHome()">
        <button class="circle icon-btn">
            <div class="icon small back"></div>
        </button>
    </div>
    <div *ngIf="!editing">
        <div class="dashboard-buttons">
            <div class="action-btn add-padding" (click)="editState()">
                <div class="icon small edit"></div>
                <p class="show-me">Edit</p>
            </div>
            <ebx-content-delete-button class="action-btn" [container]="container" [record]="record" contentType="Asset" [crRecord]="contentRequest"></ebx-content-delete-button>
            <div class="divider"></div>
            <ebx-content-email-button *ngIf="!contentRequest" class="action-btn" [container]="container" [record]="record" ></ebx-content-email-button>
            <div class="divider"></div>
            <ebx-copy-portal-url-button *ngIf="!contentRequest" class="action-btn" [container]="container" [record]="record"></ebx-copy-portal-url-button>
            <ebx-doc-download-button *ngIf="record?.__decoration?.__docMetadata" class="action-btn" [container]="container" [record]="record"></ebx-doc-download-button>
        </div>
    </div>

    <div *ngIf="editing">
        <div class="publish-buttons">
            <button class="publish-btn" (click)="publishContent()">
                <div class="icon small send"></div>
                <p class="btn-text">Publish</p>
            </button>
            <button class="publish-btn" *ngIf="isNewRec || isDraft" (click)="saveDraft()">
                <div class="icon small save"></div>
                <p class="btn-text">Save as Draft</p>
            </button>
            <button class="publish-btn white" (click)="cancelEdit()">
                <div class="icon small cancel"></div>
                <p class="btn-text">Cancel</p>
            </button>
        </div>
    </div>
    <div class="far-right">
        <ebx-user-icon></ebx-user-icon>
    </div>
  </div>
  <div class="container">
    <div class="assets-container flex-row" *ngIf="record">
      <div class="left">
          <h1 *ngIf="editing" contenteditable="true" class="editable" [(ngModel)]="record[container.titleItemId]"></h1>
          <h1 *ngIf="!editing">{{record.__title}}</h1>
          <p class="label">Last updated {{record.modifiedAt | ebxDate}}</p>
          <div class="row" *ngIf="contentSource">
              <p class="label">Source</p>
              <div class="text">{{contentSource}}</div>
          </div>
          <ng-container *ngFor="let item of inputItems">
            <div class="row" [hidden]="!editing && !hasValue(record[item.id])">
                <ebx-content-item [record]="record" [contentItem]="item" [editable]="editing"></ebx-content-item>
            </div>
          </ng-container>
          <div class="row">
              <p class="label">Content Type</p>
              <div class="tags-container">
                <ebx-type-pill [containerQId]="container?.qualifiedId" [navigable]="true"></ebx-type-pill>
              </div>
          </div>
          <ebx-content-tags [record]="record" [tagItems]="boundedItems" [editing]="editing"></ebx-content-tags>
          <!-- <div class="row with-height">
              <p class="label">Properties</p>
              <div class="sectors-container">
                  <div class="dashboard-buttons no-float">
                      <div class="action-btn">
                          <div class="icon small plus"></div>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
      <div class="right">
          <ebx-content-preview [record]="record" [container]="container" [editing]="editing"></ebx-content-preview>
      </div>
    </div>
  </div>
