<div class="login-container" [hidden]="loginSuccess">
  <div class="form-container">
		<form (submit)="loginUser($event)">
			<div *ngIf="invalidCredentials" class="input-group error">Invalid username or password</div>
			<div class="input-group">
				<div class="label">Username</div>
				<div><input type="text" name="username" [(ngModel)]="username"></div>
			</div>
			<div class="input-group">
				<div class="label">Password</div>
				<div><input type="password" name="password" [(ngModel)]="password"></div>
			</div>
			<div class="input-group">
				<div class="action-btn"><button type="submit">Login</button></div>
			</div>
		</form>
	</div>
</div>