<div class="login-container" [hidden]="loginSuccess">
  <div class="form-container">
		<form (submit)="loginUser($event)">
			<div *ngIf="invalidCredentials" class="input-group error">Invalid username or password</div>
			<div class="input-group">
				<!-- <div class="label">Username</div> -->
				<div><input type="text" name="username" [(ngModel)]="username" placeholder="Email"></div>
			</div>
			<div class="input-group">
				<!-- <div class="label">Password</div> -->
				<div><input type="password" name="password" [(ngModel)]="password" placeholder="Password"></div>
			</div>
			<div>
				<div class="pretty p-icon" (change)="onRecordSelectChange($event, rec)">
          <input type="checkbox" [checked]="rememberMe" (change)="rememberMe = !rememberMe">
          <div class="state p-primary">
          	<i class="icon mdi mdi-check"></i><label>Remember Me</label>
          </div>
        </div>
			</div>
			<div class="input-group">
				<div class="action-btn"><button type="submit">Login</button></div>
			</div>
		</form>
	</div>
</div>