<label class="form-label">{{label}}</label>
<div layout="row">
<div flex>
<ui-select multiple ng-model="bounded.selected" theme="bootstrap" ng-disabled="disabled" sortable="true" 
	close-on-select="false" remove-selected="false" on-select="onItemSelect($item, $model)" 
	on-remove="onItemRemove($item, $model)">
  <ui-select-match>{{$item.label}}</ui-select-match>
  <ui-select-choices repeat="opt in options | filter: {label: $select.search}">
    {{opt.label}}
  </ui-select-choices>
</ui-select>
</div>
<span class="dd-action-icon" flex="none">
<img src="img/select-all.svg" ng-click="onSelectAll()"></img>
</span>
<span class="dd-action-icon" flex="none">
<img src="img/deselect-all.svg" ng-click="onDeselectAll()"></img>
</span>
<!-- 
<span class="fa-stack check-all" ng-click="onSelectAll()" flex="none">
  <i class="fa fa-clone fa-stack-1x"></i>
  <i class="fa fa-check fa-stack-1x" style="padding: 1px 0px 0px 3px;"></i>
</span>
<span class="fa-stack uncheck-all" ng-click="onDeselectAll()" flex="none">
  <i class="fa fa-clone fa-stack-1x"></i>
  <i class="fa fa-times fa-stack-1x" style="padding: 1px 0px 0px 3px;"></i>
</span>
 -->
</div>
