<div class="block">
	<div class="head">
		<h2>{{pageHeading}}</h2>
	</div>
	<div class="cont">
		<table class="infotable" >
			<tr ng-repeat="item in containerDef.contentItem">
				<th>{{item.label}}:</td>
				<td>{{containerData[item.id] | ebxFormatData: item.type}}&nbsp;
					<span ng-if="item.type == 'DOC' && containerData[item.id].name" class="download">
						<eb-doc-download doc-value="containerData[item.id].identity"></eb-doc-download>
					</span>
				</td>
			</tr>
		</table>
	</div>
	<div class="foot clearfix">
		<a ng-click="deleteRecord()" class="button button-edit">Delete</a>
		<a ng-click="navToEdit()" class="button button-delete">Edit</a>
	</div>
</div>
