<h4>{{pageHeading}}</h4>
<table class="table table-striped table-bordered table-sorting" >
<tr ng-repeat="item in containerDef.contentItem">
	<td class="col-md-2"><label>{{item.label}}</label></td>
	<td class="col-md-6">{{containerData[item.id] | ebxFormatData: item.type}}&nbsp;
		<span ng-if="item.type == 'DOC' && containerData[item.id].name">
			<eb-doc-download doc-value="containerData[item.id].identity"></eb-doc-download>
		</span>
	</td>
</tr>
</table>
<p><button ng-click="navToEdit()" type="button" class="btn btn-default">Edit</button>&nbsp;
<button ng-click="deleteRecord()" type="button" class="btn btn-default">Delete</button></p>