<div class="block">
	<div class="head">
		<div class="header-link">
			<span class="edit"><a ng-if="$state.includes('studio')" class="fa fa-link" ng-click="manageQuickLinks()"></a></span>
			<span class="details"><a ng-if="$state.includes('studio')" class="fa fa-thumbs-up" ng-click="addToRecommendation()"></a></span>
		</div>
		<h2>{{pageHeading}}</h2>
	</div>
	<div class="cont">
		<table class="infotable" >
			<tr ng-repeat="item in containerDef.contentItem">
				<!--td ng-if="item.type == 'CONTENT_STACK'" class="display-table" colspan="2">
					<eb-content-stack content-def="item" content-list="containerData[item.id]" read-only="true"></eb-content-stack>
				</td-->
				<th>{{item.label}}:</th>
				<td ng-if="item.type == 'CONTENT_STACK'" class="display-table">
					<eb-content-stack content-def="item" content-list="containerData[item.id]" read-only="true"></eb-content-stack>
				</td>
				<td ng-if="item.type != 'CONTENT_STACK'">
					<span class="content-data" ng-bind-html="containerData[item.id] | ebxFormatData: item : containerData"></span>
					<span ng-if="item.type == 'DOC' && containerData[item.id].name" class="download">
						<eb-doc-download doc-value="containerData[item.id].identity"></eb-doc-download>
						<eb-doc-preview-action doc-identity="containerData[item.id].identity" doc-metadata="containerData[item.id]"></eb-doc-preview-action>
					</span>
				</td>
			</tr>
		</table>
	</div>
	<div class="foot clearfix">
		<a ng-click="deleteRecord()" class="button button-delete">Delete</a>
		<a ng-click="navToEdit()" class="button button-edit">Edit</a>
	</div>
</div>
