<div ng-repeat="item in containerDef.contentItem" class="cont">
	<div ng-hide="item.hide">
	<div ng-if="item.type == 'TEXT' && $first">
		<eb-text focusValue="true" content-def="item" text-value="containerData[item.id]"></eb-text>
	</div>
	<div ng-if="item.type == 'TEXT' && !$first">
		<eb-text focusValue="false" content-def="item" text-value="containerData[item.id]"></eb-text>
	</div>
	<div ng-if="item.type == 'NUMERIC'">
		<eb-text content-def="item" text-value="containerData[item.id]"></eb-text>
	</div>
	<div ng-if="item.type == 'DOC'">
		<eb-file-upload content-def="item" doc-value="containerData[item.id]" 
				data-parent-identity="parentIdentity" data-container-identity="containerData.identity"
				data-doc-identity="containerData[item.id].identity" temporary="temporaryFileUpload">
		</eb-file-upload>
	</div>
	<div ng-if="item.type == 'BOUNDED'">
		<eb-bounded content-def="item" select-value="containerData[item.id]"></eb-bounded>
	</div>
	<div ng-if="item.type == 'DATE_TIME'">
		<eb-date-picker content-def="item" date-value="containerData[item.id]"></eb-date-picker>
	</div>
	</div>
</div>