<div class="popup-wrapper">
  <div class="header">
    <h1>Share On Slack</h1>
  </div>
  <div class="form-input compact">
    <div class="input-control">
      <ebx-select [formControl]="channelsCtrl" placeholder="Slack Channel" 
          [options]="slackChannels" [multi]="true"></ebx-select>
    </div>
  </div>
  <div class="form-input compact">
    <div class="input-control">
      <textarea placeholder="Message (optional)" name="message" [(ngModel)]="message"></textarea>
    </div>
  </div>
  <div class="actionBtns">
    <button class="action" (click)="share()">Share</button>
    <button class="cancel" mat-dialog-close>Cancel</button>
  </div>
</div>
