<div class="upload-asset-popup">
  <h1 [hidden]="previewContent" class="url-title">Add URL</h1>
  <h1 [hidden]="!previewContent" class="url-title"><span id="ce-asset-title" contenteditable="true" [(ngModel)]="urlInfo.title" [ngModelOptions]="{standalone: true}" (input)="onTitleChange()"></span><img src="/assets/images/icons/pencil-grey.svg" (click)="focusOnTitle('ce-asset-title')"/></h1>
  <div class="input-error" [hidden]="!errors.title?.required">
    Please enter a title
  </div>
  <div class="preview-text">
    <img src="/assets/images/icons/globe_earth.svg" />
    <input [(ngModel)]="urlInfo.url" type="text" name="urlInfo.url" [disabled]="previewContent" />
  </div>
  <div [hidden]="!previewContent">
    <div class="preview-img" [class.default-url-img]="defaultImg" *ngIf="thumbnailUrl">
      <img [src]="thumbnailUrl" />
    </div>
    <div class="preview-tag">
      <ebx-select [formControl]="contentTypeCtrl"
          placeholder="Select content type"
          [options]="contentTypes"></ebx-select>
      <div class="input-error" [hidden]="!errors.contentType?.required">
        Please select a content type
      </div>
    </div>
  </div>
  <div class="content-uploading" *ngIf="loadingPreview">
    <img src="/assets/images/icons/loading_icon.gif">
  </div>
  <div class="actionBtns">
    <button class="action" (click)="showPreview()" [hidden]="previewContent">Next</button>
    <button class="action" (click)="captureUrl()" [hidden]="!previewContent">Add</button>
    <button class="cancel" mat-dialog-close>Cancel</button>
  </div>
</div>