<form class="block" name="userForm" novalidate="novalidate">
<div class="head">
	<h2 >Edit User</h2>
</div>
<div class="cont">
	<div>
		<label class="form-label">Name </label>
		<input name="Name" placeholder="Enter Name" class="form-control" type="text" ng-model="newUser.name" size="80" required>
	</div>
	<div ng-messages="userForm.Name.$error" ng-if='userForm.Name.$touched' role="alert">
    <div ng-message="required" class="error">You did not enter a Name</div>    
  </div>
</div>
<div class="cont">
	<div>
		<label class="form-label">User Name</label>
		<input name="userName" placeholder="Enter User Name" class="form-control" ng-model="newUser.userId" ng-blur="checkUserName()" type="text" size="80" required>
	</div>
	<div ng-messages="userForm.userName.$error" ng-if='userForm.userName.$touched' role="alert">
    <div ng-message="required" class="error">You did not enter a Name</div>
    <div ng-message="unexits" class="error">Username already exits ! please try with different Username</div>    
  </div>
</div>
<div class="cont">
	<div>
		<label class="form-label">Email</label>
		<input name="email" placeholder="Enter Email Id " class="form-control" ng-model="newUser.email" type="email" size="80" required>
	</div>
	<div ng-messages="userForm.email.$error" ng-if='userForm.email.$touched' role="alert">
    <div ng-message="required" class="error">You did not enter a email</div> 
    <div ng-message="email" class="error">Please enter a valid email</div>    
  </div>
</div>
<div class="cont">
	<div>
		<label class="form-label">Password</label>
		<input name="password" placeholder="Enter Password" class="form-control" ng-model="newUser.password" type="password" size="80" required>
	</div>
	<div ng-messages="userForm.password.$error" ng-if='userForm.password.$touched' role="alert">
    <div ng-message="required" class="error">You did not enter a Password</div>    
  </div>
</div>
<div class="foot clearfix">
	<button ng-click="userForm.$valid && saveUserData()" class="button button-add">Save</button>
	<a href="#" ng-click="cancelOperation()" class="button button-delete">Cancel</a>
</div>
</form>