<form class="block" name="userForm" novalidate="novalidate">
	<div class="head">
		<h2>Edit User</h2>
	</div>
	<div class="cont">
		<div>
			<label class="form-label">Name </label> <input focus="true"
				name="name" placeholder="Enter Name" class="form-control"
				type="text" ng-model="userProfile.name" size="80" required>
		</div>
		<div ng-messages="userForm.name.$error" ng-if='userForm.name.$touched'
			role="alert">
			<div ng-message="required" class="error">Please enter name</div>
		</div>
	</div>
	<div class="cont">
		<div>
			<label class="form-label">Email</label> <input name="userId"
				placeholder="Enter Email Id " class="form-control"
				ng-model="userProfile.email" ng-blur="checkUserName()" type="text"
				size="80" required
				ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5})$/">
		</div>
		<div ng-messages="userForm.userId.$error"
			ng-if='userForm.userId.$touched' role="alert">
			<div ng-message="required" class="error">Please enter a valid
				email address</div>
			<div ng-message="pattern" class="error">Please enter valid
				email</div>
			<div ng-message="unexits" class="error">User email already
				registered</div>
		</div>
	</div>
	<div class="cont play-tabs">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab	label="System Profile"> 
				<br/>
				<div>
					<label class="form-label">Roles</label>
					<span ng-repeat="role in allRoles" class="chckBox">
					<input type="checkbox"
						value="role.identity" ng-model="role.selected">&nbsp;&nbsp;{{role.roleName}}<br/>
					</span>
				</div>
				
				<br/>
				
				<div>
					<label class="form-label">Preferences</label>
					<span class="chckBox">
						<input type="checkbox" ng-model="userProfile.systemProfile.sendWeeklyDigest">&nbsp;&nbsp;Send Weekly Digest
					</span>
				</div>
				
			</md-tab> 
			<md-tab	label="Business Profile">
				<ng-include src="'views/content/content-add-fields.html'"></ng-include>
			</md-tab>
		</md-tabs>
	</div>
	<div class="foot clearfix">
		<button ng-click="userForm.$valid && saveUserData()"
			class="button button-add">Save</button>
		<a ng-click="cancelOperation()" class="button button-delete">Cancel</a>
	</div>
</form>