<div class="block">
	<div class="head">
		<a ng-click="addUser()" class="button button-add">Add new</a>
		<h2 class="ng-binding">Users <span ng-if="::pageData">({{pageData.totalElements}})</span></h2>
	</div>
	<div class="data-filter-cont">
		<ebx-data-filters heading="Filter" filters="filters" search-label="Go" on-search="onSearch" search-on-page-load="true"/>
	</div>
	<ebx-generic-table table-headers="tableHeaders" table-data="userData" row-actions="tableRecordActions" 
						page-data="pageData" pagination-data="pagination" fetch-result-fn="fetchData"></ebx-generic-table>
</div>
