content-types{
    .header {
        h2 {
            font-family: $FPThin;
            font-size: 24px;
            color: $black;
            padding-bottom: 16px;
        }

        p {
            font-family: $FPLight;
            font-size: 14px;
            color: $grey-dark;
            line-height: 17px;
        }
        height: 74px;
        margin-bottom: 32px;
    }

    
    .filtered {
        .tag {
            margin-bottom: 0px;

            &.white {
                background: white;
                color: #1F8AEF;
                border: 1px solid #E3EBEF;
            }
        }
    }
}