<!DOCTYPE html>
<html lang="en	">
<head>
	<meta charset="utf-8">
	<title>Enablix</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=1024">
    <link rel="icon" type="image/png" href="/favicon.png">
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/themes/united/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/themes/cerulean/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/angular.treeview.css"> -->
	<link rel="stylesheet" type="text/css" href="css/enablix.css">
	<link rel="stylesheet" type="text/css" href="css/file-input.css">
	<link rel="stylesheet" type="text/css" href="css/isteven-multi-select.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/listGroupTreeview.css"> -->
	<link rel="stylesheet" type="text/css" href="css/angular-ui-notification.min.css">
	<link rel="stylesheet" type="text/css" href="css/select.css">
	<link rel="stylesheet" href="css/angular-material.min.css">
	<link rel="stylesheet" href="//cdn.quilljs.com/1.1.5/quill.snow.css">
	<link rel="stylesheet" href="//cdn.quilljs.com/1.1.5/quill.bubble.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<script type="text/javascript" src="js/vendor/jquery/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/vendor/bootstrap/bootstrap.min.js"></script>
	
	<!-- angular scripts -->
	<script type="text/javascript" src="js/vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-aria.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-resource.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-ui-router.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-sanitize.js"></script>
	<script type="text/javascript" src="js/common/widgets/tree/angular.treeview.js"></script>
	<script type="text/javascript" src="js/common/widgets/tree/listGroupTree.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-file-upload.js"></script>
	<script type="text/javascript" src="js/vendor/angular/ui-bootstrap-tpls-0.12.1.js"></script>
	<script type="text/javascript" src="js/vendor/multi-select/isteven-multi-select.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-ui-notification.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-messages.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/select.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate-loader-url.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate-loader-static-files.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-no-captcha.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-pubsub.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-material.min.js"></script>
	<script type="text/javascript" src="js/vendor/spin/spin.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-spinner.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-loading-spinner.js"></script>
	<script type="text/javascript" src="//cdn.quilljs.com/1.1.5/quill.js"></script>
	<script type="text/javascript" src="js/vendor/ng-quill-3.0.0/ng-quill.js"></script>
	<script type="text/javascript" src="js/vendor/angular/digest-hud.js"></script>
	<script type="text/javascript" src="//d3js.org/d3.v3.js"></script>
	<script type="text/javascript" src="js/vendor/charts/heatmap.js"></script>
	
	<!-- application scripts -->
	<script type="text/javascript" src="js/common/utility.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/serverDomain.js"></script>
	<script type="text/javascript" src="js/serviceUrl.js"></script>
	<script type="text/javascript" src="js/common/restService.js"></script>
	<script type="text/javascript" src="js/common/lang-translate.js"></script>
	<script type="text/javascript" src="js/common/login/loginCtrl.js"></script>
	<script type="text/javascript" src="js/common/login/setPasswordController.js"></script>
	<script type="text/javascript" src="js/common/login/forgotPasswordController.js"></script>
	<script type="text/javascript" src="widgets/navigationTracker.js"></script>
	<script type="text/javascript" src="widgets/filter/appFilterModule.js"></script>
	<script type="text/javascript" src="widgets/filter/contentFormatFilter.js"></script>
	<script type="text/javascript" src="widgets/filter/dateFilter.js"></script>
	<script type="text/javascript" src="widgets/modal/actionNotesModal.js"></script>
	<script type="text/javascript" src="widgets/modal/confirmationModal.js"></script>
	<script type="text/javascript" src="widgets/modal/infoModal.js"></script>
	<script type="text/javascript" src="widgets/modal/infoModalController.js"></script>
	<script type="text/javascript" src="widgets/cache/cacheService.js"></script>
	<script type="text/javascript" src="widgets/resourceVersionService.js"></script>
	
	<script type="text/javascript" src="widgets/directive/compile/bindHtmlCompile.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/sharePopup/shareContextMenu/shareContextMenuDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/focus/focusDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/back/backButtonDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/text/textInputDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/richtext/richtextEditorDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/renderData/renderDataDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/table/tableDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/genericTable/genericTableDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/pagination/paginationDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/sort/sortDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/fileUploadDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/fileUploadController.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/docService.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/preview/docPreviewActionController.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/preview/docPreviewActionDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/preview/docPreviewController.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/preview/docPreviewService.js"></script>
	<script type="text/javascript" src="widgets/directive/contentstack/contentstackDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/bounded/boundedDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/bounded2/boundedDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/bounded/multiSelectCheckDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/date/dateTimeDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/download/downloadDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/doc/download/downloadController.js"></script>
	<script type="text/javascript" src="widgets/directive/search/searchDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/contextmenu/recordContextMenuDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/topnav/navController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/topnav/navDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/subContainer/subContainerController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/subContainer/subContainerDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/breadcrumb/breadcrumbDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/breadcrumb/breadcrumbController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/link/navLinkController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/link/navLinkDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/reco/recoController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/reco/recoDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/recent/recentService.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/recent/recentController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/recent/recentDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/quicklinks/quickLinksController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/quicklinks/quickLinksDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/peers/peersService.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/peers/peersController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/peers/peersDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/search/searchResultItemController.js"></script>
	<script type="text/javascript" src="widgets/directive/search/searchResultItemDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/content/suggestContentDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/passwordChecked.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/sharePopup/share-content-popup.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/sharePopup/share-content-popupController.js"></script>
	<script type="text/javascript" src="widgets/directive/condition/conditionAttrsController.js"></script>
	<script type="text/javascript" src="widgets/directive/condition/conditionAttrsDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/play/scope/playScopeDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/play/userGroup/playUserGroupsController.js"></script>
	<script type="text/javascript" src="widgets/directive/play/userGroup/playUserGroupsDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/play/contentGroup/playContentGroupsController.js"></script>
	<script type="text/javascript" src="widgets/directive/play/contentGroup/playContentGroupsDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/play/contentGroup/detail/playContentGroupDetailController.js"></script>
	<script type="text/javascript" src="widgets/directive/play/contentGroup/detail/playContentGroupsCorrItemDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/play/execution/playExecutionDefController.js"></script>
	<script type="text/javascript" src="widgets/directive/play/execution/playExecutionDefDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/play/execution/detail/playActionDetailController.js"></script>
	<script type="text/javascript" src="widgets/directive/play/execution/detail/playExecuteOnDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/play/execution/detail/action/emailActionDefDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/play/userGroup/detail/playUserGroupDetailController.js"></script>
	<script type="text/javascript" src="widgets/directive/content/browser/systemBrowserWindowController.js"></script>
	<script type="text/javascript" src="widgets/directive/content/browser/systemContentBrowser.js"></script>
	<script type="text/javascript" src="widgets/directive/browser/genericListBrowser.js"></script>
	<script type="text/javascript" src="widgets/directive/browser/genericListBrowserCtrl.js"></script>
	<script type="text/javascript" src="widgets/directive/dataFilter/dataFiltersDirective.js"></script>
	<script type="text/javascript" src="widgets/directive/dataFilter/multiselect/multiSelectFilterDirective.js"></script>
	
	<script type="text/javascript" src="widgets/stateUpdateService.js"></script>
	<script type="text/javascript" src="widgets/content/template/contentTemplateService.js"></script>
	<script type="text/javascript" src="widgets/content/data/contentRequestListController.js"></script>
	<script type="text/javascript" src="widgets/content/data/contentDataService.js"></script>
	<script type="text/javascript" src="widgets/content/data/contentOperInitService.js"></script>
	<script type="text/javascript" src="widgets/content/data/contentApprovalService.js"></script>
	<script type="text/javascript" src="widgets/content/index/contentIndexService.js"></script>
	<script type="text/javascript" src="widgets/content/refdata/refdataIndexService.js"></script>
	<script type="text/javascript" src="widgets/studio/studioInitService.js"></script>
	<script type="text/javascript" src="widgets/search/searchService.js"></script>
	<script type="text/javascript" src="widgets/search/data/dataSearchService.js"></script>
	<script type="text/javascript" src="widgets/content/contentUtil.js"></script>
	<script type="text/javascript" src="widgets/content/qIdUtil.js"></script>
	<script type="text/javascript" src="widgets/condition/conditionUtil.js"></script>
	<script type="text/javascript" src="widgets/auth/authorizationService.js"></script>
	<script type="text/javascript" src="widgets/auth/requiresPermDirective.js"></script>
	<script type="text/javascript" src="widgets/system/systemAdminController.js"></script>
	<script type="text/javascript" src="widgets/system/audit/auditConfigController.js"></script>
	<script type="text/javascript" src="widgets/system/audit/auditConfigService.js"></script>
	<script type="text/javascript" src="widgets/system/docstore/docstoreConfigController.js"></script>
	<script type="text/javascript" src="widgets/system/quicklinks/quickLinksService.js"></script>
	<script type="text/javascript" src="widgets/system/quicklinks/quickLinksConfigController.js"></script>
	<script type="text/javascript" src="widgets/system/reco/recoService.js"></script>
	<script type="text/javascript" src="widgets/system/reco/recoConfigController.js"></script>
	<script type="text/javascript" src="widgets/system/share/contentShareService.js"></script>
	<script type="text/javascript" src="widgets/account/myAccountController.js"></script>
	<script type="text/javascript" src="widgets/content/refdata/userCtrl.js"></script>
	<script type="text/javascript" src="widgets/content/refdata/userService.js"></script>
	<script type="text/javascript" src="widgets/content/quicklinks/assocQuickLinkController.js"></script>
	<script type="text/javascript" src="widgets/content/quicklinks/assocQuickLinksModal.js"></script>
	<script type="text/javascript" src="widgets/content/reco/manageRecoController.js"></script>
	<script type="text/javascript" src="widgets/content/reco/manageRecoModal.js"></script>
	<script type="text/javascript" src="widgets/config/configurationService.js"></script>
	<script type="text/javascript" src="widgets/system/docstore/docstoreConfigService.js"></script>
	<script type="text/javascript" src="widgets/system/docstore/docstoreConfigMetadata.js"></script>
	<script type="text/javascript" src="widgets/content/refdata/saveUserController.js"></script>
	<script type="text/javascript" src="widgets/content/refdata/editUserController.js"></script>
	<script type="text/javascript" src="widgets/content/refdata/emailConfController.js"></script>
	<script type="text/javascript" src="widgets/system/contentconn/contentConnectionService.js"></script>
	<script type="text/javascript" src="widgets/system/contentconn/contentConnListController.js"></script>
	<script type="text/javascript" src="widgets/system/contentconn/contentConnDetailController.js"></script>
	<script type="text/javascript" src="widgets/system/contentconn/contentConnAddEditController.js"></script>
	<script type="text/javascript" src="widgets/play/playMainController.js"></script>
	<script type="text/javascript" src="widgets/play/def/playDefinitionService.js"></script>
	<script type="text/javascript" src="widgets/play/playXListController.js"></script>
	<script type="text/javascript" src="widgets/play/addEditXPlayCtrl.js"></script>
	<script type="text/javascript" src="widgets/corr/correlationService.js"></script>
	
	<script type="text/javascript" src="js/mainController.js"></script>
	<script type="text/javascript" src="widgets/content/index/contentIndexController.js"></script>
	<script type="text/javascript" src="widgets/content/data/detail/contentDetailController.js"></script>
	<script type="text/javascript" src="widgets/content/data/detail/contentSuggestDetailController.js"></script>
	<script type="text/javascript" src="widgets/content/data/list/contentListController.js"></script>
	<script type="text/javascript" src="widgets/content/data/add/contentAddController.js"></script>
	<script type="text/javascript" src="widgets/content/data/add/contentSuggestController.js"></script>
	<script type="text/javascript" src="widgets/content/data/add/contentSuggestEditController.js"></script>
	<script type="text/javascript" src="widgets/content/data/edit/contentEditController.js"></script>
	<script type="text/javascript" src="widgets/content/refdata/refdataIndexController.js"></script>
	<script type="text/javascript" src="widgets/audit/activityAuditService.js"></script>
	<script type="text/javascript" src="widgets/portal/portalController.js"></script>
	<script type="text/javascript" src="widgets/portal/recent/recentListController.js"></script>
	<script type="text/javascript" src="widgets/portal/container/portalCntnrDetailController.js"></script>
	<script type="text/javascript" src="widgets/portal/container/portalSubCntnrListController.js"></script>
	<script type="text/javascript" src="widgets/portal/container/portalCntnrListController.js"></script>
	<script type="text/javascript" src="widgets/portal/container/portalCntnrBodyCtrl.js"></script>
	<script type="text/javascript" src="widgets/portal/container/portalCntnrRecommendedCtrl.js"></script>
	<script type="text/javascript" src="widgets/portal/container/portalCntnrSubItemCtrl.js"></script>
	<script type="text/javascript" src="widgets/portal/enclosure/portalEnclDetailController.js"></script>
	<script type="text/javascript" src="widgets/portal/enclosure/portalEnclRecommendedCtrl.js"></script>
	<script type="text/javascript" src="widgets/portal/search/portalSearchController.js"></script>
	<script type="text/javascript" src="widgets/account/slack/slackAuthController.js"></script>
	<script type="text/javascript" src="widgets/account/slack/slackDtlsController.js"></script>
	<script type="text/javascript" src="widgets/directive/portal/sharePopup/shareSlack/shareToSlack.js"></script>
	
	<script type="text/javascript" src="widgets/reports/reportsMainController.js"></script>
	<script type="text/javascript" src="widgets/reports/reportDetailController.js"></script>
	<script type="text/javascript" src="widgets/reports/reportService.js"></script>

</head>

<body ng-app="studio" style="display: none;">
<div us-spinner="{shadow: false}"></div>
<!-- MAIN CONTENT -->
<div class="page">
<div class="page-inner">
<div class="page-content">
<!-- NAVIGATION -->
<div ng-controller="LoginController">

<!-- page header -->
<header class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<!-- logo -->
				<a href="#/portal/home" class="logo"><img src="widgets/img/logo.png"><span translate="app.name"></span></a>
				<!--/ logo -->
			</div>
			<div class="col-sm-8" ng-if="authenticated">
				<!-- main nav -->
				<nav class="main-nav container-fluid">
					<a href="#" ng-class="{active:$state.includes('portal')}" ui-sref="portal.home">Portal</a>
					<li requires-permission="VIEW_STUDIO">
						<a href="#" ng-class="{active:$state.includes('studio') || $state.includes('play')}">Studio&nbsp;<i class="fa fa-angle-down"></i></a>
						<ul class="main-nav-secondary">
							<li><a ui-sref="studio({studioName: 'content'})">Content Manager</a></li>
							<li><a ui-sref="play" requires-permission="MANAGE_PLAYS">PlayMaker</a></li>
							<!--<li><a ui-sref="contentkit.list" requires-permission="MANAGE_CONTENT_KIT">Content Kit</a></li>-->
						</ul>
					</li>
					<a requires-permission="VIEW_REPORTS" href="#" ng-class="{active:$state.includes('reports')}" ui-sref="reports">INSIGHTS</a>
					<!-- <a href="#" ui-sref-active="active" ui-sref="refdata">Setup</a> -->
					<li requires-permission="VIEW_STUDIO">
						<a href="#" ng-class="{active:$state.includes('refdata') || $state.includes('system')}">Setup&nbsp;<i class="fa fa-angle-down"></i></a>
						<ul class="main-nav-secondary">
							<li><a ui-sref="refdata">Reference Data</a></li>
							<li><a ui-sref="system.users.list">System Admin</a></li>
						</ul>
					</li>
					<li>
						<a title="My Account" ui-sref="myaccount.contentrequestlist"><i class="fa fa-user fa-lg"></i></a>
						<i></i>
					</li>
					<a href="#" ng-show="authenticated" ng-click="logout()">Logout</a>					
				</nav>
				<!--/ main nav -->
			</div>
		</div>
	</div>
</header>
<!--/ page header -->
</div>

    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>

</div>
</div>
</div>
<!-- page footer -->
<footer class="page-footer">
	<!-- copyrights -->
	<div class="copyrights">&copy 2017 Enablix LLC. All rights reserved. | <a href="/terms" target="_blank">Terms and Conditions</a> | <a href="/privacy" target="_blank">Privacy Policy</a></div>
	<!--/ copyrights -->
</footer>
<!--/ page footer -->

<!-- scripts -->
<script src="js/vendor/jquery/jquery-2.1.3.min.js"></script>
<script src="js/vendor/jquery/jquery.select2.min.js"></script>
<script src="js/main.js"></script>
<!--/ scripts -->
		
</body>
</html>
