<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Enablix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=1024"> -->
    <link rel="icon" type="image/png" href="/favicon.png">
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/themes/united/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/themes/cerulean/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/angular.treeview.css"> -->
	<link rel="stylesheet" type="text/css" href="css/enablix.css">
	<link rel="stylesheet" type="text/css" href="css/file-input.css">
	<link rel="stylesheet" type="text/css" href="css/isteven-multi-select.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/listGroupTreeview.css"> -->
	<link rel="stylesheet" type="text/css" href="css/angular-ui-notification.min.css">
	<link rel="stylesheet" type="text/css" href="css/select.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<!--script type="text/javascript" src="js/vendor/jquery/jquery-1.11.2.min.js"></script-->
	<!-- <script type="text/javascript" src="js/vendor/bootstrap/bootstrap.min.js"></script> -->
	
	<!-- angular scripts -->
	<script type="text/javascript" src="js/vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-aria.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-resource.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-ui-router.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="js/common/widgets/tree/angular.treeview.js"></script>
	<script type="text/javascript" src="js/common/widgets/tree/listGroupTree.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-file-upload.js"></script>
	<script type="text/javascript" src="js/vendor/angular/ui-bootstrap-tpls-0.12.1.js"></script>
	<script type="text/javascript" src="js/vendor/multi-select/isteven-multi-select.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-ui-notification.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-messages.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/select.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate-loader-url.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate-loader-static-files.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-no-captcha.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-pubsub.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-material.min.js"></script>
	<script type="text/javascript" src="js/vendor/spin/spin.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-spinner.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-loading-spinner.js"></script>
	<script type="text/javascript" src="//cdn.quilljs.com/1.1.5/quill.js"></script>
	<script type="text/javascript" src="js/vendor/ng-quill-3.0.0/ng-quill.js"></script>
	<script type="text/javascript" src="js/vendor/angular/digest-hud.js"></script>
	<script type="text/javascript" src="//d3js.org/d3.v3.js"></script>
	<script type="text/javascript" src="js/vendor/charts/heatmap.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
	
	<!-- application scripts -->
	<script type="text/javascript" src="js/common/utility.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/serverDomain.js"></script>
	<script type="text/javascript" src="js/serviceUrl.js"></script>
	<script type="text/javascript" src="js/common/restService.js"></script>
	<script type="text/javascript" src="js/common/lang-translate.js"></script>
	<script type="text/javascript" src="js/common/login/login2Ctrl.js"></script>
	<script type="text/javascript" src="js/common/login/setPasswordController.js"></script>
	<script type="text/javascript" src="js/common/login/forgotPasswordController.js"></script>
	<script type="text/javascript" src="widgets/studio/tenantInfoService.js"></script>
	<script type="text/javascript" src="widgets/filter/appFilterModule.js"></script>
	<script type="text/javascript" src="widgets/filter/contentFormatFilter.js"></script>
	<script type="text/javascript" src="widgets/filter/dateFilter.js"></script>

	<script type="text/javascript" src="widgets/directive/passwordChecked.js"></script>
	<script type="text/javascript" src="widgets/cache/cacheService.js"></script>
	<script type="text/javascript" src="widgets/resourceVersionService.js"></script>
	<script type="text/javascript" src="widgets/system/userpref/userPrefsService.js"></script>
	<script type="text/javascript" src="widgets/stateUpdateService.js"></script>
	<script type="text/javascript" src="widgets/navigationTracker.js"></script>
	<script type="text/javascript" src="widgets/studio/studioInitService.js"></script>
	<script type="text/javascript" src="widgets/auth/authorizationService.js"></script>
	<script type="text/javascript" src="widgets/auth/requiresPermDirective.js"></script>
	<script type="text/javascript" src="widgets/modal/infoModal.js"></script>
	
	<script type="text/javascript" src="js/mainController.js"></script>
	
	<script type="text/javascript" src="widgets/website/websiteMainCtrl.js"></script>
	<script type="text/javascript" src="widgets/website/contactus/contactUsModal.js"></script>
	<script type="text/javascript" src="widgets/website/contactus/contactUsController.js"></script>
	<script type="text/javascript" src="widgets/website/modalpage/modalPageService.js"></script>
	<script type="text/javascript" src="widgets/website/modalpage/modalPageController.js"></script>
	
    <script type="text/javascript" src="widgets/modal/infoModal.js"></script>
    <script type="text/javascript" src="widgets/modal/infoModalController.js"></script>
    <script type="text/javascript" src="widgets/navigationTracker.js"></script>
    
    <style type="text/css">
    
		.block .form-body .cont {
		    border-width: 0px 1px 0px 1px;
		}
		
		.form-body {
		    border-bottom: 1px solid #dce1e5;
		}
		
		.form-body .foot {
			border-top: 1px solid #dce1e5;
		}
		
    </style>
    
</head>

<body ng-app="studio" >
<div us-spinner="{shadow: false}"></div>

<!-- MAIN CONTENT -->
<div class="page">
<div class="page-inner">
<div class="page-content">
<!-- NAVIGATION -->
<div >

<!-- page header -->
<header class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<!-- logo -->
				<a href="/" class="logo"><img src="widgets/img/logo.png"><span translate="app.name"></span></a>
				<!--/ logo -->
			</div>
		</div>
	</div>
</header>
<!--/ page header -->
</div>
<div style="padding: 0 1em 2em 1em;">
	<div>
		<div style="font-size: 32px; margin-top: 16px; font-family: Montserrat; font-weight: 500;">Enable Your Content</div>
	</div>
	<div class="row" style="margin-top: 15px;">
		<main class="col-md-8">							
			<div class="block" style="margin-top: 0;">
			<script src="https://fast.wistia.com/embed/medias/5ti02nh9qq.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_5ti02nh9qq videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
			</div>
		</main>
		<aside class="col-md-4" ng-controller="ContactUsController">
			<p style="margin-left: 5px;">Out of content chaos. Into Simplicity.</p>
			<div class="block" style="margin-top: 1em;">
				<form name="modalForm">
					<div class="head bottom-border">
						<h2>Request Demo</h2>
					</div>
					<div class="form-body">
						<div class="cont">
							<label class="form-label">Name</label>
							<input type="text" name="name" ng-model="contactUsForm.name" class="form-control" ng-blur="modalForm.name.$valid" required>
						
							<div ng-messages="modalForm.name.$error" ng-if="modalForm.name.$touched" role="alert">
								<div ng-message="required" class="error">Please enter name</div>
							</div>
						</div>
						<div class="cont">
							<label class="form-label">Work Email</label>
							<input type="text" name="email" ng-model="contactUsForm.email" class="form-control" ng-blur="modalForm.email.$valid" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5})$/" required>
						
							<div ng-messages="modalForm.email.$error" ng-if="modalForm.email.$touched" role="alert">
								<div ng-message="required" class="error">Please enter email</div>
								<div ng-message="pattern" class="error">Please enter a valid email</div>      
							</div>
						</div>
						<div class="cont" ng-if="captchaSiteKey">
							<no-captcha g-recaptcha-response="$parent.captchaResponse" theme='light' 
								control="$parent.noCaptchaControl" expired-callback="$parent.captchaExpiredCallback"
								site-key="{{captchaSiteKey}}">
							</no-captcha>
							<div ng-if="captchaError && captchaError=='CAPTCHA_ERROR'">
								<div class="error">Please complete Captcha verification</div>
							</div>
						</div>
						<div class="foot clearfix">
							<button class="button button-add" type="submit" ng-disabled="!modalForm.$valid" ng-click="submitContactUs()">Request Demo</button>
						</div>
					</div>
				</form>
			</div>
		</aside>
	</div>
</div>
</div>
</div>
</div>

<!-- page footer -->
<footer class="page-footer">
	<!-- copyrights -->
	<div class="copyrights">&copy 2018 Enablix LLC. All rights reserved. | <a href="/terms" target="_blank">Terms and Conditions</a> | <a href="/privacy" target="_blank">Privacy Policy</a></div>
	<!--/ copyrights -->
</footer>
<!--/ page footer -->

<!-- scripts -->
<script src="js/vendor/jquery/jquery-2.1.3.min.js"></script>
<script src="js/vendor/jquery/jquery.select2.min.js"></script>
<script src="js/main.js"></script>
<!--/ scripts -->
<script>
    var gaProp = null;

    switch (window.location.hostname) {
        case 'www.enablix.com':
            gaProp = 'UA-90499107-1'; // production
            break;
        case '52.2.15.106':
        	gaProp = 'UA-90499107-2'; // test env
        	break;
        case 'test.enablix.com':
        	gaProp = 'UA-90499107-2'; // test env
        	break;
    }
    
   	if (gaProp != null) {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		ga('create', gaProp, 'auto');
		ga('send', 'pageview');
	}

</script>
		
</body>
</html>