<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enablix :: Information that matters ::</title>
    <meta name="description" content="Enablix Information that matters">
    <meta name="author" content="Enablix">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/home.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/website/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/website.css"/>
	    
   	<script type="text/javascript" src="js/vendor/angular/angular.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-resource.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-ui-router.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/common/widgets/tree/angular.treeview.js"></script>
	<script type="text/javascript" src="js/common/widgets/tree/listGroupTree.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-file-upload.js"></script>
	<script type="text/javascript" src="js/vendor/angular/ui-bootstrap-tpls-0.12.1.js"></script>
	<script type="text/javascript" src="js/vendor/multi-select/isteven-multi-select.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-ui-notification.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-messages.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/select.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate-loader-url.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-translate-loader-static-files.js"></script>
    <script type="text/javascript" src="js/vendor/angular/angular-no-captcha.js"></script>
    
    <!-- application scripts -->
	<script type="text/javascript" src="js/common/utility.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/serverDomain.js"></script>
	<script type="text/javascript" src="js/serviceUrl.js"></script>
	<script type="text/javascript" src="js/common/restService.js"></script>
	<script type="text/javascript" src="widgets/filter/appFilterModule.js"></script>
	<script type="text/javascript" src="widgets/filter/contentFormatFilter.js"></script>
	<script type="text/javascript" src="widgets/filter/dateFilter.js"></script>
	<script type="text/javascript" src="widgets/stateUpdateService.js"></script>
	
	<script type="text/javascript" src="widgets/website/websiteMainCtrl.js"></script>
	<script type="text/javascript" src="widgets/website/contactus/contactUsModal.js"></script>
	<script type="text/javascript" src="widgets/website/contactus/contactUsController.js"></script>
	<script type="text/javascript" src="widgets/website/modalpage/modalPageService.js"></script>
	<script type="text/javascript" src="widgets/website/modalpage/modalPageController.js"></script>
	
    <script type="text/javascript" src="widgets/modal/infoModal.js"></script>
    <script type="text/javascript" src="widgets/modal/infoModalController.js"></script>
    
  </head>
 <body ng-app="studio">
    <div class="site-wrapper" ng-controller="WebsiteMainCtrl">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><img src="img/logo.png" border="0" /></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a ng-click="showAboutUsModal()" href="javascript:;">About</a></li>
                  <li class="blueSepa">|</li>
                  <li><a ng-click="showContactUsModal()" href="javascript:;">Contact Us</a></li>
                  <li><a href="login.html#/login" class="loginBox" id="login">Customer Login &nbsp;<img src="img/bArrow.png" border="0" /></a></li>
                </ul>
              </nav>
            </div>
          </div>
          
          <div id="slogan" class="inner cover bgImg">
            <div>
              <h1 class="cover-heading">We deliver the right information<br />at the right time to deliver the right sales outcome<span class="blue">.</span><br /><br /></h1>
              <p class="lead"></p>
              <p class="lead">
                <a href="javascript:;" ng-click="showContactUsModal()" class="btn btn-lg btn-default btn-meeeting">Request a meeting</a>
              </p>
            </div>
          </div>

		  <div class="mastfoot">
            <div class="inner">
              <p><div class="copyrights">&copy 2016 Enablix LLC. All rights reserved. | <a href="/terms" target="_blank">Terms and Conditions</a> | <a href="/privacy" target="_blank">Privacy Policy</a></div></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/vendor/jquery/jquery-2.1.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="js/website/home.js"></script>
    <script src="js/website/ie10-viewport-bug-workaround.js"></script>
    <script src="js/website/jquery.fancybox.js" type="text/javascript"></script>
  </body>
</html>