<!DOCTYPE html>
<html>
<head>
	<title>Enablix</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Sales Enablement,Sales Portal,Marketing Portal,Marketing Content Management,Knowledge Management,Knowledge Portal">
	<link rel="icon" type="image/png" href="/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
	
	<script type="text/javascript" src="js/vendor/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-ui-router.js"></script>
	<script type="text/javascript" src="js/vendor/angular/angular-messages.min.js"></script>
	
	<link rel="stylesheet" href="./css/site3.css">
	<script type="text/javascript" src="js/ld.js"></script>
</head>
<body ng-app="site">

	<div class="main">
		<div class="row py-4">
			<div class="col-12 text-center">
				<div class="d-flex justify-content-center flex-row heading-3-0" id="tw1">Sales Enablement for Startups</div>
				<div class="d-flex justify-content-center sub-heading-3 grey-text-1 py-2">Enable your growing sales team with trusted content when they need it.</div>
			</div>
		</div>
	</div>
	<div class="col-12 bg-white pt-md-4 compact" style="position: relative;">
		<div class="row pb-md-4 pb-4">
			<div class="col-md-4 d-flex flex-column align-items-center py-4" style="z-index: 1000;">
				<div class="circular-img bg-white p-5 mb-2 d-flex align-items-center justify-content-center"><img src="./assets/metadata-management.svg"></div>
				<div class="heading-2 pt-4 pt-md-4">One Place</div>
				<div class="content-1 grey-text-1 text-center px-lg-5 pt-2">Centralize access to content across multiple systems. Videos, Blogs, Presentations, etc. available from one app.</div>
			</div>
			<div class="col-md-4 d-flex flex-column align-items-center py-4" style="z-index: 1000;">
				<div class="circular-img bg-white p-5 mb-2 d-flex align-items-center justify-content-center"><img src="./assets/crm-integration.svg"></div>
				<div class="heading-2 pt-4 pt-md-4">Content In CRM</div>
				<div class="content-1 grey-text-1 text-center px-lg-5 pt-2">Trusted content is available in CRM app in the context of the sales rep's opportunity.</div>
			</div>
			<div class="col-md-4 d-flex flex-column align-items-center py-4" style="z-index: 1000;">
				<div class="circular-img bg-white p-5 mb-2 d-flex align-items-center justify-content-center"><img src="./assets/content-coverage.svg"></div>
				<div class="heading-2 pt-4 pt-md-4">Measure</div>
				<div class="content-1 grey-text-1 text-center px-lg-4 pt-2">Identify high-performing content to make informed decisions.</div>
			</div>
		</div>
		<hr class="d-none d-sm-block mt-md-5 img-hr">
	</div>
	
	<div class="d-flex flex-column flex-lg-row align-items-center pt-3 pb-5 bg-white">
		<div class="col-lg-6 pl-0">
			<div class="big-image compact d-flex justify-content-start mb-md-0">
				<img src="./assets/macbook-sales-bottom.png" class="ebx-mw-100"></img>
			</div>
		</div>
		<div class="col-lg-6 px-3 pt-5 py-lg-0 px-md-5">
			<div ng-controller="InviteRequestController" class="mx-lg-4">
				<div class="register p-md-4">
					<div class="sub-heading-4">Request a 30-minute demo</div>
					<div class="signupform row">
						<form name="modalForm">
							<div class="formcontrol" ng-if="error">
								<div class="error">{{error}}</div>
							</div>
							<div class="formcontrol">
								<input  name="name" placeholder="Name" ng-model="contactUsForm.name" ng-blur="modalForm.name.$valid" required>
								<div ng-messages="modalForm.name.$error" ng-if="modalForm.name.$touched" role="alert">
									<div ng-message="required" class="error">Name is required</div>
								</div>
							</div>
							<div class="formcontrol">
								<input name="companyName" placeholder="Company Name" ng-model="contactUsForm.companyName" ng-blur="modalForm.companyName.$valid" required>
								<div ng-messages="modalForm.companyName.$error" ng-if="modalForm.companyName.$touched" role="alert">
									<div ng-message="required" class="error">Company name is required</div>
								</div>
							</div>
							<div class="formcontrol">
								<input  name="email" placeholder="Work Email" ng-model="contactUsForm.email" ng-blur="modalForm.email.$valid" ng-pattern="/^([_a-z0-9-\+])+(\.[_a-z0-9-\+]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5})$/" required>
								<div ng-messages="modalForm.email.$error" ng-if="modalForm.email.$touched" role="alert">
									<div ng-message="required" class="error">Work Email is required</div>
									<div ng-message="pattern" class="error">Please enter a valid email address</div>
								</div>
							</div>
							<div class="formcontrol">
								<button name="signupBtn" class="btn blue-btn btn-narrow" ng-click="submitContactUs()">Submit</button>
								<div class="pt-2 grey-text-1">We offer free trials</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<!-- Footer -->
	<footer class="page-footer font-small indigo">
		<ng-include src="'partials/site-footer-navbar.html'"></ng-include>
    </footer>
    <!-- Footer -->
   
</body>
<script type="text/javascript">
	var gaProp = null;
	var intercomAppId = null;
	_linkedin_partner_id = null;
	
	switch (window.location.hostname) {
	    case 'www.enablix.com':
	        gaProp = 'UA-90499107-1'; // production
	        _linkedin_partner_id = "455385";
	        break;
	    case '52.2.15.106':
	    case 'test.enablix.com':
	    case 'localhost':
	    case 'www.ebxlocal.com':
	    	gaProp = 'UA-90499107-2'; // test env
	    	break;
	}

	if (gaProp != null) {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		ga('create', gaProp, 'auto');
		ga('send', 'pageview');
	}
	
	function handleOutboundLinkClicks(event) {
	
		if (gaProp != null) {
		ga('send', 'event', {
			eventCategory : 'Outbound Link',
			eventAction : 'click',
			eventLabel : event.target.href,
			transport: 'beacon'
		});
		}
		
	}
	
	// LinkedIn script
	window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; 
	if (_linkedin_partner_id) {
		window._linkedin_data_partner_ids.push(_linkedin_partner_id);
		(function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})();
	}
</script>
<noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=455385&fmt=gif" /> </noscript>
</html>