/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-dialog-container {
  background: #F7F9F9 !important;
  border-radius: 4px !important;
  max-height: 90vh;
}

button {
  cursor: pointer;
}

