<form #fileForm>
  <input #fileInput type="file" class="native-file-input" (change)="onFileSelect($event)">
</form>
<div class="upload" *ebxAccess="'VIEW_STUDIO|SUGGEST_CONTENT'" (clickOutside)="hideUploadOptions()">
  <button #addBtn (click)="showUploadOptions()">Add</button>
  <div class="upload-options-container" [hidden]="!uploadOptions">
    <div class="upload-option file-option" (click)="openFileBrowser()">
      <img src="/assets/images/icons/upload-icon-blue.svg" />
      <span>File</span>
    </div>
    <div class="upload-option" (click)="openUploadDialog('url')">
      <img src="/assets/images/icons/globe_earth-blue.svg" />
      <span>URL</span>
    </div>
    <div class="upload-option" (click)="openUploadDialog('text')">
      <img src="/assets/images/icons/note_icon-blue.svg"/>
      <span>Text</span>
    </div>
    <div *ebxAccess="'BULK_IMPORT'" class="upload-option" (click)="openBulkImportDialog()">
      <img src="/assets/images/icons/albums.svg"/>
      <span>Import</span>
    </div>
  </div>
</div>