<div class="left">
    <h1 contenteditable="true">Does your platform scale?</h1>
    <p class="label">Last updated yesterday at 11:02am</p>

    <div class="row with-height">
        <p class="label">Source</p>
        <p class="text">Text</p>
    </div>
    <div class="row">
        <p class="label">Content Type</p>
        <div>
            <select>
                <option>FAQ</option>
            </select>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Relevance</p>
        <!-- can be refactored into directive -->
        <div class="sectors-container">
            <div class="add-tag">
                <a href="">
                    <img src="/assets/images/icons/add-sectors-btn.svg" />    
                </a>
            </div>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Properties</p>
        <div class="sectors-container">
            <div class="add-tag">
                <a href="">
                    <img src="/assets/images/icons/add-sectors-btn.svg" />    
                </a>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="text-preview">
        <textarea>Yes. Our product has been proven to scale to thousands of users and processing millions of action-btnal activity on a daily basis. Our streaming architecture also supports high real time throughput providing real time insight into data.</textarea>
    </div>
</div>