Introduction to 
#foreach($item in $obj.emailContent)
	#if($item.containerQId	== 'product')
		#foreach($field in $item.fields)
			#if($field.label == 'Short Name')
				${field.value.value} #break
			#end
		#end
	#end
#end