<!-- <label>Search:</label><input class="form-control" ng-model="searchText"><br> -->
<div class="cont">
<table class="datatable">
	<thead>
		<tr>
			<th ng-repeat="action in rowActions"></th>
			<th ng-if="selectAction"></th>
			<th ng-repeat="col in tableHeaders">
				<span ng-switch on="col.dataType">
					<span ng-switch-when="number"><span class="text-right">{{col.desc}}</span></span>
					<span ng-switch-default>{{col.desc}}</span>
				</span>
			</th>
			<!-- <th>Actions</th> -->
		</tr>
	</thead>
	
	<tbody>
		<tr ng-if="tableData.length == 0">
			<td colspan="{{tableHeaders.length + rowActions.length + (selectAction ? 1 : 0)}}">No data found</td>
		</tr>
		<tr ng-repeat="tableRecord in tableData | filter:searchText">
			<td ng-repeat="action in rowActions" class="action-cell" ng-class="action.tableCellClass">
				<a ng-if="!action.checkApplicable || action.checkApplicable(action, tableRecord)" 
					ng-class="action.iconClass" ng-click="callRowAction(action, tableRecord, $event)" tooltip="{{action.tooltip}}"></a>
			</td>
			<td ng-if="selectAction">
				<a ng-class="tableRecord._selected ? 'fa fa-check-square-o' : 'fa fa-square-o'"
					ng-click="selectActionCallback(tableRecord, $event)" tooltip="Select"></a>
			</td>
			<td ng-repeat="col in tableHeaders">
				<span ng-class="{'text-right': col.dataType == 'NUMERIC'}">{{getColumnValue(col, tableRecord)}}</span>
			</td>
		</tr>
	</tbody>
</table>
</div>
<div class="foot text-center" ng-if="pageData && tableData.length > 0">
	<eb-pagination current-page="pageData.number" total-pages="pageData.totalPages" set-page-fn="setPageFn"/>
</div>