// home.scss

@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.error-message {
    width: calc(100% - 84px - 84px);
    position: fixed;
    bottom: 0;
    height: 84px;
    padding: 0 84px;
    background: #C23535;
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.06);
    font-family: $FPBlond;
    display: flex;
    align-items: center;

    img {
        margin-right: 16px;
    }

    p {
        font-size: 18px;
        color: $white;
    }

    .action-buttons {
        margin-left: auto;
        button {
            background: rgba(0, 0, 0, 0.1);
            padding: 8px 12px;

            p {
                font-size: 16px;
                color: #FFF;
            }
        }

        button + button {
            margin-left: 8px;
        }
    }
}