<div class="header">
  <h1>Dimensions</h1>
  <p class="subheader">These are your company's business dimensions. Browse these dimensions and their objects to find content.</p>
  <div *ngIf="dims != 'all'"><a class="cta-link" routerLink="/portal/alldims">See All</a></div>
</div>
<div class="main">
  <div class="dimension-cards">
    <div class="dim-card-container multiple-dimensions" *ngFor="let cont of dimContainers">
      <ebx-dimension  [container]="cont"></ebx-dimension>
    </div>
  </div>
</div>
