<div class="intro-msg">
  <div class="logo">
    <img src="/assets/images/company/enablix_logo@2x.png">
  </div>
  <div class="title top-border">Welcome {{username}}!</div>
  <div class="msg-content">
    <p>You're on your way to build a centralized and trusted source of knowledge for your sales and marketing team. Here are some tips to help you get started.</p>

    <div class="title">Current Set Up</div>
    <div class="subinfo">Your current set up has our Enablix files, URLs and FAQ items. These will help you familiarize with how Enablix. They also act as good illustrations for you to follow for your own content.</div>
    
    <div class="title">Dimensions</div>
    <div class="subinfo">Dimensions (aka Business Dimensions) are the heart of your set up. These are your products, solutions, industries, competitors, partners, etc, that you track in your business. We recommend you start by defining a few dimension objects. You can always come back and add more or update existing ones.</div>

    <div class="title">Content Types</div>
    <div class="subinfo">We have some pre-defined standard content types for marketers. You can start adding content of these types. As you expand your content library and have something that is not covered by our standard content types, we will add it for you for free.</div>

    <div class="title">Integrations</div>
    <div class="subinfo">We support several integrations with our platform. We integrate with cloud storage systems like Dropbox, Google Drive, Sharepoint, Box, etc. We also integrate with business applications like Salesforce, HubSpot Sales CRM, YouTube, Wordpress, Slack, Email, etc. You will learn more in the coming days. But if you don't want to wait, let us know and we will help you with enabling these integrations.</div>

    <p>Our goal is to help you address your team's content management challenge. We're here to help you get to that goal.</p>
  </div>
  <div class="actionBtns small">
    <button class="action" mat-dialog-close>Got It</button>
  </div>
</div>
