@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.intro-msg {
  font-family: $FPLight;
  color: #000000;

  .logo {
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    img {
      height: 32px;
    }
  }

  .top-border {
    padding-top: 16px;
    border-top: 2px solid #dcddde;
  }

  .title {
    margin-bottom: 8px; 
    font-family: $FPLight;
    font-weight: 600;
    font-size: 20px;
  }

  p, .subinfo {
    margin-bottom: 16px;
  }

  .msg-content {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;

    .title {
      font-size: 18px;
    }
  }

  .actionBtns {
    display: flex;
    justify-content: flex-end;
  }
}