<div class="intro-msg">
  <div class="logo">
    <img src="/assets/images/company/enablix_logo@2x.png">
  </div>
  <div class="title top-border">Welcome {{username}}!</div>
  <div class="msg-content">
    <p>You're on your way to building a trusted source of knowledge for your sales, marketing and customer-facing teams. Here are some concepts to help you get started.</p>

    <div class="title">Current Setup</div>
    <div class="subinfo">Your current set has sample files, URLs, and FAQ items. These will help you familiarize with Enablix.</div>
    
    <div class="title">Dimensions</div>
    <div class="subinfo">Dimensions are at the core of how Enablix organizes content. These are your products, solutions, competitors, partners, etc, that you track in your company.</div>

    <div class="title">Content Types</div>
    <div class="subinfo">We have standard content types to help you get started. As you expand your content library and have content assets that do not belong to one of the standard content types, let us know and we will add the new content types for you.</div>

    <div class="title">Integrations</div>
    <div class="subinfo">We integrate with cloud storage apps (Dropbox, Google Drive, Sharepoint, Box, etc.) and business applications (Salesforce, HubSpot CRM, YouTube, Wordpress, Slack, Email, etc). If interested, let us know at support@enablix.com and we will help set up these integrations.</div>

  </div>
  <div class="actionBtns small">
    <button class="action" mat-dialog-close>Got It</button>
  </div>
</div>
