<div class="block">
	<div class="head">
		<h2>{{pageHeading}}</h2>
	</div>
	<form name="addXPlayForm">
		<div class="cont">
			<label class="form-label">Title</label>
			<input required name="playTitle" placeholder="Enter Title" 
					class="form-control" ng-model="prototypePlayTemplate.title"/>
			<div ng-messages="addXPlayForm.playTitle.$error">
				<div class="error" ng-message="required">Title is required.</div>
	        </div>
		</div>
		<div class="cont">
			<label class="form-label">Focus</label>
			<ui-select ng-disabled="!focusEditable" class="unwrapped-ui-select" multiple ng-model="selectedFocus.items" theme="bootstrap" ng-disabled="disabled" sortable="true" 
				close-on-select="false" remove-selected="false" on-select="updateFocusInPlayTemplate($item, $model)" 
				on-remove="updateFocusInPlayTemplate($item, $model)">
			  <ui-select-match>{{$item.label}}</ui-select-match>
			  <ui-select-choices repeat="opt in focusOptions | filter: {label: $select.search}">
			    {{opt.label}}
			  </ui-select-choices>
			</ui-select>
		</div>
		<div class="cont play-tabs">
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab ng-if="prototypePlayTemplate.scope" label="{{scopeLabel}}">
					<ebx-play-scope scope-def="prototypePlayTemplate.scope"></ebx-play-scope>
				</md-tab>
				<md-tab label="{{userGroupsLabel}}">
					<ebx-play-user-groups user-groups-def="prototypePlayTemplate.userGroups" focus-items="prototypePlayTemplate.focusItems"></ebx-play-user-groups>
				</md-tab>
				<md-tab label="{{contentGroupsLabel}}">
					<ebx-play-content-groups content-groups-def="prototypePlayTemplate.contentGroups" focus-items="prototypePlayTemplate.focusItems"></ebx-play-content-groups>
				</md-tab>
				<md-tab label="{{executionLabel}}">
					<ebx-play-execution-def execution-def="prototypePlayTemplate.execution" focus-items="prototypePlayTemplate.focusItems"
							user-groups-def="prototypePlayTemplate.userGroups" content-groups-def="prototypePlayTemplate.contentGroups"></ebx-play-execution-def>
				</md-tab>
			</md-tabs>
		</div>
		
		<div class="foot clearfix">
			<button ng-click="updatePlay()" class="button button-add">Save</button>
			<a ng-click="cancelOperation()" class="button button-delete">Cancel</a>
		</div>
	</form>
</div>
