<span ng-if="displayValue" class="content-data" ng-bind-html="displayValue"></span>
<span ng-if="contentDef.dataType == 'BOUNDED'" class="content-data" ng-repeat="bndItem in contentValue track by $index">
	<span ng-if="bndItem.hrefData">
		<a ng-click="navToItemDetail(bndItem.hrefData.containerQId, bndItem.hrefData.contentIdentity)">{{bndItem.label}}</a>
	</span>
	<span ng-if="!bndItem.hrefData" ng-bind-html="bndItem.label"></span>
	<span ng-if="!$last">, </span>
</span>
<span ng-if="contentDef.dataType == 'DOC' && showDocLink && contentValue.name">&nbsp;
	<eb-doc-download doc-value="contentValue.identity"></eb-doc-download>
	<eb-doc-preview-action doc-identity="contentValue.identity" doc-metadata="contentValue"></eb-doc-preview-action>
</span>