<div class="container-fluid">
	<!-- bread crumbs -->
	<div class="block bread-crumbs">
		<div class="cont">
			<a href="#">Setup</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
			<span>User Management</span>
		</div>
	</div>
	<!--/ bread crumbs -->

	<div >
		<aside class="col-sm-4 col-md-3">
			<nav id="side-nav" class="side-nav">
				<ul>
					<li class="active">
						<i class="fa fa-angle-right"></i>
						<a ui-sref="users.list">Users</a>
					</li>
					<li>
						<i class="fa fa-angle-right"></i>
						<a ui-sref="emailConfig.list">Email Configuration</a>
					</li>
				</ul>
		    </nav>
		</aside>
		<div class="col-sm-9">
			<div ui-view></div>
		</div>
	</div>
</div>