<div class="content-types-container">
  <div *ngFor="let cg of contentGroups">
    <h2>{{cg?.container?.label}} ({{cg.records.totalElements}})</h2>
    <div *ngIf="!showAll" class="seeAll" (click)="navToAllContent(cg)">
        <a>See All</a>
    </div>
    <div class="cards card-container">
      <div class="data-card" *ngFor="let rec of cg.records.content">
        <ebx-data-card  [containerQId]="cg.contentQId" [record]="rec"></ebx-data-card>
      </div>
      <div class="card biz-card" *ngIf="showAll && cg.records.content.length < cg.records.totalElements" (click)="addNextPage(cg)">
        <div class="card-remaining-count">
          <p class="ng-binding">+{{cg.records.totalElements - cg.records.content.length}}</p>
        </div>
      </div>
    </div>
  </div>
</div>