<span ng-repeat="navItem in navLinkArr"><span ng-if="!$last">{{navItem.label}}</span>
	<a ng-if="$last" ng-click="navToContent(navItem)">{{navItem.label}}</a>
	<i ng-if="!$last" class="fa fa-angle-right nav-separator"></i>
	<span ng-if="$last && showDocLink && navItem.docIdentity && navItem.docIdentity != null">
		<eb-doc-download doc-value="navItem.docIdentity"></eb-doc-download>
		<eb-doc-preview-action doc-identity="navItem.docIdentity" doc-metadata="navItem.docDetails"></eb-doc-preview-action>
	</span>
</span>
