<div class="dashboard-sales-funnel">
    <div class="header-container">
        <h2>Authentication Cloud Service</h2>
        <div class="dashboard-buttons">
            <div class="action-btn" ng-mouseover="showHoverState('edit')" ng-mouseout="hideHoverState('edit')">
                <div class="icon small edit"></div>
                <p ng-show="actionBtnState.edit">Edit</p>
            </div>
            <div class="divider"></div>
            <div class="action-btn" ng-mouseover="showHoverState('attach')" ng-mouseout="hideHoverState('attach')">
                <div class="icon small attach"></div>
                <p ng-show="actionBtnState.attach">Attach</p>
            </div>
            <div class="action-btn" ng-mouseover="showHoverState('email')" ng-mouseout="hideHoverState('email')">
                <div class="icon small email"></div>
                <p ng-show="actionBtnState.email">Email</p>
            </div>
            <div class="action-btn" ng-mouseover="showHoverState('trash')" ng-mouseout="hideHoverState('trash')">
                <div class="icon small trash"></div>
                <p ng-show="actionBtnState.trash">Trash</p>
            </div>
            <div class="divider"></div>
            <button class="circle icon-btn active">
                <div class="icon small funnel"></div>
            </button>
            <button class="circle icon-btn" ng-click="goToListView()">
                <div class="icon small list"></div>
            </button>
        </div>
    </div>
    <div class="main">
        <div>
            <div class="sidebar toRight sticky">
                <simple-sidebar data="salesFunnelData"></simple-sidebar>
            </div>
            <div class="cards-container">
                <cards add-flex="true" data="cardsData"></cards>
                <!-- next sales funnel -->
                <div class="sales-funnel-header">
                    <div class="line"></div>
                    <h2>Qualification</h2>
                    <div class="line"></div>
                </div>
                <cards add-flex="true" data="cardsData"></cards>
            </div>
        </div>
    </div>
</div>
