ebx-content-type-coverage {
  
  .table-content {

    td {
      &.text-right {
        padding-right: 160px;
        display: flex;
        justify-content: flex-end;
      }
    }

    .mr-100 {
      padding-right: 120px;
    }
  }

}