@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.search-bar {
    position: relative;
    min-width: 586px;
    border-radius: 6px;
    
    background: $white;
    font-family: $FPThin;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);

    &.sb-active {
        border: 1px solid #E3EBEF;
    }

    .input-row {
        min-height: 50px;
        // width: calc(100% - 32px);
        display: flex;
        padding: 0 16px;
        
        img.search-icon {
            margin-right: 8px;
        }

        img.funnel-icon {
            margin-left: 8px;
            cursor: pointer;
        }
        
        input {
            font-size: 16px;
            flex-grow: 1;
            font-family: $FPThin;
            font-weight: 700;
        }

    }

    .selectedTagsHolder {
        display: flex;
        align-items: center;

        .pills-container {
            flex-wrap: wrap;
        }
    }

    .filtered-rows {
        background: white;
        position: absolute;
        width: 100%;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        margin-top: -4px;
        margin-left: -1px;
        border: 1px solid #E3EBEF;
        border-top: 1px solid rgba(227,235,239, 0.5);
        z-index: 100;
    }

    .filtered-row {
        margin: 0 16px;
        min-height: 58px;
        display: flex;
        align-items: center;

        &:not(:last-child){
            border-bottom: 1px solid rgba(227,235,239, 0.5);
        }

        .filter-label {
            min-width: 130px;
            color: $grey-dark;
            font-weight: 400;
            font-family: $FPLight;

            h4 {
                font-weight: 400;
            }
        }

        .pills-container {
            flex-wrap: wrap;
        }

        .freetext-search {
            cursor: pointer;
            color: #1F8AEF;
            font-weight: 700;
        }
        
    }

    .bizcontent-items .wrpr {

        .suggest {
            margin: 0 16px;
            min-height: 58px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(227,235,239, 0.5);
            cursor: pointer;

            em {
                font-weight: 600;
                padding: 0 1px;
                font-style: initial;
            }

            .typelabel {
                padding-right: 8px;
                text-transform: uppercase;
                font-size: 10px;
                color: $blue-med-20;
                font-weight: 700;
                margin-top: 2px;
            }

        }

        &:hover {
            background: #E3EBEF;
        }

    }

    .free-search {
        font-family: $FPLight;
        font-size: 16px;
        color: #1F8AEF;
    }
}