@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.bulk-upload-popup {
  .title {
    font-family: $FPThin;
    line-height: 38px;
    margin-bottom: 24px;
    font-size: 32px;

    img {
      margin-left: 8px;
    }
  }

  .msg {
    font-family: $FPThin;
    line-height: 30px;
    margin-bottom: 16px;
    font-size: 20px;
  }

  .loader {
    display: flex;
    justify-content: center;
  }

  .imp-src {
    display: flex;
    margin-bottom: 16px;
    padding: 8px;
    @include vcenterChildren;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: fit-content;

    &:hover {
      border-color: $grey-lig-10;
      background: #FFFFFF;
    }

    p {
      font-size: 24px;
      font-family: $FPLight;
      padding-left: 8px;
    }

    img {
      width: auto;
      height: 32px;
    }
  }

  .actionBtns {
    padding-top: 16px;
  }

  &.cls-step3 {
    max-width: 80vw;
    min-width: 1024px;
  }

}