<div class="bulk-upload-popup cls-step{{step}}">
  <div [hidden]="step !== 1">
    <h1 class="title">Select Source</h1>
    <div class="imp-src" *ebxAccess="'BULK_IMPORT-GOOGLEDRIVE'">
      <ebx-gdrive-import (onFileSelection)="filesSelected()" (onImportRequest)="importRequestReady($event)"></ebx-gdrive-import>
    </div>
    <div class="actionBtns">
      <button class="cancel" mat-dialog-close>Cancel</button>
    </div>
  </div>
  <ng-container *ngIf="step == 2">
    <p class="msg">Retrieving files information...</p>
    <div class="loader"><img src="/assets/images/icons/loading_icon.gif"></div>
    <div class="actionBtns">
      <button class="cancel" mat-dialog-close>Cancel</button>
    </div>
  </ng-container>
  <ng-container *ngIf="step == 3">
    <ebx-import-edit [importRequest]="importRequest" (onImportSubmit)="importRequestSubmitted($event)"></ebx-import-edit>
  </ng-container>
  <ng-container *ngIf="step == 4">
    <h1 class="title">Publish Assets</h1>
    <p class="msg">The imported assets will be published shortly. We will notify you once the assets are published successfully.</p>
    <div class="actionBtns">
      <button class="action" (click)="addMoreFiles()">Import...</button>
      <button class="cancel" mat-dialog-close>Close</button>
    </div>
  </ng-container>
</div>