<div class="dim-card" *ngIf="!isBizContent" (click)="navToBizDimension()">
  <div class="card-title">
    <div class="color-block" [style.background]="cardColor"></div>
    <p>{{title}}</p>
  </div>
  <div class="card-properties">
    <span>{{linkedContentText}}</span>
    <span *ngIf="linkedContentCount > 1">&nbsp;&nbsp;+{{linkedContentCount}}</span>
  </div>
</div>

<div class="card biz-card with-flex" *ngIf="isBizContent" (click)="navToBizContent()">
  <div>
    <ebx-card-preview *ngIf="record" [record]="record" [container]="container"></ebx-card-preview>
    <div class="content">
      <p class="content-type" [innerHtml]="containerLabel" (click)="navToContentList()"></p>
      <p class="card-title" [innerHtml]="title" ellipsis ellipsis-resize-detection="window"></p>
      <p class="company-properties">
        <span>{{record?.modifiedAt | ebxDate}}</span>
      </p>
    </div>
  </div>
</div>
