<div class="dim-card" *ngIf="!isBizContent" (click)="navToBizDimension()">
  <div class="card-title">
    <div class="color-block" [style.background]="cardColor"></div>
    <p (click)="navToDimList()">{{title}}</p>
  </div>
  <div class="card-properties">
    <span>{{linkedContentText}}</span>
    <span *ngIf="linkedContentCount > 1">&nbsp;&nbsp;+{{linkedContentCount}}</span>
  </div>
</div>

<div class="card biz-card with-flex" *ngIf="isBizContent" (click)="navToBizContent()">
  <div>
    <div class="cardImg" *ngIf="thumbnailUrl">
      <img *ngIf="thumbnailUrl" [src]="thumbnailUrl" />
    </div>
    <div class="cardImgText" *ngIf="text">
      <div><p ellipsis [innerHtml]="text"></p></div>
    </div>
    <div class="cardDefaultImg" *ngIf="!text && !thumbnailUrl">
      <img [src]="getNoPreviewImage()" />
    </div>
    <div class="content">
      <p class="content-type" [innerHtml]="containerLabel" (click)="navToDimList()"></p>
      <p class="card-title" [innerHtml]="title" ellipsis></p>
      <p class="company-properties">
        <span>{{linkedContentText}}</span>
        <span *ngIf="linkedContentCount > 1">&nbsp;&nbsp;+{{linkedContentCount}}</span>
      </p>
    </div>
  </div>
</div>
