<div class="ebx-select" (clickOutside)="hideOptions()">
    <div class="input-row">
        <img *ngIf="headIcon" class="head-icon" [src]="headIcon">
        <div class="pills-container" *ngIf="multi">
            <div class="pill" *ngFor="let sOpt of selected; let i = index" [style.background]="pillsColor">
              <span class="pill-label">{{sOpt?.label}}</span>
              <a class="remove" (click)="removeOption(i)">
                <img src="/assets/images/icons/close-white.svg">                
              </a>
            </div>
        </div>
        <input #textInput class="text-input" type="text" [placeholder]="placeholder" (focus)="showOptions()" [formControl]="selectCtrl"> 
    </div>
    <div class="option-rows" [hidden]="!optionsVisible">
        <div class="option-row" *ngFor="let opt of filteredOptions | async" (click)="updateSelection(opt)">
            <div class="option-label">{{opt.label}}</div>
        </div>
    </div>
</div>