relevance-dropdown{

    .tag-input {
        input, span {
            height: 28px;
            width: 32px;
            background: #FFFFFF;
            border: 1px solid #E3EBEF;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
            border-radius: 4px;
            color: #1F8AEF;
            font-family: $FPLight;
            font-size: 16px;
            padding: 2px 0 0 8px;
        }
        margin-bottom: 8px;
    }

    .input-search-result {
        position: absolute;
        border: 1px solid #E3EBEF;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
        border-radius: 4px;
        width: 296px;

        table {
            width: 100%;
        }

        tr, th {
            height: 40px;
        }

        th:first-child {
            padding-left: 11px;
        }

        th:last-child {
            padding-right: 11px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img {
                height: 26px;
            }
        }

        th, td {
            //for some reason the font has some padding on the bottom of it - so adding some padding to top to maintain vertically centered
            padding-top: 4px;
        }

        tbody {
            display:block;
            max-height: 120px;
            overflow-y: scroll;
        }

        thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }

        tr.header {
            font-family: $FPLight;
            font-size: 14px;
            color: #1F8AEF;
            line-height: 18px;
            background: #F7F9F9;            
            th {
                border-bottom: 1px solid rgba(0,0,0,0.03);
            }
        }

        tr:not(first-child){
            font-family: $FPLight;
            font-size: 14px;
            color: #2D2D2D;
            text-align: left;
        }

        tr:not(last-child){
            td:first-child {
                padding-left: 11px;
            }
            td:last-child {
                text-align: right;
                padding-right: 11px;
            }

            td{
                background: $white;
                border-bottom: 1px solid rgba(0,0,0,0.03);

                &.purple {
                    color: #724BD0;
                }

                &.gold {
                    color: $yellow-dark;
                }

                &.red {
                    color: #ED583E;   
                }
            }
        }
    }
}