@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.report-detail {

  display: flex;
  flex-direction: column;
  
  .report-top {
    padding-bottom: 40px;
  }

  .report-data {
    width: 100%;
  }

}