<div class="modal-header">
	<h3 class="modal-title">Share To Slack</h3>
</div>
<form name="shareForm">
	<div class="modal-body">
		<div class="cont">
			<label class="form-label">Channel Name</label> 
			<select class="form-control"
				ng-change="" ng-options="item.id as item.label for item in channelLst"
				ng-model="channelID"></select>
		</div>
	</div>
</form>
<div class="modal-footer">
	<button ng-click="shareContent()" class="button button-add">Share</button>
	<a href="#" ng-click="close()" class="button button-delete">Cancel</a>
</div>