<div class="modal-header">
	<h3 class="modal-title">Share</h3>
</div>
<form name="shareForm">
	<div class="modal-body">
		<div class="cont">
			<div>
				<md-autocomplete required md-input-name="emailid"
					md-selected-item="selectedItem" md-search-text="searchText"
					md-items="item in querySearch(searchText)"
					ng-blur="shareForm.emailid.$valid"
					md-search-text-change="validate(searchText)"
					md-item-text="item.display" md-floating-label="Email Address">
				<md-item-template> <span
					md-highlight-text="searchText">{{item.display}}</span> </md-item-template>
				<div ng-messages="shareForm.emailid.$error"
					ng-if="shareForm.emailid.$touched">
					<div ng-message="required" class="error">Please enter an
						E-Mail</div>
				</div>
				</md-autocomplete>
			</div>
		</div>
		<br />
		<div class="cont">
			<div>
				<textarea placeholder="Enter message (optional)" class="form-control"
					ng-model="emailContent" rows="8"></textarea>
			</div>
		</div>
	</div>
</form>
<div class="modal-footer">
	<button ng-click="shareContent()" class="button button-add">Share</button>
	<a href="#" ng-click="close()" class="button button-delete">Cancel</a>
</div>
