<div class="edit-popup">
  <div *ngIf="record" class="input-container">
    <div *ngFor="let item of container.contentItem; let first = first" [ngSwitch]="item.type">
      <div *ngSwitchCase="'TEXT'">
        <ebx-text-input [record]="record" [contentItem]="item" [(ngModel)]="record[item.id]"></ebx-text-input>
      </div>
      <div *ngSwitchCase="'NUMERIC'">
        <ebx-text-input [record]="record" [contentItem]="item" [(ngModel)]="record[item.id]"></ebx-text-input>
      </div>
      <div *ngSwitchCase="'DOC'">
        Doc Input
      </div>
      <div *ngSwitchCase="'BOUNDED'">
        <ebx-bounded-input [record]="record" [contentItem]="item" [(ngModel)]="record[item.id]"></ebx-bounded-input>
      </div>
      <div *ngSwitchCase="'DATE_TIME'">
        <ebx-date-input [record]="record" [contentItem]="item" [(ngModel)]="record[item.id]"></ebx-date-input>
      </div>
      <div *ngSwitchCase="'CONTENT_STACK'">
        <ebx-content-stack-input [record]="record" [contentItem]="item" [(ngModel)]="record[item.id]"></ebx-content-stack-input>
      </div>
      <div *ngSwitchCase="'RICH_TEXT'">
        <ebx-rich-text-input [record]="record" [contentItem]="item" [(ngModel)]="record[item.id + '_rt']"></ebx-rich-text-input>
      </div>
    </div>
  </div>
  <div class="actionBtns">
    <button class="action" (click)="save()">Save</button>
    <button class="cancel" mat-dialog-close>Cancel</button>
  </div>
</div>