@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.edit-popup {
  
  margin: 8px 24px;

  .input-control {
    background: #fff;
    border: 1px solid #E3EBEF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-family: $FPLight;
    padding: 8px;

    input {
      font-size: 18px;
    }

  }

  .content-item-control {
    margin-bottom: 24px;

    >input {
      width: 100%;
      font-family: $FPLight;
    }
  }

  .actionBtns {

    button {
        min-width: 123px;
    }
  }
}