<!-- <div>
	<h4>{{mainContainerLabel}}: {{containerDef.label}}</h4>
</div> -->
<div ng-if="bodyData.length == 0">
	<br><label>No data found</label>
</div>
<div ng-repeat="dataItem in bodyData" class="panel panel-default" ng-init="dataItem.collapsed = true">
	<div class="panel-heading panel-heading-condensed">
		<span ng-click="dataItem.collapsed = false" ng-show="dataItem.collapsed" class="glyphicon glyphicon-chevron-right"></span>
		<span ng-click="dataItem.collapsed = true" ng-show="!dataItem.collapsed" class="glyphicon glyphicon-chevron-down"></span> 
		<label class="label-condensed">{{dataItem.headingLabel}}</label>
		<span class="pull-right" ng-if="dataItem.downloadDocIdentity">
			<eb-doc-download doc-value="dataItem.downloadDocIdentity"></eb-doc-download>
			<eb-doc-preview-action doc-identity="dataItem.downloadDocIdentity" doc-metadata="dataItem.docMetadata"></eb-doc-preview-action>
		</span>
	</div>
	<div ng-show="dataItem.collapsed">
      <table class="table borderless table-condensed" >
		<tr ng-repeat="header in multiCondensedViewHeaders" ng-switch="$index % 2">
			<td ng-switch-when="0" class="col-sm-1 text-right"><label class="label-condensed">{{header.label}}:</label></td>
			<td ng-switch-when="0" class="col-sm-2">{{dataItem[header.key] | ebxFormatData: header.typeDef : dataItem.identity}}</td>
			<td ng-switch-when="0" ng-show="multiCondensedViewHeaders[$index + 1]" class="col-sm-1 text-right">
				<label class="label-condensed">{{multiCondensedViewHeaders[$index + 1].label}}:</label></td>
			<td ng-switch-when="0" ng-show="multiCondensedViewHeaders[$index + 1]" class="col-sm-2">{{dataItem[multiCondensedViewHeaders[$index + 1].key] | ebxFormatData: multiCondensedViewHeaders[$index + 1].typeDef : dataItem.identity}}</td>
		</tr>
	  </table>
    </div>
    <div ng-show="!dataItem.collapsed">
      <table class="table borderless table-condensed" >
		<tr ng-repeat="header in multiHeaders" ng-switch="header.dataType">
			<td class="col-sm-2 text-right"><label class="label-condensed">{{header.label}}:</label></td>
			<td class="col-sm-4">{{dataItem[header.key] | ebxFormatData: header.dataType : dataItem.identity}}</td>
		</tr>
	  </table>
    </div>
</div>