<!-- recomended content -->
<div class="block recomended-content">
	<div class="head"><h3>Recommended Content</h3></div>
	<div class="cont">
		<eb-portal-reco container-q-id="containerQId" content-identity="contentIdentity"></eb-portal-reco>
	</div>
</div>
<!--/ recomended content -->


<!-- recently updated -->
<div class="block recomended-content">
	<div class="head"><h3>Recently Updated</h3></div>
	<div class="cont">
		<ul>
			<li>
				<em class="updated">updated</em>
				<a href="#">Solutions</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
				<a href="#">Basel</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
				<a href="#" class="popup-opener">Solution Owerview</a>&nbsp;&nbsp;<a href="#" class="fa fa-download"></a>
			</li>
			<li>
				<em class="new">new</em>
				<a href="#">Blogs</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
				<a href="#" class="popup-opener">Changing the AML landspace</a>
			</li>
			<li>
				<em class="new">new</em>
				<a href="#">Infograph</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
				<a href="#" class="popup-opener">Basel II buying decisions</a>
			</li>
			<li>
				<em class="new">new</em>
				<a href="#">Multimedia</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
				<a href="#" class="popup-opener">CEO Interview at Dreamforce</a>
			</li>
		</ul>
	</div>
</div>
<!--/ recently updated -->


<!-- other solutions -->
<div class="block quick-links">
	<div class="head"><h3>Other Solutions</h3></div>
	<div class="cont">
		<ul>
			<li><a href="#">KYC Solution</a></li>
			<li><a href="#">AML Solution</a></li>
		</ul>
	</div>
</div>
<!--/ other solutions -->
