<!-- recomended content -->
<div class="block recomended-content">
	<div class="head"><h3>Recommended Content</h3></div>
	<div class="cont">
		<eb-portal-reco container-q-id="containerQId" content-identity="contentIdentity"></eb-portal-reco>
	</div>
</div>
<!--/ recomended content -->


<!-- recently updated -->
<div class="block recomended-content">
	<div class="head"><h3>Recently Updated</h3></div>
	<div class="cont">
		<eb-portal-recent container-q-id="containerQId" content-identity="contentIdentity"></eb-portal-recent>
	</div>
</div>
<!--/ recently updated -->


<!-- other solutions -->
<div class="block quick-links" ng-if="!$state.includes('portal.containerlist')">
	<div class="head"><h3>Other {{containerLabel}}</h3></div>
	<div class="cont">
		<eb-portal-peers container-q-id="containerQId" content-identity="contentIdentity"></eb-portal-peers>
	</div>
</div>
<!--/ other solutions -->
