<!-- recomended content -->
<div class="block recomended-content">
	<div class="head"><h2>Recommended Content</h2></div>
	<div class="cont">
		<eb-portal-reco container-q-id="containerQId" content-identity="contentIdentity"></eb-portal-reco>
	</div>
</div>
<!--/ recomended content -->


<!-- recently updated -->
<div class="block recomended-content">
	<div class="head"><h2>Recently Updated</h2></div>
	<div class="cont">
		<eb-portal-recent container-q-id="containerQId" content-identity="contentIdentity"></eb-portal-recent>
	</div>
</div>
<!--/ recently updated -->


<!-- other solutions -->
<div class="block peers" ng-if="$state.includes('portal.container')">
	<div class="head"><h2>Other {{containerLabel}}</h2></div>
	<div class="cont">
		<eb-portal-peers container-q-id="containerQId" content-identity="contentIdentity"></eb-portal-peers>
	</div>
</div>
<!--/ other solutions -->
