<div class="block">
<div class="cont top-border">
<table class="datatable">
	<thead>
		<tr>
			<th class="download"></th>
			<th class="details" ng-if="rowClickFn"></th>
			<th class="edit" ng-if="recordEditFn"></th>
			<th class="remove" ng-if="recordDeleteFn"></th>
			<th ng-repeat="action in otherActions" ng-class="action.tableCellClass"></th>
			<th ng-repeat="col in tableHeaders">
				<span ng-switch on="col.dataType">
					<span ng-switch-when="number"><span class="text-right">{{col.desc}}</span></span>
					<span ng-switch-default>{{col.desc}}</span>
				</span>
				<eb-sort sort-property="col.sortProperty" table-sort-info="pageData.sort" sort-data-fn="sortData"></eb-sort>
			</th>
			<!-- <th>Actions</th> -->
		</tr>
	</thead>
	
	<tbody>
		<tr ng-if="tableData.length == 0">
			<td colspan="{{tableHeaders.length + otherActions.length + 4}}">No data found</td>
		</tr>
		<tr ng-repeat="tableRecord in tableData | filter:searchText">
			<td class="download"><eb-doc-download ng-if="tableRecord.downloadDocIdentity" doc-value="tableRecord.downloadDocIdentity"></eb-doc-download></td>
			<td class="details" ng-if="rowClickFn"><a ng-click="navToRowDetail(tableRecord.identity)" class="fa fa-eye"></a></td>
			<td class="edit" ng-if="recordEditFn"><a class="fa fa-pencil" ng-click="navToRecordEdit(tableRecord.identity)"></a></td>
			<td class="remove" ng-if="recordDeleteFn"><a class="fa fa-times" ng-click="deleteTheRecord(tableRecord.identity)"></a></td>
			<td ng-repeat="action in otherActions" ng-class="action.tableCellClass"><a ng-class="action.iconClass" ng-click="callOtherAction(action, tableRecord.identity)"></a></td>
			<td ng-repeat="col in tableHeaders">
				<span ng-class="{'text-right': col.dataType == 'NUMERIC'}">
					<eb-render-data content-value="tableRecord[col.key]" content-def="col" content-record="tableRecord" />
				</span>
			</td>
		</tr>
	</tbody>
</table>
</div>
<div class="foot text-center" ng-if="pageData && tableData.length > 0">
	<eb-pagination current-page="pageData.number" total-pages="pageData.totalPages" set-page-fn="setPage"/>
</div>
</div>