<!-- <label>Search:</label><input class="form-control" ng-model="searchText"><br> -->
<table class="datatable">
	<thead>
		<tr>
			<th class="download"></th>
			<th class="details"></th>
			<th class="edit"></th>
			<th class="remove"></th>
			<th ng-repeat="col in tableHeaders">
				<span ng-switch on="col.dataType">
					<span ng-switch-when="number"><span class="text-right">{{col.desc}}</span></span>
					<span ng-switch-default>{{col.desc}}</span>
				</span>
			</th>
			<!-- <th>Actions</th> -->
		</tr>
	</thead>
	
	<tbody>
		<tr ng-if="tableData.length == 0">
			<td colspan="{{tableHeaders.length + 4}}">No data found</td>
		</tr>
		<tr ng-repeat="tableRecord in tableData | filter:searchText">
			<td class="download"><a href="#" class="fa fa-download"></a></td>
			<td class="details"><a href="#" ng-click="navToRowDetail(tableRecord.identity)" class="fa fa-eye"></a></td>
			<td class="edit"><a href="#" class="fa fa-pencil" ng-click="navToRecordEdit(tableRecord.identity)"></a></td>
			<td class="remove"><a href="#" class="fa fa-times" ng-click="deleteTheRecord(tableRecord.identity)"></a></td>
			<td ng-repeat="col in tableHeaders">
				<span ng-class="{'text-right': col.dataType == 'NUMERIC'}">
					{{tableRecord[col.key] | ebxFormatData: col.dataType}}</span>
				<span ng-if="col.dataType == 'DOC' && tableRecord[col.key].name">
					<eb-doc-download doc-value="tableRecord[col.key].identity"></eb-doc-download>
				</span> 
			</td>
		</tr>
	</tbody>
</table>
