<table class="table table-striped table-sorting" >
	<thead>
		<tr>
			<th ng-repeat="col in tableHeaders">
				<span ng-switch on="col.dataType">
					<span ng-switch-when="number"><span class="text-right">{{col.desc}}</span></span>
					<span ng-switch-default>{{col.desc}}</span>
				</span>
			</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="tableRecord in tableData">
			<td ng-repeat="col in tableHeaders">
				<span ng-switch on="col.dataType">
					<span ng-switch-when="number"><span class="text-right">{{tableRecord[col.key]}}</span></span>
					<span ng-switch-default>{{tableRecord[col.key]}}</span>
				</span>
			</td>
		</tr>
	</tbody>
</table>