<div class="company">
    <div class="header">
        <h1>Sales Funnel</h1>
        <p class="subheader">Select what content types you'd like ot see in each stage of your sales<br>
        funnel. You may have the same content types in different stages.</p>

        <a class="cta-link">Add Sales Stage</a>
    </div>
    <div class="main sales-funnel">
        <!-- new stage -->
        <div class="stage new">
            <div class="main">
                <div class="header-section">
                    <h2>
                        <input placeholder="Funnel name" />
                    </h2>
                    <div class="customize-options">
                            <div class="publish-buttons">
                                <button class="publish-btn" ng-click="ctrl.goBackHome()">
                                    <div class="icon small white-check"></div>
                                    <p class="btn-text">Save Stage</p>
                                </button>
                            </div>
                            <div class="dashboard-buttons">
                                <div class="action-btn" ng-mouseover="ctrl.showBtn('delete')" ng-mouseout="ctrl.hideBtn('delete')" ng-click="ctrl.editState()">
                                    <div class="icon trash"></div>
                                    <!-- <p ng-show="ctrl.actionBtnState.delete">Edit</p> -->
                                </div>
                                <div class="action-btn" ng-mouseover="ctrl.showBtn('move')" ng-mouseout="ctrl.hideBtn('move')" ng-click="ctrl.editState()">
                                    <div class="icon move"></div>
                                    <!-- <p ng-show="ctrl.actionBtnState.delete">Edit</p> -->
                                </div>
                            </div>
                    </div>
                </div>
                <div class="tags-container">
                    <div class="tag" ng-class="{inactive: !type.active}" ng-repeat="type in ctrl.newSaleStage.contentTypes">
                        <div class="content" >
                            <span>{{type.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pre-existing stages -->
        <div class="stage" ng-repeat="stage in ctrl.salesFunnel">
            <div class="main">
                <div class="header-section">
                    <h2>{{stage.funnelName}}</h2>
                    <div class="customize-options">
                        <div class="dashboard-buttons">
                            <div class="action-btn" ng-mouseover="ctrl.showBtn('edit')" ng-mouseout="ctrl.hideBtn('edit')" ng-click="ctrl.editState()">
                                <div class="icon edit"></div>
                                <!-- <p ng-show="ctrl.actionBtnState.delete">Edit</p> -->
                            </div>
                            <div class="action-btn" ng-mouseover="ctrl.showBtn('delete')" ng-mouseout="ctrl.hideBtn('delete')" ng-click="ctrl.editState()">
                                <div class="icon trash"></div>
                                <!-- <p ng-show="ctrl.actionBtnState.delete">Edit</p> -->
                            </div>
                            <div class="action-btn" ng-mouseover="ctrl.showBtn('move')" ng-mouseout="ctrl.hideBtn('move')" ng-click="ctrl.editState()">
                                <div class="icon move"></div>
                                <!-- <p ng-show="ctrl.actionBtnState.delete">Edit</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tags-container">
                    <div class="tag" ng-class="{inactive: !type.active}" ng-repeat="type in stage.contentTypes">
                        <div class="content" >
                            <span>{{type.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar">
    <content-types data="ctrl.newSaleStage.contentTypes"></content-types>
</div>