<div class="block modal-block">
	<div class="head">
		<h2>User Group</h2>
		<button class="button button-close" type="button" ng-click="cancelOperation()">x</button>
	</div>
	<form name="editUserGroupForm">
		<div class="cont">
			<label class="form-label">Name</label>
			<input required name="userGroupName" placeholder="Enter Name" 
					class="form-control" ng-model="userGroup.name"/>
			<div ng-messages="editUserGroupForm.userGroupName.$error">
				<div ng-message="required">This is required.</div>
	        </div>
		</div>
		<div class="head ebx-top-border">
			<i ng-class="isUserSetCollapsed ? 'fa fa-chevron-right' : 'fa fa-chevron-down'" class="ebx-float-right" 
						aria-hidden="true" ng-click="isUserSetCollapsed = !isUserSetCollapsed"></i>
			<h2>User Set</h2>
		</div>
		<div class="cont" collapse="isUserSetCollapsed">
			<eb-bounded content-def="userBoundedRefItemDef" select-value="userSet"></eb-bounded>
		</div>
		<div ng-if="masterRefSetList && masterRefSetList.length > 0">
			<div class="head ebx-top-border">
				<i ng-class="isRefSetCollapsed ? 'fa fa-chevron-right' : 'fa fa-chevron-down'" class="ebx-float-right" 
							aria-hidden="true" ng-click="isRefSetCollapsed = !isRefSetCollapsed"></i>
				<h2>User Set From {{focusName}}</h2>
			</div>
			<div class="cont" collapse="isRefSetCollapsed">
				<div class="corr-item-cont">
					<div class="cg-corr-items">
						<span ng-repeat="refSet in masterRefSetList" class="chckBox"> 
							<input type="checkbox" ng-checked="refSet._selected" ng-click="toggleRefSetSelection(refSet)">
						 	<span class="chckBox-label">{{refSet.attributeLabel}}</span>
						 </span>
					</div>
				</div>
			</div>
		</div>
		<div class="head ebx-top-border">
			<i ng-class="isFilterSetCollapsed ? 'fa fa-chevron-right' : 'fa fa-chevron-down'" class="ebx-float-right" 
						aria-hidden="true" ng-click="isFilterSetCollapsed = !isFilterSetCollapsed"></i>
			<h2>Filter User Set</h2>
		</div>
		<div collapse="isFilterSetCollapsed">
			<ebx-condition-attributes condition-holder="filteredUsers" condition-on-container="userContainerId"></ebx-condition-attributes>
		</div>
		<div class="foot clearfix">
			<button ng-click="updateUserGroup()" class="button button-add">Save</button>
			<a ng-click="cancelOperation()" class="button button-delete">Cancel</a>
		</div>
	</form>
</div>
