	<!DOCTYPE html>
	
	<html lang="en">
	    <body>
	        
	       <h3> Hi ${obj.profile.name},
	
			ENABLIX: Your password has been reset. </h3>
			 <div>
	            Your user id is <a href="mailto:${obj.userId}">${obj.userId}</a> and NEW password is ${obj.password} .
	        </div>
			</br>
	        <div>
	         If you have not reset the password, kindly contact the administrator.
	           
	        </div>
	        </br>
	       
	       <p> Thanks, </br>Enablix Team<p>
	    </body>
	</html>
