	<!DOCTYPE html>
	
	<html lang="en">
	    <body>
	        
	       <h3> Hi ${obj.profile.name},
	
			Welcome to Enablix! </h3>
			 <div>
	            Your user id is <a href="mailto:${obj.userId}">${obj.userId}</a> and default password is ${obj.password}
	        </div>
			</br>
	        <div>
	          Please login to www.enablix.com with the above credentials and set a new password.
	           
	        </div>
	        </br>
	       
	       <p> Thanks, </br>Enablix Team<p>
	        
	    </body>
	</html>
