<ebx-header></ebx-header>
<div class="login-container" *ngIf="!passwordUpdated">
  <div class="form-container">
    <form (submit)="resetPassword($event)">
      <div *ngIf="invalidUsername" class="input-group error">User not found. Please try again.</div>
      <div class="input-group">
        <div class="label">Please submit your registered email address and we will send you a new temporary password</div>
      </div>
      <div class="input-group">
        <div><input type="text" name="username" [(ngModel)]="username" placeholder="Email Id"></div>
      </div>
      <div class="input-group">
        <div class="action-btn"><button type="submit">Submit</button></div>
      </div>
    </form>
  </div>
</div>
<div class="login-container" *ngIf="passwordUpdated">
  <div class="form-container">
    <div class="input-group">
      <div class="label"><h3>Password reset successfully</h3></div>
    </div>
    <div class="input-group">
      <div class="label">You should receive an email with your temporary password.</div>
    </div>
    <div class="input-group">
      <div class="action-btn" routerLink="/login"><button type="submit">Click to Login</button></div>
    </div>
  </div>
</div>