<ng-template #clientBrand>
  <ng-container *ngIf="tenantLogoExist">
    <div class="logo-container">
      <img class="client-logo" src="/assets/img/client-logo.png" (error)="tenantLogoExist = false"/>
    </div>
  </ng-container>
  <ng-container *ngIf="!tenantLogoExist">
    <div class="logo"><div class="logo-placeholder"></div></div>
    <h3 class="brand" [title]="tenantService.tenant?.name">{{tenantService.tenant?.name}}</h3>
  </ng-container>
</ng-template>
<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'portal'">
    <div *ngIf="username != null; then loggedInBlock; else loggedOutBlock"></div>
  </ng-container>
  <ng-container *ngSwitchCase="'empty'">
    <div *ngIf="1==1; then loggedOutBlock"></div>
  </ng-container>
  <ng-container *ngSwitchCase="'company'">
    <div class="nav-bar company">
      <div class="left">
        <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png" (click)="navToHome()"/>
      </div>
      <div class="center1">
        <div class="client-brand full-width" (click)="navToCompanyPage()">
          <ng-template *ngTemplateOutlet="clientBrand"></ng-template>
        </div>
      </div>
      <div class="center2"></div>
      <div class="center3"></div>
      <div class="right">
        <ebx-user-icon></ebx-user-icon>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'reports'">
    <div class="nav-bar company">
      <div class="left">
        <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png" (click)="navToHome()"/>
      </div>
      <div class="center1">
        <div class="rpt-heading">
          <button class="circle icon-btn">
            <div class="icon small insights"></div>
          </button>
          <h3 class="title">Insights</h3>
        </div>
      </div>
      <div class="center2"></div>
      <div class="center3"></div>
      <div class="right">
        <ebx-user-icon></ebx-user-icon>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'cntntmgr'">
    <div class="nav-bar company">
      <div class="left">
        <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png" (click)="navToHome()"/>
      </div>
      <div class="center1">
        <div class="rpt-heading">
          <button class="circle icon-btn">
            <div class="icon small drafts"></div>
          </button>
          <h3 class="title">Content Manager</h3>
        </div>
      </div>
      <div class="center2"></div>
      <div class="center3"></div>
      <div class="right">
        <ebx-user-icon></ebx-user-icon>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'myaccount'">
    <div class="nav-bar company">
      <div class="left">
        <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png" (click)="navToHome()"/>
      </div>
      <div class="center1">
        <div class="rpt-heading">
          <button class="circle icon-btn">
            <div class="icon small settings-grey"></div>
          </button>
          <h3 class="title">Settings</h3>
        </div>
      </div>
      <div class="center2"></div>
      <div class="center3"></div>
      <div class="right">
        <ebx-user-icon></ebx-user-icon>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'search-home'">
    <div class="nav-bar">
      <div class="left">
        <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png"/>
      </div>
      <div class="center1">
        <div class="sb-container">
          <ebx-search-bar [sbController]="globalSearchCtrl"></ebx-search-bar>
        </div>
      </div>
      <div class="center2"></div>
      <div class="center3"></div>
      <div class="right"></div>
    </div>
  </ng-container>
</ng-container>
<ng-template #loggedInBlock>
  <div class="nav-bar">
    <div class="left" *ngIf="!(appCtx.embedded && !appCtx.fullPage)">
      <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png" (click)="navToHome()"/>
    </div>
    <div class="center1">
      <div class="sb-container">
        <ebx-search-bar [sbController]="globalSearchCtrl"></ebx-search-bar>
      </div>
      <ng-container *ngIf="!appCtx.embedded">
        <ebx-upload-button></ebx-upload-button>
      </ng-container>
    </div>
    <div class="center2" *ngIf="!appCtx.embedded">
      <button (click)="navToCConsol()" class="circle icon-btn" title="Content Manager">
        <div class="icon small drafts"></div>
      </button>
      <div class="line"></div>
    </div>
    <div class="center3" *ngIf="!appCtx.embedded">
      <div class="center-sub">
        <div class="client-brand" (click)="navToCompanyPage()">
          <ng-template *ngTemplateOutlet="clientBrand"></ng-template>
        </div>
      </div>
      <div class="center-sub center-rt">
        <ng-container *ebxAccess="'VIEW_REPORTS'">
          <div class="line"></div>
          <button (click)="navToReports()" class="circle icon-btn" title="Insights">
            <div class="icon small insights"></div>
          </button>
        </ng-container>
      </div>
    </div>
    <div class="right" *ngIf="!appCtx.embedded">
      <ebx-user-icon></ebx-user-icon>
    </div>
  </div>
</ng-template>
<ng-template #loggedOutBlock>
  <div class="login-nav-bar"><div><img class="enablix-logo big-logo" src="/assets/images/company/enablix_logo_with_text@2x.png"/></div></div>
</ng-template>
