@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/breakpoint.mixin';
@import '~styles/fonts.scss';

.nav-bar {
  min-height: 72px;
  padding: 8px 0 0 0;
  width: 100%;
  @include vcenterChildren;

  .left {
      @include vcenterChildren;

      @include breakpoint(sm){
        width: 36px;
      }
      
      @include breakpoint(md){
        width: 48px;
      }

      .sb-container {
        width: 100%;
      }
  }

  .center1 {
    display: flex;
    justify-content: space-between;
    @include vcenterChildren;

    @include breakpoint(md) {
        width: calc(100% - 48px - 344px - 80px);
    }
  }

  .center2 {
    @include vcenterChildren;
    display: flex;
    width: 80px;
    justify-content: flex-end;
  }

  .center3 {
    @include vcenterChildren;
    display: flex;
    width: 296px;
    justify-content: space-between;

    .center-sub {
      display: flex;
    }

    .center-rt {
      width: 86px;
    }
  }

  .right {
      @include vcenterChildren;
      justify-content: flex-end;

      @include breakpoint(sm){
        width: 36px;
      }
      
      @include breakpoint(md){
        width: 48px;
      }
  }

  .rpt-heading {
    @include vcenterChildren;
    display: flex;
    font-family: $FPThin;
    .title {
      margin-left: 8px;
    }
  }

  .line {
    /* opacity: 0.03; */
    background: rgba(0,0,0,.03);
    width: 1px;
    height: 32px;
    margin-right: 16px;
    margin-left: 16px;

    @media only screen and (max-width: 1072px) {
      display: none;
    }
  }

  .enablix-logo {
    height: 16px;
    margin-right: 24px;
    cursor: pointer;
  }

  &.company {
    .client-brand {
      background: none;
      box-shadow: none;

      .logo {
          padding: 8px 8px 8px 0;
      }
    }
  }

  .client-brand {
      @include vcenterChildren;
      height: 48px;
      width: 192px;
      background: $white;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
      border-radius: 4px;
      padding-right: 8px;
      cursor: pointer;

      .logo {
          padding: 8px;

          .logo-placeholder {
            width: 32px;
            height: 32px;
            background-color: #2C4290;
            border-radius: 4px;
          }
      }

      .logo-container {
        width: 100%;
        text-align: center;
      }

      .client-logo {
        max-height: 32px;
        margin-left: 8px;
      }

      &.full-width {
        width: 100%;
        .logo-container {
          text-align: left;
        }
      }
    
      h3 {
          // line-height: 20px;
          height: 22px;
          padding-right: 8px;
          font-family: $FPThin;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      @media only screen and (max-width: 1072px) {
        display: none;
      }
  }

  .draft {
    @media only screen and (max-width: 1144px) {
      display: none;
    }
  }

  .users-group {
      display: flex;
      position: relative;
      left: 38px;

    .users-count, .user-img{
      position: relative;
    }

    .user-img {
      &:nth-child(2){
        left: -12px;
      }
      &:nth-child(3){
        left: -24px;
      }
    }

    .users-count {
      left: -36px;
    }
  }

  .circle.users-count {
      background-color: $blue-med-20;
      border: 2px solid $grey-lig-5;
      font-family: $FPBlond;
      font-size: 14px;
      color:$white; 
      line-height: 36px;
      text-align: center;
  }

  .consolidate-header {
      font-family: $FPBlond;
      color: $black;
      line-height: 20px;
  }

}

.login-nav-bar {
  height: 80px;
  padding: 0 40px 0 44px;
  justify-content: center;
  @include vcenterChildren;

  .enablix-logo {
    height: 16px;
    margin-right: 24px;

    &.big-logo {
      height: 40px;
    }
  }

}