#set ($introContent = $obj.content.get($obj.inputData.get('introType')).get(0))
#set ($introHeading = "#if($obj.inputData.get('introHeading'))$obj.inputData.get('introHeading')#{else}Introduction#end")
#@mail_template(${introHeading})

	#spacer_row('15')
											
	#mail_opening(${obj.recipientUser.name})
	
	#spacer_row('15')
	
	Check out #if(${obj.inputData.get('introMaterial')}) ${obj.inputData.get('introMaterial')}#else this introductory collateral on#end $introContent.title:
	
	#spacer_row('20')
	
	#@three_col_layout('' '0')
		#foreach($key in ${obj.content.keySet()}) 
			#if ($key != $obj.inputData.get('introType'))
				#set ($contentList = $obj.content.get($key))
				#foreach($content in $contentList)
					#set ($contentQId = $content.containerQId)
					#@three_col_layout_column()
						#content_preview_card($content 'EMAIL' $introContent.recordIdentity 'CONTENTINTRO')
					#end
				#end
			#end
		#end
	#end
	
	#spacer_row('20')
	
	To check out additional content on $introContent.title #generic_link( "#content_portal_url($obj.url $introContent.containerQId $introContent.recordIdentity)?atChannel=EMAIL&atContext=CONTENTINTRO&atContextId=$introContent.recordIdentity" 'click here')
	
	#mail_closing('Enablix')

#end
