<!DOCTYPE html>
<html lang="en">
 <body style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">
	<p>Hello#if(${obj.recipientUser.profile.name}) ${obj.recipientUser.profile.name}#end,</p>
	</p>
	<p>Here are some helpful links to learn more about    
	#foreach($item in $obj.emailContent)
		#if($item.containerQId	== 'product')
			#foreach($field in $item.fields)
				#if($field.label == 'Short Name')
					${field.value.value} #break
				#end
			#end
		#end
	#end
	</p><br/>	

#* In a bulleted list we need to show the following: 
	1. Product Name as a link to the product page on the portal. 
	2. Product Architecture link. 
	3. BattleCard Link
	4. Sales Deck Link 
	5. Case Studies: There will be sub-links under main link. 
	6. White Paper: There will be sub-links under main link. 
*#		

	<p>
	<ul>
		#foreach($item in $obj.emailContent)
			#if($item.containerQId	== 'product')
				#foreach($field in $item.fields)
					#if($field.id == 'shortName')
						<li><a href="${obj.url}/app.html#/portal/container/$item.containerQId/$item.recordIdentity/c/single/$item.containerQId/" target="_blank">${field.value.value}</a></li> #break
						#break
					#end
				#end
			#end
		#end
		#foreach($item in $obj.emailContent)
			#if($item.containerQId	== 'battlecard')
				#foreach($field in $item.fields)
					#if($field.id == 'title')
						<li><a href="${obj.url}/app.html#/portal/container/$item.containerQId/$item.recordIdentity/c/single/$item.containerQId/" target="_blank">${field.value.value}</a></li> #break
						#break
					#end
				#end
			#end
		#end
		#foreach($item in $obj.emailContent)
			#if($item.containerQId	== 'salesDeck')
				#foreach($field in $item.fields)
					#if($field.id == 'title')
						<li><a href="${obj.url}/app.html#/portal/container/$item.containerQId/$item.recordIdentity/c/single/$item.containerQId/" target="_blank">${field.value.value}</a></li> #break
						#break
					#end
				#end
			#end
		#end
		<li>Case Studies:
			<ul>
				#foreach($item in $obj.emailContent)
					#if($item.containerQId	== 'caseStudy')
						#foreach($field in $item.fields)
							#if($field.id == 'title')
								<li><a href="${obj.url}/app.html#/portal/container/$item.containerQId/$item.recordIdentity/c/single/$item.containerQId/" target="_blank">${field.value.value}</a></li> #break
								#break
							#end
						#end
					#end
				#end
			</ul>
		</li>
		<li>White Papers:
			<ul>
				#foreach($item in $obj.emailContent)
					#if($item.containerQId	== 'whitepaper')
						#foreach($field in $item.fields)
							#if($field.id == 'title')
								<li><a href="${obj.url}/app.html#/portal/container/$item.containerQId/$item.recordIdentity/c/single/$item.containerQId/" target="_blank">${field.value.value}</a></li> #break
								#break
							#end
						#end
					#end
				#end
			</ul>
		</li>
	</ul>
	</p>

      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Have any questions or feedback? You can reply to this email.</p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Cheers, <br/>Enablix Team for <b>${obj.tenant.name}</b> </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">P.S. please add support@enablix.com to your address book or safe sender list. </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">&copy; 2016 Enablix LLC. All rights reserved. For more information, please contact us at support@enablix.com</p>
   </body>
</html>
