<!DOCTYPE html>
<html lang="en">
 <body style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">
	<p>Hello#if(${obj.recipientUser.name}) ${obj.recipientUser.name}#end,</p>
	<p>Here are the products and solutions related to the sales play, ${obj.triggerEntityTitle}.</p>	

	<p><strong>Related Products</strong>
	<ul>
		#foreach($item in $obj.emailContent)
			#if($item.containerQId	== 'product')
				#foreach($field in $item.fields)
					#if($field.id == 'shortName')
						<li><a href="${obj.url}/app.html#/portal/container/$item.containerQId/$item.recordIdentity/c/single/$item.containerQId/?atChannel=EMAIL&atContext=CORRELATION&atContextId=$obj.identity" target="_blank">${field.value.value}</a></li> #break
						#break
					#end
				#end
			#end
		#end
	</ul>
	</p>	
	
	<p><strong>Related Solutions</strong>
	<ul>
		#foreach($item in $obj.emailContent)
			#if($item.containerQId	== 'solution')
				#foreach($field in $item.fields)
					#if($field.id == 'shortName')
						<li><a href="${obj.url}/app.html#/portal/container/$item.containerQId/$item.recordIdentity/c/single/$item.containerQId/?atChannel=EMAIL&atContext=CORRELATION&atContextId=$obj.identity" target="_blank">${field.value.value}</a></li> #break
						#break
					#end
				#end
			#end
		#end
	</ul>
	</p>
   
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Have any questions or feedback? You can reply to this email.</p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Cheers, <br/>Enablix Team for <b>${obj.tenant.name}</b> </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">P.S. please add support@enablix.com to your address book or safe sender list. </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">&copy; 2016 Enablix LLC. All rights reserved. For more information, please contact us at support@enablix.com</p>
   </body>
</html>
