<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#dataFilterContainer">
		<h5 class="panel-title"><i class="fa fa-filter"></i>{{::heading}}</h5>
	</div>
	<div id="dataFilterContainer" class="collapse out in">
		<div class="panel-body">
			<div class="cont" ng-repeat="filter in filters track by filter.id">
				<label class="form-label">{{::filter.name}}</label> 
				<ebx-multi-select-filter ng-if="filter.type == 'multi-select'" filter-def="filter" selected-values="filterValues[filter.id]" single-select="filter.options && filter.options.singleSelect"></ebx-multi-select-filter>
				<label class="form-label error" ng-if="filter.errorMessage">{{filter.errorMessage}}</label>
			</div>
			<div class="foot clearfix">
				<button ng-click="onSearchAction()" class="button button-add">{{::searchLabel}}</button>
				<button ng-click="onResetAction()" class="button button-delete">{{::resetLabel}}</button>
				<!--<button ng-if="showSaveAsDefault" ng-click="saveAsUserDefault()" class="button button-edit">Save As My Default</button>-->
				<button ng-if="showSaveAsDefault" ng-click="saveAsSystemDefault()" class="button button-edit">Set Default</button>
			</div>
		</div>
	</div>
</div>
