@import '~styles/fonts.scss';

.pagination {

  display: flex;
  justify-content: center;
  align-content: center;
  font-family: $FPLight;

  .page-btn {
    background: #FFFFFF;
    padding: 8px;
    min-width: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #4a8aef;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    margin-right: 4px;
    height: 16px;

    &.bold {
      font-weight: 700;
    }

    &:hover {
      background: #fcfcfc;
    }

    &.active {
      background: #fcfcfc;
      font-weight: 700;
    }
  }
}