<div class="container-fluid">
	<!-- bread crumbs -->
	<div class="bread-crumbs">
		<div class="cont">
			<span ng-repeat="breadcrumbItem in breadcrumbList">
				<span ng-if="$last">{{breadcrumbItem.label}}</span>
				<a ng-if="!$last">{{breadcrumbItem.label}}</a>&nbsp;&nbsp;<i ng-if="!$last" class="fa fa-angle-right"></i>
			</span>
		</div>
	</div>
	<!--/ bread crumbs -->

	<div class="row">
		<aside class="col-sm-4 col-md-3">
			<nav id="side-nav" class="side-nav">
				<ul>
					<li ng-class="{active: $state.includes('system.users')}">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref="system.users.list">User Management</a>
					</li>
					<li ng-class="{active: $state.includes('system.audit')}">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref="system.audit">Audit</a>
					</li>
					<li ng-class="{active: $state.includes('system.docstore')}">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref-active="active" ui-sref="system.docstore">Document Store</a>
					</li>
					<li ng-class="{active: $state.includes('system.emailConfig')}">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref-active="active" ui-sref="system.emailConfig.list">Email Configuration</a>
					</li>
					<li ng-class="{active: $state.includes('system.quicklinks')}">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref-active="active" ui-sref="system.quicklinks">Manage Quick Links</a>
					</li>
					<li ng-class="{active: $state.includes('system.recommendations')}">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref-active="active" ui-sref="system.recommendations">Manage Recommendations</a>
					</li>
					<li ng-class="{active: $state.includes('system.contentrequestlist') || $state.includes('system.contentrequestedit') || $state.includes('system.contentrequestview')}" requires-permission="MANAGE_CONTENT_REQUEST">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref-active="active" ui-sref="system.contentrequestlist">Content Requests</a>
					</li>
					<li ng-class="{active: $stateParams.category == 'businesscontent' && ($state.includes('system.contentconnlist') || $state.includes('system.contentconndetail') || $state.includes('system.contentconnadd') || $state.includes('system.contentconnedit'))}">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref-active="active" ui-sref="system.contentconnlist({category: 'businesscontent'})">Content Type Mappings</a>
					</li>
					<li ng-class="{active: $stateParams.category == 'businessdimension' && ($state.includes('system.contentconnlist') || $state.includes('system.contentconndetail') || $state.includes('system.contentconnadd') || $state.includes('system.contentconnedit'))}">
						<i class="fa fa-angle-right"></i>
						<a href="#" ui-sref-active="active" ui-sref="system.contentconnlist({category: 'businessdimension'})">Business Dimension Mappings</a>
					</li>
				</ul>
		    </nav>
		</aside>
		<div class="col-sm-9">
			<div ui-view></div>
		</div>
	</div>
</div>