@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.text-preview {

    textarea, .plaintext, .ql-editor {
        border-radius: 4px;
        background: $white;
        height: 340px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
        padding: 21px 32px;

        font-family: $FPThin;
        font-size: 24px;
        color: $black;
        line-height: 32px;
    }

    .plaintext {
        width: calc(100% - 40px - 32px);
    }

}