<div class="left">
    <h1>Premature Scaling: Why It Kills Startups and How to Avoid it</h1>
    <p class="label">Last updated yesterday at 11:02am</p>

    <div class="row">
        <p class="label">Source</p>
        <p class="text">https://medium.com/swlh/premature-scaling-why-it-kills-startups-and-how-to-avoid-it-500677f45024</p>
    </div>
    <div class="row with-height">
        <p class="label">Content Type</p>
        <div class="tags-container">
            <div class="tag">
                <div class="content">
                    <span>Blog</span>
                </div>
            </div>                            
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Relevance</p>
        <!-- can be refactored into directive -->
        <div class="sectors-container">
            <div class="company-sector purple">
                <div class="content">
                    <span>IdentityGuard</span>
                </div>
            </div>
            <div class="company-sector purple">
                <div class="content">
                    <span>IdentityGuard Mobile</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Properties</p>
        <div class="sectors-container">
            <div class="company-sector">
                <div class="content">
                    <span>North America</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right">
        <div class="url-asset">
            <img class="url-preview" src='/assets/images/covers/url_image@2x.png' />
            <!-- <iframe frameborder="0" src="{{ctrl.url}}"></iframe> -->
        </div>
    </div>