@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.confirm-prompt {
    font-family: $FPLight;

    h1 {
        margin-bottom: 24px;
    }

    h3 {
        margin-bottom: 32px;
        line-height: 24px;
    }

    button {
        min-width: 146px;
        padding: 0 14px;
    }
}