<div class="block" ng-if="showSubContainer">
	<div ng-class="{'active': expanded}" class="head head-toggle active" ng-click="toggleContainer($event)">
		<i class="expandable"></i>
		<em class="fa fa-square-o"></em>		
		<h2 ng-if="!navigableHeader">{{subContainerLabel}}</h2>
		<div class="action-icons bar-action-icons">
			<span ng-if="bodyData.downloadDocIdentity">
				<eb-doc-download doc-value="bodyData.downloadDocIdentity"></eb-doc-download>
				<eb-doc-preview-action doc-identity="bodyData.downloadDocIdentity"></eb-doc-preview-action>
			</span>
			<a class="fa fa-share-alt bar-share" ng-click="openShareContentModal()" ></a>
		</div>
		<h2><eb-nav-link hide-hierarchy="false" hide-doc-link="true" nav-link="navContentData" ng-if="navigableHeader"></eb-nav-link></h2>
			
	</div> 
	
	<div ng-class="{'active': !expanded}" class="cont clearfix" ng-if="!(bodyData == null || bodyData == undefined || bodyData.length == 0)">	
	
		<table class="infotable" >		
			<tr ng-repeat="header in singleHeaders" ng-switch="header.dataType" ng-if="bodyData[header.key]!=null">
				<th>{{header.label}}:</th>
				<td><eb-render-data content-value="bodyData[header.key]" content-def="header" content-identity="bodyData.identity" show-doc-link="false"/></td>
			</tr>
	  	</table>
	</div>
	<div ng-if="bodyData == null || bodyData == undefined || bodyData.length == 0" 
		 class="cont cont-hidden cont-empty">
		No data found.
	</div>
</div>
