<div class="block" ng-if="bodyData.length != 0">
	<div class="head head-toggle active" ng-click="toggleContainer($event)">
		<i class="expandable"></i>
		<em class="fa fa-clone"></em>
		<h2>{{subContainerLabel}}</h2>
	</div> 
	<div class="cont" ng-if="bodyData.length != 0">
		<div ng-repeat="dataItem in bodyData" class = "dataItem">
			<h4><eb-doc-download class="right-doc" ng-if="dataItem.downloadDocIdentity" doc-value="dataItem.downloadDocIdentity"></eb-doc-download>
			<a  class="fa fa-share-alt" ng-click="openShareContentModal($index)"></a>
			    <a ng-click="toggleContainerItem($event, dataItem.containerId + $index)" class="toggle">{{dataItem.headingLabel}}</a>
			    <a ng-if="dataItem.hasSubContainers" ng-click="navToItemDetail(dataItem.containerQId, dataItem.identity)" class="detail fa fa-external-link"></a></h4>
			<div id="{{dataItem.containerId}}{{$index}}" class="toggle-cont">
				<table class="infotable" >
					<tr ng-repeat="header in multiHeaders" ng-switch="header.dataType" ng-if="dataItem[header.key]!=null">
						<th>{{header.label}}:</th>
						<td><eb-render-data content-value="dataItem[header.key]" content-def="header" show-doc-link="false"/></td>
					</tr>
			  	</table>
			</div>
		</div>
	</div>
	<div ng-if="bodyData.length == 0" class="cont cont-hidden cont-empty">
		No data found.
	</div>
</div>

