<div class="block" ng-if="!(bodyData == null || bodyData == undefined || bodyData.length == 0)">
	<div ng-class="{'active': expanded}" class="head head-toggle active" ng-click="toggleContainer($event)">
		<i class="expandable"></i>
		<em class="fa fa-file-o"></em>
		<h2 ng-if="!navigableHeader">{{subContainerLabel}}</h2>
		<h2><eb-nav-link hide-hierarchy="false" nav-link="navContentData" ng-if="navigableHeader"></eb-nav-link></h2>
	</div>
	<div ng-class="{'active': !expanded}" class="cont clearfix" ng-if="!(bodyData == null || bodyData == undefined || bodyData.length == 0)">
		<table class="infotable" >
			<tr ng-repeat="header in singleHeaders" ng-switch="header.dataType" ng-if="bodyData[header.key]!=null">
				<th>{{header.label}}:</th>
				<td><eb-render-data content-value="bodyData[header.key]" content-def="header"/></td>
			</tr>
	  	</table>
	</div>
	<div ng-if="bodyData == null || bodyData == undefined || bodyData.length == 0" 
		 class="cont cont-hidden cont-empty">
		No data found.
	</div>
</div>
