<div class="block" ng-if="showSubContainer">
	<div class="head head-toggle active" ng-click="toggleContainer($event)">
		<i class="expandable"></i>
		<em class="fa fa-clone"></em>
		<h2>{{subContainerLabel}}</h2>
		<div class="action-icons bar-action-icons">
			<ebx-suggest-content content-q-id="subContainerQId" parent-identity="parentIdentity"></ebx-suggest-content>
		</div>
	</div> 
	<div class="cont" ng-if="bodyData.length != 0">
		<div ng-repeat="dataItem in bodyData" class = "dataItem">
			<h4><a ng-click="toggleContainerItem($event, dataItem.containerId + $index, dataItem)" class="toggle">{{dataItem.headingLabel}}</a>
			    <a ng-if="dataItem.hasSubContainers" ng-click="navToItemDetail(dataItem.containerQId, dataItem.identity)" class="detail fa fa-external-link"></a>
			    <div class="action-icons">
			    	<ebx-suggest-content content-q-id="subContainerQId" parent-identity="parentIdentity" content-identity="dataItem.identity"></ebx-suggest-content>
			    	<span ng-if="dataItem.downloadDocIdentity">
			    		<eb-doc-download doc-value="dataItem.downloadDocIdentity"></eb-doc-download>
			    		<eb-doc-preview-action doc-identity="dataItem.downloadDocIdentity"></eb-doc-preview-action>
			    	</span>
					<a class="fa fa-share-alt" ng-click="openShareContentModal(dataItem.identity)" tooltip="Share"></a>
			    </div>
			</h4>
			<div id="{{dataItem.containerId}}{{$index}}" class="toggle-cont">
				<table class="infotable" >
					<tr ng-repeat="header in multiHeaders" ng-switch="header.dataType" ng-if="dataItem[header.key]!=null">
						<th>{{header.label}}:</th>
						<td><eb-render-data content-value="dataItem[header.key]" content-def="header" content-identity="dataItem.identity" show-doc-link="false"/></td>
					</tr>
			  	</table>
			</div>
		</div>
		<div ng-if="pageData && pageData.numberOfElements < pageData.totalElements" class="dataItem sub-container-more-link">
			<h4><a ng-click="showSubContainerList()">...more</a></h4>
		</div>
	</div>
	<div ng-if="bodyData.length == 0" class="cont cont-empty">
		No data found.
	</div>
	
</div>

