<div class="block record-tile" ng-if="showSubContainer" layout="row">
	<div class="doc-thumbnail" ng-if="bodyData.docThumbnailUrl" flex="none"><img ng-src="{{bodyData.docThumbnailUrl}}" ng-click="openPreviewWindow(bodyData.docMetadata)"></img></div>
	<div class="record-data" flex>
		<div class="head" layout="row">
			<h2 flex><span class="content-label" ng-click="navToContentDetail(bodyData.identity)">{{::bodyData.headingLabel}}</span><span class="content-type" ng-show="::subContainerLabel"> ({{::subContainerLabel}})</span></h2>
			<div class="dropdown" flex="none">
				<div class="action-icons bar-action-icons">
					<span ng-if="bodyData.downloadDocIdentity" class="dropdown">
						<ebx-doc-context-menu content-record="bodyData"></ebx-doc-context-menu>
					</span>
					<ebx-suggest-content content-q-id="subContainerQId" parent-identity="parentIdentity" content-identity="bodyData.identity"></ebx-suggest-content>
					<ebx-share-context-menu context-data="bodyData" content-q-id="subContainerQId"></ebx-share-context-menu>
				</div>
			</div>
		</div>
		<div class="cont clearfix">	
			<div class="data-box" ng-class="::boxViewCSSClass()">
			<table class="infotable" >		
				<tr ng-repeat="header in headers track by header.id" ng-switch="header.dataType" ng-if="::isRenderable(header, bodyData[header.key])">
					<th>{{::header.label}}</th>
					<td><eb-render-data content-value="bodyData[header.key]" content-def="header" content-record="bodyData" show-doc-link="false"/></td>
				</tr>
		  	</table>
		  	<div class="box-view-read-more"><i class="fa fa-angle-down fa-lg" ng-click="expandBoxView($event)"></i></div>
		  	</div>
		</div>
		<div class="record-detail-action svgButton" ng-click="openRecordDetailWindow(bodyData)">
			<i class="fa fa-ellipsis-h"></i>
		</div>
	</div>
</div>
