<ebx-header type="company"></ebx-header>
<div class="container small-top-margin flex-row">
  <div class="company no-sidebar">
    <div class="main" *ebxAccess="'VIEW_STUDIO'" >
      <div class="sub-tabs">
        <a routerLink="/portal/company" routerLinkActive="tab-active" [routerLinkActiveOptions]="{ exact: true }">Users</a>
        <a routerLink="/portal/company/integrations" routerLinkActive="tab-active">Integrations</a>
        <a routerLink="/portal/company/cttemplate/dim" routerLinkActive="tab-active">Dimensions</a>
        <a routerLink="/portal/company/cttemplate/content" routerLinkActive="tab-active">Content Types</a>
        <a routerLink="/portal/company/props" routerLinkActive="tab-active">Properties</a>
      </div>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>