@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.main-section {

  .sub-section {
    padding: 24px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-family: $FPThin;

    &:first-child {
      padding-top: 12px;
    }

    .sub-section-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 16px;

      .search-row {

        display: flex;
        background: #fff;
        border-radius: 6px;
        padding: 0 12px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
        width: 320px;

        input[type="text"] {
          height: 40px;
          padding: 0 8px;
          font-size: 16px;
          color: #000;
          width: calc(100% - 32px);
        }

      }

    }

    .table-content {
      margin-top: 32px;
    }

    .header {
      margin-bottom: 16px;
      
      .subheader {
        font-family: $FPLight;
        font-size: 14px;
        color: $grey-dark;
        line-height: 17px;
      }
    }

    .sub-section-content {
      font-family: $FPLight;
      padding: 16px 24px;
      background: $white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 24px;

      form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .sub-info {
        font-size: 12px;
        color: #808C9B;
        padding-bottom: 12px;
      }

      .right {
        display: none;
      }

      .left {
        width: 100%;
        max-width: 640px;
      }

      &:hover .right {
        display: flex;
      }

      .content-row, h3 {
        padding: 8px 0;
      }

      .input-control {

        >input[type="text"], input[type="password"] {
          border: 1px solid #E3EBEF;
        }

      }
 
      &.left-no-padding {
        padding-left: 0;
      }

      .param-key {
        font-family: $FPBlond;
      }

      .param-value {
        padding-left: 12px;
      }
    } 

    .input-error {
      font-size: 14px;
    }
    
  }

  .dashboard-buttons {
    float: none;
  }
}