@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.url-asset {

  .embed-oembed {
    height: 400px;
  }

  .embed-rich {

    iframe, object {
      border: 0;
      min-height: 75vh;
      width: 100%;
    }

    .embed-heading {
      font-family: $FPNormal;
      color: $black;
      font-size: 18px;
      text-align: center;
      padding: 14px;
      border-bottom: 1px solid rgba(0,0,0,0.03);
    }

    .embed-image {
      
      text-align: center;

      img {
        width: 100%;
      }
    }

    .embed-card-text {

      padding: 16px 0;
      border-bottom: 1px solid rgba(0,0,0,0.03);   

      h3 {
        font-family: $FPLight;
      }

      

      .embed-desc {
        font-family: $FPLight;
        color: $black;
        font-size: 16px;
        padding: 14px 0;
        
      }

      .fav {
        font-family: $FPLight;
        font-size: 12px;
        text-transform: uppercase;
      }

      .favicon {
        width: 12px;
        height: 12px;
        margin-right: 5px;
        vertical-align: top;
      }
    }
  }
}