<iframe src="/js/vendor/viewerjs-0.5.8/ViewerJS/index.html#/doc/download/061b73cd-e2da-4221-8941-d2e25107df09.pdf" style="width:100%; height:500px;" allowfullscreen webkitallowfullscreen></iframe>
<div class="modal-header">
    <h3 class="modal-title">Add to Recommendations</h3>
</div>
<div class="modal-body">
<div class="cont">
	<span class="content-data">Are you sure you want to add this to Recommendations section?</span>
</div>
</div>
<div class="modal-footer">
	<button class="button button-add" type="button" ng-click="addRecommendation()">Yes</button>
    <button class="button button-delete" type="button" ng-click="close()">No</button>
</div>