<div class="left asset-file">
    <h1 contenteditable="true" ng-model="ctrl.fileUpload.title">{{ctrl.fileUpload.title}}</h1>
    <p class="label">Last updated yesterday at 11:02am</p>

    <div class="row">
        <p class="label">Description</p>
        <input class="description" type="text" placeholder="Type description" />
    </div>
    <div class="row with-height">
        <p class="label">Source</p>
        <img class="fileType" src="/assets/images/icons/ppt_icon.svg"/>
        <p class="text">StdChartered_CaseStudy.pptx</p>
    </div>
    <div class="row">
        <p class="label">Content Type</p>
        <div>
            <select>
                <option>Case Study</option>
            </select>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Relevance</p>
        <!-- can be refactored into directive -->
        <div class="sectors-container">
            <div class="dashboard-buttons">
                <div class="action-btn">
                    <div class="icon small plus"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row with-height">
        <p class="label">Properties</p>
        <div class="sectors-container">
            <div class="company-sector">
                <div class="content">
                    <span>North America</span>
                    <a class="remove" href="">
                        <img class="" src="/assets/images/icons/close-white.svg" />                
                    </a>
                </div>
            </div>
            <div class="dashboard-buttons">
                <div class="action-btn"  ng-click="this.addProperties()">
                    <div class="icon small plus"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <div class="file-preview">
        <div class="active-slide">
            <img class="slide" ng-src="{{ctrl.activeSlide.url}}" />
        </div>
        <div class="all-slides">
            <div class="mini-slide" ng-class="{'active': ctrl.activeSlide.id === $index + 1}" ng-repeat="s in ctrl.slides" ng-click="ctrl.selectedSlide($index)" >
                <img class="slide-thumbnail" ng-src="{{s.url}}" />
                <div class="overlay"></div>
                <div class="eye"></div>
            </div>
        </div>
    </div>
</div>