.main.featured {
  margin-bottom: 66px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;

  .data-card {
    margin-right: 24px;
    /* &:not(:first-child){
      margin-left: auto;
    }

    &:not(:last-child){
      margin-right: auto;
    } */
  }
}

ebx-reco-content .main .card-container {
  height: 228px;
  overflow: hidden;
}