<!DOCTYPE html>
<html lang="en">
     <body>
      <h3>Hello ${obj.profile.name},</h3>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">${obj.createdBy} created a <b>${obj.tenantId}</b>  account for you. Welcome to the team!
         <br/>Your temporary password is: ${obj.password}.
      </p>
      <div><a href="https://www.enablix.com" target="_parent">
      <button style="background: #3d85c6;
      font: normal 20px/normal Arial, Helvetica, sans-serif;
      color: rgba(255,255,255,0.9);
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 10px 10px 10px 10px;
      cursor: pointer;
      border: 1px solid #3d85c6;
      width:200px">Login</button>
      </a></div>
      <br/>
      <h3> What's this about?  </h3>
     <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">
         <b>${obj.tenantId}</b>  is for your colleagues and peers to manage, share and distribute sales, pre-
         sales, product and marketing collateral. <b>${obj.tenantId}</b>  is powered by Enablix, a sales & 
         marketing collaboration platform. 
      </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Have any questions or feedback? You can reply to this email.</p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Cheers, <br />Enablix Team for <b>${obj.tenantId}</b> </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">P.S. please add hostmaster@enablix.com to your address book or safe sender list. </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">&copy; 2016 Enablix. All rights reserved. For more information, please contact us</p>
   </body>
</html>
