<!DOCTYPE html>
<html lang="en">
 <head>
        <title>Weekly Digest</title>
    </head>
<body>
  <div>
    <div>
      <div style="min-height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
        <center>
          <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
            <tbody>
              <tr>
                <td align="center" valign="top" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
                    <tbody>
                      <tr>
                        <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td valign="top">
                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                      <tr>
                                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:14px;line-height:150%;text-align:left">
                                          <h1 style="display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left"></h1>
                                          <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><strong>Hello#if(${obj.loggedInUser.profile.name}) ${obj.loggedInUser.profile.name}#end,</strong> </p>
                                          <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                            <br> <strong>Here is your weekly digest from ${obj.tenant.name}.</strong> </p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px">
                          <table align="left" border="0" cellpadding="0" cellspacing="0" width="300" style="border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                      <tr>
                                        <td valign="top">
                                          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                            <tbody>
                                              <tr>
                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:14px;line-height:150%;text-align:left"> Recent Updates:
                                                  <ul	>
												  #foreach($key in $obj.recentList.keySet())
													#set ($navigableContent = $obj.recentList.get($key)) 
													#foreach($key1 in $navigableContent)  
                                                    <li><a href="$obj.url/#/portal/container/$key1.qualifiedId/$key1.identity/c/single/$key1.qualifiedId/">$key1.label</a>
                                                    	#if($key1.next) &gt; <a href="$obj.url/#/portal/container/$key1.next.qualifiedId/$key1.next.identity/c/single/$key1.next.qualifiedId/">$key1.next.label</a>#end </li>
													 #end
													 #end
                                                  </ul>
                                                  <br> We hope you find this information useful. Have any questions or feedback? You can reply to this email.
                                                  <br>
                                                  <br>
                                                  <br>
                                                  <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:14px;line-height:150%;text-align:left">Cheers,</p>
                                                  <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:14px;line-height:150%;text-align:left">Enablix Team for ${obj.tenant.name}</p> &nbsp;
                                                  <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:14px;line-height:150%;text-align:left">P.S.&nbsp;please add<a href="mailto:support@enablix.com" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank"> support@enablix.com</a> to your address book or safe sender list.</p>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table align="left" border="0" cellpadding="0" cellspacing="0" width="300" style="border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                    <tbody>
                                      <tr>
                                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#EFEFEF;border-collapse:collapse">
                                            <tbody>
                                              <tr>
                                                <td align="left" valign="top" style="padding-top:0px;padding-right:0px;padding-bottom:0;padding-left:0px">
                                                  <table style="width:264px;border-collapse:collapse"></table>
                                                </td>
                                              </tr>
                                              <tr>                                              
                                              	 
                                               <td style="padding: 9px 18px;line-height: 150%;font-size: 14px;font-weight: normal;font-family: Helvetica">
                                                  #foreach($key in $obj.sideBarItems.keySet())
                                        		#set($items = $obj.sideBarItems.get($key))
                                        		 <b>$key</b>
                                                  <ul>
                                                   #foreach($key1 in $items)
                                                    <li><a href="$obj.url/#/portal/container/$key/$key1.identity" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank">$key1.name</a> </li>
                                                     #end
                                                    </ul> 
                                                    #end
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">
                          
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                            <tbody>
                              <tr>
                                <td valign="top">
                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                      <tr>
                                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center"> <em>Copyright © 2016 Enablix LLC, All rights reserved.</em>
                                          <br> </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </div>
    </div>
  </div>
</body>

</html>