<div class="card-preview" [class.small]="size == 'small'" *ngIf="!isBizDimension">
  <div class="cardImg" *ngIf="thumbnailUrl" [class.no-thmbnl]="isNoPreviewImage()">
    <img *ngIf="thumbnailUrl" [src]="thumbnailUrl" />
  </div>
  <div class="cardImgText" *ngIf="text">
    <div><p ellipsis ellipsis-resize-detection="window" [innerHtml]="text"></p></div>
  </div>
  <div class="cardDefaultImg" *ngIf="!text && !thumbnailUrl">
    <img [src]="getNoPreviewImage()" />
  </div>
</div>
<!-- <div class="card-preview" *ngIf="isBizDimension">
  <div class="img-cont" [style.background]="cardColor">
  </div>
</div> -->