<div class="assets-navbar">
    <div ng-click="ctrl.goBackHome()">
        <img src="../../assets/images/buttons/back_btn.png"/>
    </div>
    <div ng-if="!ctrl.showPublishOptions">
        <div class="edit-container">
            <div class="action-btn" ng-click="ctrl.editState()" ng-mouseover="ctrl.showBtn('edit')" ng-mouseleave="ctrl.hideBtn('edit')"><img src="../../assets/images/buttons/edit_btn.png" /></div>
            <div ng-show="ctrl.btnState.edit" class="editable-btn">
                    <p class="text">Edit</p>
            </div>
            <div class="action-btn" ng-click="ctrl.deletePrompt()" ng-mouseover="ctrl.showBtn('delete')" ng-mouseleave="ctrl.hideBtn('delete')"><img src="../../assets/images/buttons/trash_btn.png" /></div>
            <div ng-show="ctrl.btnState.delete" class="editable-btn">
                <p class="text">Delete</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="share-container">
            <div class="action-btn" ng-click="ctrl.confirmAction('copy')" ng-mouseover="ctrl.showBtn('copy')" ng-mouseleave="ctrl.hideBtn('copy')"><img src="../../assets/images/buttons/copy_btn.png" /></div>
            <div ng-show="ctrl.btnState.copy" class="editable-btn">
                <p ng-hide="ctrl.showActionConfirmed.copy" class="text">Copy</p>
                <p ng-show="ctrl.showActionConfirmed.copy" class="text"><img src="/assets/images/icons/check-icon.svg" />Copied</p>
            </div>
            <div class="action-btn" ng-click="ctrl.confirmAction('attachment')" ng-mouseover="ctrl.showBtn('attach')" ng-mouseleave="ctrl.hideBtn('attach')"><img src="../../assets/images/buttons/attachment_btn.png" /></div>
            <div ng-show="ctrl.btnState.attach || ctrl.showActionConfirmed.attachment" class="editable-btn">
                <p ng-hide="ctrl.showActionConfirmed.attachment" class="text">Attach</p>
                <p ng-show="ctrl.showActionConfirmed.attachment" class="text"><img src="/assets/images/icons/check-icon.svg" />Attached</p>
            </div>
            <div class="action-btn" ng-click="ctrl.confirmAction('email')" ng-mouseover="ctrl.showBtn('email')" ng-mouseleave="ctrl.hideBtn('email')"><img src="../../assets/images/buttons/email_btn.png" /></div>
            <div ng-show="ctrl.btnState.email" class="editable-btn">
                <p ng-hide="ctrl.showActionConfirmed.email" class="text">Email</p>
                <p ng-show="ctrl.showActionConfirmed.email" class="text"><img src="/assets/images/icons/check-icon.svg" />Emailed</p>
            </div>
        </div>
    </div>

    <div ng-if="ctrl.showPublishOptions">
        <div>
            <img ng-click="ctrl.previewState()" src="../../assets/images/buttons/publish_btn.png" />
            <img ng-click="ctrl.goBackHome()" src="../../assets/images/buttons/save_draft_btn.png" />
            <img ng-click="ctrl.cancelState()" src="../../assets/images/buttons/cancel_publish_btn.png" />
        </div>
    </div>
    <div class="far-right">
        <div class="notification">
            <img src="/assets/images/buttons/notifications_btn.png" />
        </div>
        <div class="user">
            <img class="icon user-img" src="/assets/images/company/profile_img@2x.png" />
        </div>
    </div>
</div>
<div class="assets-container">
    <div ui-view></div>
</div>
<div ng-show="ctrl.showDeletePrompt" class="delete-prompt">
    <div>
        <h1>Delete Asset</h1>
        <h3>You are about to delete Chartered Case Study asset.<br>
        You won't be able to restore it. Would you like to proceed?</h3>
        
        <button class="action" ng-click="ctrl.deleteAction('delete')">Delete Asset</button>
        <button class="cancel" ng-click="ctrl.deleteAction('close')">No, keep it.</button>
    </div>
</div>
<div ng-show="ctrl.showEmailPrompt" class="email-prompt">
    <div>
        <h1>Share by Email</h1>
        <label for="email">To: </label>
        <input id="email" class="email-input border-style" ng-model="ctrl.email.emailAddresses" type="text" />
        <textarea class="email-message border-style" ng-model="ctrl.email.message" placeholder="Message (optional)"></textarea>

        <button class="action" ng-click="ctrl.emailAction('send')">Send</button>
        <button class="cancel" ng-click="ctrl.emailAction('close')">Cancel</button>
    </div>
</div>