.assets-navbar {
    height: 80px;
    margin-bottom: 40px;
    @include vcenterChildren;

    >div {
        display: flex;
    }

    >div:first-child {
        width: 370px;
        img {
            cursor: pointer;
        }
    }

    .edit-container, .share-container {
        display: flex;

        div.action-btn {
            &:not(:last-child){
                margin-right: 8px;
            }
            cursor: pointer;
        }
    }

    .notification {
        margin-right: 8px;
    }

    .far-right{
        margin-left: auto;
        margin-right: 0;
    }
}

.assets-container {
    h1 {
        font-family: $FPLight;
        color: $black;
        line-height: 38px;
    }
    
    .left {
        width: 300px;
        float: left;
        margin-right:70px;

        .row:not(:last-child) {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0,0,0,0.03);

            &.with-height{
                height: 73px;
            }

            img.fileType {
                float: left;
                margin-right: 6px;
            }
        }

        .label {
            font-family: $FPBlond;
            font-size: 14px;
            color: #808C9B;
            line-height: 17px;
            padding-bottom: 8px;
            padding-top: 16px;
        }

        .text {
            font-family: $FPBlond;
            font-size: 14px;
            color: #2D2D2D;
            line-height: 18px;
        }
    }

    .right {
        float: left;
        width: calc(100% - 370px - 40px);
    }

    input, select {
        width: 296px;
        height: 40px;
        font-size: 14px;
        padding-left: 14px;
    }        
}

.delete-prompt {
    font-family: $FPBlond;
    @include overlay;

    >div {
        width: 528px;
        margin: 0 auto;
        border-radius: 4px;
        background: #F7F9F9;
        padding: 32px 48px 40px;
        z-index: 10;
    }

    h1 {
        margin-bottom: 24px;
    }

    h3 {
        margin-bottom: 32px;
        line-height: 24px;
    }

    button {
        width: 146px;
    }
}

.email-prompt {
    font-family: $FPLight;
    @include overlay;
    
    >div {
        width: 528px;
        margin: 0 auto;
        border-radius: 4px;
        background: #F7F9F9;
        padding: 32px 48px 40px;
        z-index: 10;
    }

    h1 {
        margin-bottom: 32px;
    }

    .email-input, .email-message {
        width: 100%;
        font-size: 18px;
        padding: 8px;
    }

    .email-input {
        margin-bottom: 16px;
    }

    .email-message {
        height: 154px;
        margin-bottom: 24px;
    }

    button {
        width: 146px;
    }

}

.assets-container, .assets-navbar {
    margin-left: 88px;
    margin-right: 44px;
}



@import './views/asset-text/asset-text.scss';
@import './views/asset-text-edit/asset-text-edit.scss';
@import './views/asset-url-edit/asset-url-edit.scss';
@import './views/asset-file/asset-file.scss';
@import './views/asset-file-edit/asset-file-edit.scss';