<div class="upload-asset-popup">
  <input class="asset-text" placeholder="Title" [(ngModel)]="assetInfo.title" type="text" (change)="onTitleChange()">
  <div class="input-error" [hidden]="!errors.title?.required">
    Please enter a title
  </div>
  <div class="preview-tag margin-top">
    <ebx-select [formControl]="contentTypeCtrl"
      placeholder="Select content type"
      [options]="contentTypes"></ebx-select>
    <div class="input-error" [hidden]="!errors.contentType?.required">
      Please select a content type
    </div>
  </div>
  <div class="actionBtns">
    <button class="action" (click)="createAsset()">Add</button>
    <button class="cancel" mat-dialog-close>Cancel</button>
  </div>
</div>