<div class="main-section">
  <div class="sub-section">
    <div class="sub-section-header">
      <div class="header">
        <h2>Company Properties</h2>
        <div class="subheader">Manage your Company properties here. Add, Edit or Delete company properties.</div>
      </div>
    </div>
    <div class="sub-section-header">
      <div class="search-row">
        <img class="search-icon" src="/assets/images/icons/search-grey.svg">
        <input class="search-input" type="text" placeholder="Search" [formControl]="nameCtrl">
      </div> 
    </div>
    <ng-container *ngFor="let cont of filteredContainers | async">
      <ebx-company-property [container]="cont"></ebx-company-property>
    </ng-container>
  </div>
</div>