#macro( content_portal_url $a_siteUrl $a_containerQId $a_contentIdentity )
$a_siteUrl/app.html#/portal/container/$a_containerQId/$a_contentIdentity/c/single/$a_containerQId/
#end



#macro( action_button $a_btnText $a_btnUrl )
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center">
						<table border="0" cellspacing="0" cellpadding="0" bgcolor="#0e2a49" class="mobile-shell">
							<tr>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="42"></td>
								<td>
									#spacer_row('12')
									<div class="text-button" style="color:#ffffff; font-family:Arial,sans-serif, 'OS'; font-size:16px; line-height:20px; text-align:center; font-weight:bold">
										<a href="$a_btnUrl" target="_blank" class="link-white" style="color:#ffffff; text-decoration:none"><span class="link-white" style="color:#ffffff; text-decoration:none">$a_btnText</span></a>
									</div>
									#spacer_row('12')

								</td>
								<td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="42"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
#end



#macro( action_button_cell $a_cellWidth)
<th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" width="$a_cellWidth">
	$!bodyContent
</th>
#end



#macro( action_button_table )
<!-- Btns -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="left">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>$!bodyContent</tr>
			</table>
		</td>
	</tr>
</table>
<!-- Btns -->
#end



#macro( top_header_bar $a_headerTitle )
<!-- Header bar -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="0"></td>
		<td class="header-text" style="color:#727273; font-family:Arial,sans-serif, 'OS'; font-size:12px; line-height:16px; text-align:left">
			#spacer_double_row('10' '5')
			$a_headerTitle
			#spacer_double_row('10' '5')
		</td>
		<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="0"></td>
	</tr>
</table>
<!-- END Header br -->
#end



#macro( mail_opening $a_userName )
<div class="h2" style="color:#0e2a49; font-family:Arial,sans-serif, 'OS'; font-size:20px; line-height:20px; text-align:left; font-weight:bold">
	Hello #if($a_userName) $a_userName#else there#end,
</div>
#end

#macro( content_table $a_displayableContent $a_siteUrl $a_atChannel $a_atContext $a_atContextId )
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td bgcolor="#f7f7f7">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="content-spacing2" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
					<td>
						#spacer_row('15')
						
						<div class="text2" style="color:#424242; font-family:Arial,sans-serif, 'OS'; font-size:14px; line-height:18px; text-align:left; font-weight:bold">
							#if($a_displayableContent.title) $a_displayableContent.title #else Content Details #end
						</div>
						#spacer_row('15')
						
						<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e6e6e6" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td bgcolor="#e6e6e6" height="1" class="border" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						#spacer_row('15')
						#foreach($field in $a_displayableContent.fields)
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="text3" style="color:#626262; font-family:Arial,sans-serif, 'OS'; font-size:12px; line-height:20px; text-align:left" valign="top" width="111">${field.label}</td>
									#if($field.value.valueType == 'DOC')
										<td class="text3" style="color:#626262; font-family:Arial,sans-serif, 'OS'; font-size:12px; line-height:20px; text-align:left" valign="top">
											<a href="${field.value.accessUrl}?atChannel=$a_atChannel&atContext=$a_atContext&atContextId=$a_atContextId" target="_blank">${field.value.name}</a>
										</td>
									#elseif($field.value.valueType == 'LIST')
										<td class="text3" style="color:#626262; font-family:Arial,sans-serif, 'OS'; font-size:12px; line-height:20px; text-align:left" valign="top">
										#foreach($valListItem in $field.value.valueList)
											#if($valListItem.valueType == 'CONTENT_REF')
												<a href="#content_portal_url($a_siteUrl $valListItem.containerQId $valListItem.contentIdentity)?atChannel=$a_atChannel&atContext=$a_atContext&atContextId=$a_atContextId">
													<span class="link-u" style="color:#004ba1; text-decoration:underline">${valListItem.textValue}</span>
												</a>  																								 
											#else
												${valListItem.value} 
											#end	
											#if($foreach.hasNext), #end
										#end
									</td>																				
									#else
										<td class="text" style="color:#626262; font-family:Arial,sans-serif, 'OS'; font-size:12px; line-height:20px; text-align:left" valign="top">${field.value.value}</td>																				
									#end								
								</tr>
							</table>	
							#spacer_row('2')											
						#end
						#spacer_row('13')
					</td>
					<td class="content-spacing2" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
#end





#macro( spacer_row $a_rowHeight )
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tbody><tr><td height="$a_rowHeight" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></tbody></table>
#end



#macro( spacer_double_row $a_firstRowHeight $a_secondRowHeight )
#spacer_row($a_firstRowHeight)
<div class="hide-for-mobile">#spacer_row($a_secondRowHeight)</div>
#end

#macro( generic_link $a_linkUrl $a_linkText )
<a href="${a_linkUrl}">
<span class="link-u" style="color:#004ba1; text-decoration:underline">${a_linkText}</span>
</a>
#end

#macro( portal_home_link $a_linkText )
<a href="${obj.url}/app.html#/portal/home">
<span class="link-u" style="color:#004ba1; text-decoration:underline">${a_linkText}</span>
</a>
#end


#macro( tenant_portal_link )
#portal_home_link(${obj.tenant.name})
#end


#macro( mail_closing $a_tenantName)
#spacer_double_row('20' '15')
Cheers, <br />
$a_tenantName Team
#spacer_double_row('20' '15')
#end


#macro( nav_content_list $a_navContentList $a_siteUrl $a_atChannel $a_atContextId $a_atContextName)
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="content-spacing2" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
		<td>
			#foreach($key1 in $a_navContentList)  
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="arrow" style="color:#9a9a9a; font-family:Arial,sans-serif, 'OS'; font-size:16px; line-height:20px; text-align:left" width="27">&rarr;</td>
									<td class="text" style="color:#626262; font-family:Arial,sans-serif, 'OS'; font-size:16px; line-height:20px; text-align:left">
										#set ($currentNode = $key1)
										<a href="$a_siteUrl/app.html#/portal/containerlist/$currentNode.qualifiedId?atChannel=$a_atChannel&atContext=$a_atContextName&atContextId=$a_atContextId">
											<span class="link-u" style="color:#004ba1; text-decoration:underline">$currentNode.containerLabel</span>
										</a> &gt;
										#foreach($number in [1..5])
											#if ($currentNode)
												#if ($number > 1) &gt; #end
												<a href="$a_siteUrl/app.html#/portal/container/$currentNode.qualifiedId/$currentNode.identity/c/single/$currentNode.qualifiedId/?atChannel=$a_atChannel&atContext=$a_atContextName&atContextId=$a_atContextId">
													<span class="link-u" style="color:#004ba1; text-decoration:underline">$currentNode.label</span>
												</a>
												#if (!$currentNode.next) 
													#set ($currentNode = false)
												#else
													#set ($currentNode = $currentNode.next)
												#end
											#else
												#break
											#end
										#end																				
									</td>
								</tr>
							</table>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="7" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

						</td>
					</tr>
				</table>
			#end
		</td>
		<td class="content-spacing2" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
	</tr>
</table>
#end


#macro( mail_template $a_topHeaderTitle)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

#include('body-templates/partials/head.vm')

<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#f2f2f2; -webkit-text-size-adjust:none">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f2f2f2">
		<tr>
			<td align="center" valign="top">
				<table width="600" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
					<tr>
						<td class="td" style="width:600px; min-width:600px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0">

							#top_header_bar(${a_topHeaderTitle})

							#parse('body-templates/partials/logo_header.vm')

							<!-- Main -->
							<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
								<tr>
									<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
									<td class="text" style="color:#626262; font-family:Arial,sans-serif, 'OS'; font-size:16px; line-height:20px; text-align:left">
										$!bodyContent
									</td>
									<td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
								</tr>
							</table>
							<!-- END Main -->

							#include('body-templates/partials/footer.vm')
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
#end