#@mail_template('Welcome')

	#spacer_row('15')
											
	#mail_opening(${obj.recipientUser.name})
	
	#spacer_row('15')
	
	Welcome to the Haystax Fusion Partner Program!  One benefit of participation in our program is access to our Partner Portal. 
	Below is your user name and temporary password for our portal, which is powered by Enablix.  Once in the portal, you will find a variety of documents, presentations, and other types of information related to Haystax, the Constellation security analytics platform and the current models, including Carbon, our model for Insider Threat.  
	Please note that all the information shared in the portal is subject to the Non-Disclosure Agreement and Confidentiality clauses in our partner agreement. 	
	<br />	
	<br />
	Your User ID is your email address: ${obj.recipientUser.email} <br />
	Your temporary password is: <b>${obj.password}</b> 
	
	#spacer_double_row('20','10')

	#@action_button_table()
		#@action_button_cell('200')
			#action_button('Login' "${obj.url}/t/haystax/c/partner/login.html#login")
		#end
	#end
	
	#spacer_double_row('20','10')
	
	As always, if you are unable to locate the information you need or if you need additional assistance, please do not hesitate to contact me directly at 571-437-1203. 
	<br/>
	<br/>
	Thank you again for your participation - all of us here at Haystax look forward to working with you!
	<br />
	<br />											
	Cheers,<br/>
	Deena
	<br/>
	<br/>
	Deena C. Stokes<br/>
	National Channel Manager<br/>
	571-437-1203 (c)<br/>
	571-297-3756 (o)<br/>
	<br/>
	Haystax Technology <br/>
	Security Analytics <b>Redefined</b><br/>
	#generic_link('www.haystax.com' 'www.haystax.com') 
	<br/>
	
#end
