.table-hover tbody tr:hover > td {
  	cursor: pointer
}

.eb-indx-container {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.eb-indx-instance {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
	font-style: italic;
}

ul.nav a:hover { background-color: #e7e7e7 !important; }

div[data-tree-model] li {
	line-height: 25px;
}

div[data-tree-model] li .selected {
	background-color: #e7e7e7;
}

.sidebar-nav-header {
	font-weight: bold;
	background-color: #e8e8e8;
}

.login-panel {
	margin-top: 20%;
}

.navbar-brand {
	font-size: 30px;
}

.navbar {
	margin-bottom: 0;
}

.page-body {
    padding-left: 0;
    padding-right: 0;
}

.left-nav-section {
	min-height: 90vh; /* viewport height */
    max-height: 90vh;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.portal-top-nav {
	border-bottom: 1px #e8e8e8 solid;
}

.portal-top-nav .nav-pills>li>a {
	border-radius: 0px;
}

.portal-top-nav .navbar-form {
	margin-top: 0px;
	margin-bottom: 2px;
}

.portal-top-nav .nav-right {
	float: right;
}

.portal-top-nav .nav>li>a {
  padding: 5px 15px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}