/**/
/* fonts */
/**/
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);


/**/
/* reset */
/**/
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockquote, pre,
a, address, del, em, i, sub, sup, figure, figcaption, img,
form, fieldset, legend, label, input, select, textarea, button,
table, thead, tbody, tfoot, tr, th, td {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	font-size: 100%;
	font: inherit;
	-webkit-font-smoothing: auto;
}
html, body, iframe, header, footer, main, aside, nav, section, article, div,
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, hr, blockqoute, pre, figure, figcaption,
form, fieldset, legend, label, input, select, textarea, button {
	display: block;
}
html, body {
	-webkit-text-size-adjust: none;
}
dl, dt, dd, ul, ol, li {
	list-style: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
:focus {
	outline: none;
}


/**/
/* defaults */
/**/
html, body {
	background: #f5f5f5;
	font: 300 16px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #666;
}
h2 {
	padding-top: 2px;
	font-family: Montserrat;
	font-size: 0.875em;
	line-height: 20px;
	font-weight: 400;
	/*text-transform: uppercase;*/
	color: #222;
}
h3 {
	padding-top: 2px;
	font-family: Montserrat;
	font-size: 0.875em;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #4a5463;
}
h4 {
	font-family: Montserrat;
	font-weight: 400;
	line-height: 1.25;
	color: #4a5463;
	font-size: 0.875em;	
}
.section-heading {
	margin: 1.5em 0 0.5em;
	font-size: 0.875em;
	text-align: left;
	font-weight: 400;
	line-height: 20px;
	color: #666;
}
a, a:hover {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	outline: none !important;
}
a:focus {
	text-decoration: none;	
}
textarea {
	resize: vertical;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}


/**/
/* forms */
/**/
.form-label {
	margin: 1.5em 0 0.5em;
	font-size: 0.875em;
	font-weight: 300;
	text-align: left;
	color: #666;
}
.form-label:first-child {
	margin-top: 0;
}
form .row .form-label:first-child {
	margin-top: 1.5em;
}
.form-forgot {
	display: block;
	float: right;
	vertical-align: top;
	margin-top: 0.75em;
	font-size: 0.75em;
	text-decoration: underline;
	color: #3498db;
}
.form-forgot:hover {
	text-decoration: none;
	color: #2980b9;
}
.form-control {
	position: relative;
	border-radius: 0;
	border-color: #bdc3c7;
	box-sizing: border-box;
	color: #222;
}
.form-control:focus {
	border-color: #3498db;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-control-file .button {
	position: absolute;
	top: 2px;
	right: 2px;
	overflow: hidden;
	margin: 0;
	padding: 1px 1.5em 0;
	line-height: 27px;
}
.form-control-file .button input {
	position: absolute;
	top: 0;
	right: 0;
	width: 200%;
	height: 200%;
	cursor: pointer;
	opacity: 0;
}

.form-control-inlined {
	width: 50%;
}
.select2:after, .ui-select-container:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: 1px;
	border-top: 4px solid #666;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.select2:before, .ui-select-container:before {
	content: '';
	position: absolute;
	bottom: 50%;
	right: 12px;
	margin-bottom: 1px;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #666;
	border-left: 4px solid transparent;
}
.select2-dropdown {
	border-radius: 0;
	border-color: #bdc3c7;
	font-size: 0.875em;
	line-height: 1.42857143;
}
.select2-results__option {
	padding: 6px 12px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background: transparent;
	font-weight: 700;
	color: #222;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #f5f5f5;
	color: #666;
}
.select2-container--default .select2-results__option--highlighted[aria-selected=true] {
	background: #f5f5f5;
	color: #222;
}
.select2-container--default .select2-selection--multiple {
	border-radius: 0;
	border-color: #bdc3c7;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.select2-container--open .select2-selection--multiple,
.select2-container--focus .select2-selection--multiple {
	border-color: #3498db !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	padding: 3px 5px;
	border-radius: 0;
	border-color: #bdc3c7;
	background: #f5f5f5;
	font-size: 12px;
}
.select2-container--default .select2-results>.select2-results__options {
	max-height: 192px;
}
.select2-hidden-accessible {
	position: absolute;
}


/**/
/* pagination */
/**/
.pagination {
	vertical-align: top;
	margin: 0;
	padding: 0.25em 0;
	font-size: 0.75em;
	text-align: center;
}
.pagination > li > a,
.pagination > li > span {
	border-color: #ecf0f1;
	border-radius: 0 !important;
	color: #666;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	border-color: #ecf0f1;
	background-color: #fafafa;
	color: #222;
}
.pagination > .active>a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	border-color: #ecf0f1;
	background-color: #fafafa;
	font-weight: 700;
	color: #222;
	
}

.curr-page {
	padding: 10px 12px;
    font-size: 0.875em;
}


/**/
/* buttons */
/**/
.button {
	float: right;
	margin: -3px 0 -3px 1em;
	display: block;
	padding: 0 1em;
	background: #3498db;
	font-family: Montserrat;
	font-size: 0.75em;
	line-height: 28px;
	text-transform: uppercase;
	color: #fff;
	transition: background 0.3s;
}
.button-small {
	font-size: 0.60em;
	line-height: 22px;
}
.button:hover {
	background: #2980b9;
	color: #fff;
}
.button-add {
	background: #2ecc71;	
}
.button-add:hover {
	background: #27ae60;
}
.button-add:focus {
	background: #27ae60;
}
.button-edit {
	background: #e67e22;
}
.button-edit:hover {
	background: #d35400;
}
.button-delete {
	background: #e74c3c;
}
.button-delete:hover {
	background: #c0392b;
}
.button-red {
	background: #c9302c;
}
.button-red:hover {
	background: #ac2925;
}
.button-green {
	background: #5cb85c;
}
.button-green:hover {
	background: #398439;
}
.button-yellow {
	background: #ec971f;
}
.button-yellow:hover {
	background: #d58512;
}
.button-close {
	margin: -25px 0 0px 1em;
	background: #2c3e50;
}


/*----------------------------------------------*/
/*                    LAYOUT                    */
/*----------------------------------------------*/

/**/
/* clearfix */
/**/
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}


form.block .head {
	border-width: 0px;
}

.form-body {
	border-bottom: 1px solid #dce1e5;
}

/**/
/* block */
/**/
.block {
	margin-top: 2em;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.03);
    box-shadow: 0 6px 12px rgba(0,0,0,.03);
    /*border-radius: 4px;*/
    
}
.block .head {
	position: relative;
	padding: 0.6em 1em;
	border-width: 1px 1px 0px 1px;
	border-color: #dce1e5;
	border-style: solid;
	background-color: #ffffff;
}

.head.bottom-border {
    border-bottom-width: 1px;
}

.head.head-toggle.inactive {
    border-width: 1px;
}

.block .head em {
	float: left;
	font-size: 14px;
	margin: 4px 8px 0 0;
	color: #A2A9B1;
}

.block .head .detail,
.block .cont .detail {
	font-size: 14px;
	color: #A1C1DD;
	margin-left: 4px
}

.block .head .detail:hover,
.block .cont .detail:hover {
	color: #1d6aad;
}

.block .head .add {
}
.block .head .close {
	position: relative;
	float: right;
	width: 14px;
	height: 14px;
	margin: 4px 0 0 12px;
	opacity: 1;
	transform: rotate(-135deg);
}
.block .head .close::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 2px;
	margin: -1px 0 0 -7px;
	background: #aaa;
}
.block .head .close::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 100%;
	margin: -7px 0 0 -1px;
	background: #aaa;
}
.block .head .close:hover::after,
.block .head .close:hover::before {
	background-color: #666;
}
/*.block .head .fa-download {
	float: right;
	position: relative;
	margin-top: 5px;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	color: #2ecc71;
}*/
.block .head-toggle {
	cursor: pointer;
	-webkit-user-select: none;
	/* background: #DEE0E5; */
	background: #f6f7f9;
	/*border-radius: 4px 4px 0 0;*/
}

.block .head-toggle h2 {
	/*opacity: 0.75;*/
    color: #5a6779;
    font-weight: 400;
}

.block .head-toggle h2 .count {
	font-weight: 400;	
	color: #bdbdbd;
}

.block .head-toggle h2:hover{
	opacity: 1;
}

	
.block .head-toggle i.expandable {
	position: relative;
	float: right;
	width: 14px;
	height: 14px;
	margin: 4px 0 0 12px;
	transition: transform 0.3s;
}
.block .head-toggle i.expandable:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 2px;
	margin: -1px 0 0 -7px;
	background: #fff;
	opacity:0.75;
}
.block .head-toggle i.expandable:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 100%;
	margin: -7px 0 0 -1px;
	background: #fff;
	opacity:0.75;
}
.block .head-toggle:hover i.expandable:after,
.block .head-toggle:hover i.expandable:before {
	opacity:1;
}
.block .head-toggle.active i.expandable:before {
	display: none;
}

.block .form-body .cont {
	border-width: 0px 1px 0px 1px;
}

form.block .cont {
	border-width: 1px 0px 0px 0px;
}

.block .cont {
	border-top: 1px solid #ecf0f1;
	padding: 0.8em 1em 1em;
	border-width: 1px;
	border-color: #dce1e5;
	border-style: solid;
	background-color: #ffffff;
}
main .cont-empty,
.block .cont-empty {
	text-align: left;
	color: #777777;
	font-size: 0.875em;
}
.block .cont-hidden {
	display: none;
}
.block .cont-scrollable {
	height: 138px;
	overflow: auto;
}
.block .foot {
	padding: 0.75em 1.25em;
	border-width: 0px 1px 1px 1px;
	border-color: #dce1e5;
	border-style: solid;
	background-color: #ffffff;
}
form.block .foot {
	border-width: 1px 0px 0px 0px;
}
.block .goto {
	text-align: right;
}
.block .goto a {
	display: inline-block;
	vertical-align: top;
	font-size: 0.875em;
	text-decoration: underline;
	color: #2ecc71;
}
.block .goto a:hover {
	text-decoration: none;
}

.cont .dataItem:first-child {
	padding-top: 0px;
}

.cont .dataItem {
	padding-top: 0px;
}

.cont-empty.record-detail {
	margin-top: 2em;
}

/**/
/* grid */
/**/
.container-fluid {
	width: 100%;
	padding-right: 2em;
	padding-left: 2em;
}


/**/
/* page */
/**/
.page-inner {
	min-height: 100vh;
}
.page-header {
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff;
}
.page-content {
	border-bottom: 44px solid transparent;
	/*padding-bottom: 2em;*/
	background-color: #f3f5f9;
}
.page-footer {
	margin-top: -44px;
	padding: 1.25em 0;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background: #2c3e50;
	text-align: center;
	font-size: 0.75em;
	color: #fff;
}



/*----------------------------------------------*/
/*                    HEADER                    */
/*----------------------------------------------*/

/**/
/* logo */
/**/
.logo {
	display: block;
	margin: 0.75em 0;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 1.5em;
	color: #222;
}
.logo i{
	display: block;
	float: left;
	margin-right: 0.25em;
	color: #e67e22;
}
.logo:hover {
	color: #222;
}

.logo img {
	margin-right: 0.25em;
	vertical-align: bottom;
}


/**/
/* main nav */
/**/
.main-nav {
	text-align: right;
}

.main-nav a {
	display: inline-block;
	margin: 1.25em 0 0 1em;
	padding: 0.5em 1.25em;
	font-family: Montserrat;
	font-size: 0.75em;
	line-height: 1.5;
	text-transform: uppercase;
	color: #626262;
	font-weight: 400;
}
.main-nav a:hover {
	color: #2980b9;
}
.main-nav a:last-child {
	color: #e74c3c;
}
.main-nav a:last-child:hover {
	color: #c0392b;
}
.main-nav .active,
.main-nav .active:hover {
	background: #2980b9;
	cursor: default;
	color: #fff;
}

.main-nav-secondary {
	text-align: left;
}

.main-nav-secondary a {
	display: inline-block;
	font-family: Montserrat;
	margin: 0 0 0 0;
	padding: 0.5em 1.25em;
	font-size: 0.75em;
	text-transform: none;
	line-height: 12.25px;
	color: #626262;
}
.main-nav-secondary a:hover {
	color: #2980b9;
}
.main-nav-secondary .active,
.main-nav-secondary .active:hover {
	background: #2980b9;
	cursor: default;
	color: #fff;
}


/**/
/* secondary nav */
/**/
.secondary-nav {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #2980b9;
}
.secondary-nav ul {
	float: left;
	font-family: Montserrat;
}
.secondary-nav li {
	position: relative;
	display: inline-block;
	font-size: 0.875em;
	margin-right: 1.5em;
	font-weight: 400;
}
.secondary-nav li a {
	display: block;
	padding: 0.5em 0;
	opacity: 0.75;
	color: #fff;
	transition: opacity 0.3s;
}
.secondary-nav li:hover > a {
	opacity: 1;
}
.secondary-nav li .active {
	opacity: 1;
}
.secondary-nav li ul {
	position: absolute;
	z-index: 2;
	top: 100%;
	left: -9999px;
	min-width: 100%;
	border-top: 14px solid transparent;
	opacity: 0;
	transition: opacity 0.3s;
}
.secondary-nav li:hover ul {
	left: 0;
	opacity: 1;
}
.secondary-nav li ul:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 1em;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #2980b9;
	border-left: 5px solid transparent;
}
.secondary-nav li li {
	display: block;
	margin: 0;
	border-top: 1px solid rgba(255,255,255,0.25);
	background: #2980b9;
}
.secondary-nav li li:first-child {
	border-top: 0;
}
.secondary-nav li li a {
	padding: 1em 1.5em;
	white-space: nowrap;
}
.secondary-nav form {
	float: right;
	position: relative;
}
.secondary-nav form i, .search-box {
	position: absolute;
	top: -1px;
	right: 1em;
	font-size: 0.875em;
	line-height: 2;
	text-align: center;
	pointer-events: none;
	color: #222;
}
.secondary-nav form input, .search-box input {
	width: 20vw;
	padding: 0 1em;
	border-radius: 1em;
	background: #fff;
	font-style: italic;
	font-size: 0.875em;
	line-height: 2em;
	font-weight: 300;
	color: #222;
	height: 2em;
}
@media screen and (max-width: 1259px) { /* laptop */
	.secondary-nav li {
		margin-right: 1em;
	}
	.secondary-nav form input {
		width: 18vw;
	}
}


/**/
/* side nav */
/**/
.side-nav {
	max-height: calc(100vh - 196px);
	max-height: -moz-calc(100vh - 196px);
	max-height: -webkit-calc(100vh - 196px);
	overflow: auto;
	margin-top: 2em;
	background: #34495e;
}
.side-nav li {
	position: relative;
	padding-left: 38px;
	border-top: 1px solid rgba(255,255,255,0.25);
	color: #fff;
}
.side-nav li:first-child {
	border-top: 0;
}
.side-nav li i {
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	font-size: 18px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	opacity: 0.75;
}
.side-nav li i:hover {
	opacity: 1;
}
.side-nav li a {
	display: block;
	padding: 0.75em 1.25em 0.75em 0;
	font-size: 0.875em;
	line-height: 1.25;
	opacity: 0.75;
	color: #fff;
}
.side-nav li a:hover {
	opacity: 1;
}
.side-nav li a i {
	opacity: 1;
}
.side-nav .active > i,
.side-nav .active > a {
	opacity: 1;
}
.side-nav i.active {
	transform: rotate(90deg);
}
.side-nav li ul {
	margin-left: -8px;
}
.side-nav li li {
	padding-left: 33px;
	border: 0;
}
.side-nav li li i {
	width: 33px;
	height: 33px;
	font-size: 14px;
	line-height: 32px;
}
.side-nav li li a {
	font-size: 0.75em;
}



/*----------------------------------------------*/
/*                    CONTENT                   */
/*----------------------------------------------*/

/**/
/* infotable */
/**/
.infotable {
	margin-top: -0.5em;
	font-size: 0.875em;
	line-height: 1.5;
	/*overflow: hidden;*/
	font-family: Montserrat;
}

.infotable th {
	width: 1%;
	padding: 0.5em 0.75em 0 0;
	white-space: nowrap;
	color: #5a6779;
}
.infotable td {
	display: table-cell;
	padding-top: 0.5em;
	color: #000000;
}
.infotable .download {
	position: relative;
	top: 1px;
	margin-left: 0.5em;
	color: #2ecc71;
	transition: color 0.3s;
}
.infotable .download:hover {
	color: #27ae60;
}

/**/
/* datatable */
/**/
.datatable {
	margin: 0;
}
.datatable th {
	padding: 1em;
	font-size: 0.75em;
	font-weight: 700;
	color: #222;
}
.datatable td {
	padding: 1em;
	border-top: 1px solid #ecf0f1;
	font-size: 0.875em;
}

.datatable .no-border {
	border-top: 0px;
}

.datatable tr:hover td {
	background: #fafafa;
}
.datatable .details, .head .details {
	width: 1px;
	padding-left: 0;
	color: #3498db;
}
.datatable .details a, .head .details a {
	transition: color 0.3s;	
}

.datatable .details a:hover, .head .details a:hover {
	color: #2980b9;
}
.datatable .edit, .head .edit {
	width: 1px;
	padding-left: 0;
	color: #e67e22;
}
.datatable .edit a, .head .edit a {
	transition: color 0.3s;	
}
.datatable .edit a:hover, .head .edit a:hover {
	color: #d35400;
}
.datatable .remove {
	width: 1px;
	padding-left: 0;
	color: #e74c3c;
}
.datatable .remove a {
	transition: color 0.3s;	
}
.datatable .remove a:hover {
	color: #c0392b;
}
.datatable .check {
	width: 1px;
	padding-left: 0;
	color: #2ecc71;
}
.datatable .check a {
	transition: color 0.3s;	
}
.datatable .check a:hover {
	color: #27ae60;
}
.datatable .download {
	width: 1px;
	color: #2ecc71;
}
.datatable .download a {
	transition: color 0.3s;	
}
.datatable .download a:hover {
	color: #27ae60;
}


/**/
/* toggle */
/**/
.toggle {
	position: relative;
	/*padding-left: 6px;*/
	color: #5a6779;
}
.toggle.active,
.toggle:hover,
.toggle:focus {
	color: #000000;
}
.toggle:hover::after,
.toggle:hover::before,
.toggle:focus::after,
.toggle:focus::before {
	background: #2980b9;
}
.toggle-cont {
	display: none;
	margin-left: 22px;
}

.dataItem .toggle-cont {
	margin: 1em 0 1.25em;
	padding: 0 0 0 22px;
}
 
.dataItem:last-child .toggle-cont {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.action-icons .fa-paperclip,
.dataItem a.fa-paperclip {
	transform: rotate(90deg)
}

ebx-doc-context-menu a.active {
	color: #A1C1DD;
}

ebx-doc-context-menu a.active:hover,
ebx-doc-context-menu a.active:focus {
	color: #1D6AAD;
}

ebx-doc-context-menu a.inactive {
	color: #EFF0F2;
	cursor: default;
}


/**/
/* back button */
/**/

.back{
	padding-top: 25px;
    border: 0;
    float: right;
    display: inline-block;
    margin: -0.75em 0 -25px 1em;
    padding: 0.5em 1.25em;
    font-family: Montserrat;
    font-size: 0.75em;
    line-height: 1.5;
    text-transform: uppercase;
    cursor: default;
    color: #fff;
    background: #2c3e50;
}

.back:hover{
	cursor: pointer;
	background:#476481;	
}
/**/
/* bread crumbs */
/**/
.bread-crumbs {
	position: relative;
	z-index: 1;
	margin: 1.5em 0 -0.5em;
	background: none;
}
.bread-crumbs a {
	text-decoration: underline;
	color: #2980b9;
}
.bread-crumbs a:hover {
	text-decoration: none;
}

.browser-path .cont,
.bread-crumbs .cont {
	padding: 0;
	border: 0;
	font-size: 0.75em;
}

.browser-path {
	position: relative;
	z-index: 1;
	margin: 0.5em 1.5em;
	background: none;
}

/**/
/* about */
/**/
.about h4 {
	  margin-bottom: 0.75em;
}
.about dl {
	overflow: hidden;
	font-size: 0.875em;
	line-height: 1.5;
}
.about dt {
	float: left;
	margin-right: 0.75em;
}
.about dd {
	overflow: hidden;
	margin-bottom: 0.5em;
}
.about dd:last-child {
	margin-bottom: 0;
}
.about img {
	float: left;
	margin-right: 1em;
}
.about a {
	text-decoration: underline;
	color: #3498db;
}
.about a:hover {
	text-decoration: none;
}


/**/
/* faq */
/**/
.faq h4 {
	margin-top: 0.75em;
	font-weight: 400;
}
.faq h4:first-child {
	margin-top: 0;
}
/* .faq .download, .right-doc .fa-download {
	float: right;
	margin-top: 2px;
	font-size: 14px;
	color: #2ecc71;
}*/

.fa-download{
	position: relative;
	top: 2px;
	color: #2ecc71;
	border: 0px;
}

.fa-download:hover{
	color: #27ae60;
}

.action-icons .doc-preview,
.action-icons .fa-download {
    color: #2ecc71;
}

.action-icons .doc-preview:hover, .action-icons .doc-preview:focus,
.action-icons .fa-download:hover, .action-icons .fa-download:focus {
    color: #2ecc71;
}

.fa-share-alt{
	color:#1d6aad;
}

.fa-share-alt:hover{
	color: #27ae60;
} 

/*.bar-share{
	margin-right: 15px;
    margin-top: -20px;
    opacity: 0.75;
    color: #fff;
}*/
/* 
.bar-share:hover{
	opacity: 1;
	color: #fff;
} */


.faq .download:hover, .right-doc .fa-download:hover {
	color: #27ae60;
}
.faq .download i {
	margin-left: 0.5em;
}
.faq .toggle-cont {
	margin: 1em 0 1.25em;
	padding: 0 0 1.25em 22px;
	border-bottom: 1px solid #ecf0f1;
}
.faq .toggle-cont:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.bar-download a {
	opacity:0.75;
	color:#fff !important;
}


.line-separator {
	background-color: #e9eef3;
	width: 100%;
	height: 1px;
	margin: 0.75em 0 0.75em 0;	
}

/**/
/* recomended content */
/**/

/* .block.peers, .block.recomended-content, .block.quick-links {
    font-family: Montserrat;
}
 */
.recomended-content ul {
	font-size: 0.875em;
	line-height: 1.25;
	color: #666;
}

.recomended-content li {
	margin-top: 0.75em;
}

.recomended-content li:first-child{
	margin-top: 0;
}

eb-nav-link li {
	margin-top: 0.75em !important;
}
eb-nav-link:first-child li {
	margin-top: 0 !important;
}

.recomended-content a, .content-data a {
	position: relative;
	text-decoration: none;
	color: #1D6AAD;
}

.search-result a{
	position: relative;
	text-decoration: none;
}

.search-result a.bar-share {
	padding-top: 20px;
}

.search-result a.bar-share::after {
	width: 0;
}

.search-result div.head a.fa-download {
	/* padding-top: 20px; */
}

.infotable a::after,
.recomended-content a::after, .search-result a::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: -1px;
	border-top: 1px solid;
}
.recomended-content a:hover::after, .search-result a:hover::after {
	display: none;
}

.recent-update-type span {
	display: block;
	float: left;
	width: 50px;
	margin: 0 1.5em 1px 0;
	padding: 2px 0;
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	height: 16px;
}

.recomended-content em {
	display: block;
	float: left;
	width: 50px;
	margin: 0 1.5em 1px 0;
	padding: 2px 0;
	font-size: 0.75em;
	text-align: center;
	color: #fff;
}

.rct-new span,
.recomended-content .new {
	background: #2ecc71;
}

.rct-updated span,
.recomended-content .updated {
	background: #e67e22;
}
.quick-links .fa-download,
.recomended-content .fa-download {
	position: relative;
	top: 2px;
	color: #2ecc71;
	margin-left: 3px;
}
.recomended-content .fa-download::after {
	display: none;
}
.recomended-content .fa-download:hover {
	color: #27ae60;
}
.recomended-content .popup-opener::after {
	border-top-style: dotted;
}


/**/
/* quick links */
/**/
.quick-links .cont {
	padding-top: 0px;
}
.quick-links h4 {
	margin-bottom: 0.75em;
	margin-top: 0.875em;
}
.peers li,
.quick-links ul {
	font-size: 0.875em;
	line-height: 1.5;
	color: #666;
}
.peers li,
.quick-links li {
	position: relative;
	margin-top: 0.5em;
	padding-left: 1em;
}
.peers li:before,
.quick-links li:before {
	content: '';
	position: absolute;
	top: 0.75em;
	left: 0;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	border-radius: 50%;
	background: #949292;
}
.peers li:first-child,
.quick-links li:first-child {
	margin-top: 0;
}
.peers a,
.quick-links a {
	text-decoration: underline;
	color: #1D6AAD;
}
.peers a:hover,
.quick-links a:hover {
	text-decoration: none;
}



/*----------------------------------------------*/
/*                    FOOTER                    */
/*----------------------------------------------*/

/**/
/* copyrights */
/**/
.copyrights {
	opacity: 0.75;
}


/**/
/* popup */
/**/
.popup {
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	overflow: auto;
	padding: 2em 0;
	background: rgba(37,37,37,0.8);
	opacity: 0;
	transition: opacity 0.5s;
}
.popup h3 {
	margin-bottom: 1em;
}
.popup .table {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;	
}
.popup .cell {
	display: table-cell;
	vertical-align: middle;
}
.popup .block {
	margin: 0;
}
.popup.active {
	visibility: visible;
	opacity: 1;
}

.select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}

.dropdown-menu {
	border-radius: 0px;
}

.ui-select-match-item {
	border-radius: 0px;
	background: #f5f5f5;
}

.ui-select-match-close {
	/*padding-top: 3px;*/
}

.auth-error {
  	height: 100px;
  	line-height: 100px;
  	text-align: center;
}

/**/
/* secondary nav */
/**/

.main-nav ul {
	float: left;
	font-family: Montserrat;
}
.main-nav li {
	position: relative;
	display: inline-block;
	font-size: 0.98em;
	/*margin-right: 1.5em;*/
	font-weight: 400;
}

.main-nav li:hover > a {
	opacity: 1;
}
.main-nav li .active {
	opacity: 1;
}
.main-nav li ul {
	position: absolute;
	z-index: 2;
	top: 100%;
	left: -9999px;
	min-width: 100%;
	border-top: 14px solid transparent;
	opacity: 0;
	transition: opacity 0.3s;
	margin-left: 21px;
}
.main-nav li:hover ul {
	left: 0;
	opacity: 1;
}
.main-nav li ul:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0.5em;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #2980b9;
	border-left: 5px solid transparent;
}
.main-nav li li {
	display: block;
	margin: 0;
	border-top: 1px solid rgba(255,255,255,0.25);
	background: #2980b9;
}

.main-nav li li a {
	padding: 1em 1.5em;
	white-space: nowrap;
	color: white !important;
}
.error, .ERROR {
	margin: 0.5em 0 0;
	font-size: 0.875em;
	font-weight: 300;
	text-align: left;
	color : red;
}

.WARN, .warn {
	margin: 0.5em 0 0;
	font-size: 0.875em;
	font-weight: 300;
	text-align: left;
	color : #f1c40f;
}

input[type=checkbox] {
	display: inherit;
}

.chckBox {
	font-size: 0.875em;
	font-weight: 300;
	vertical-align: super;
	margin: 4px 0 4px 0;
}

.chckBox label {
	margin: 3px 0 0 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header-link {
	float: right;
	margin: 3px 0 -3px 1em;
}

.header-link a {
    margin-left: 5px;
}

.subcontainer {    
	width: 100%;
    border: 53pxblack;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    min-height: 1px;
    float: left;
}

td eb-record-preview-action .doc-preview,
td eb-doc-preview-action .doc-preview {
	position: relative;
	top: 2px;	
}

eb-record-preview-action .doc-preview,
eb-doc-preview-action .doc-preview {
	color: #2ecc71;
	border: 0px;
}

eb-record-preview-action .doc-preview:hover,
eb-doc-preview-action .doc-preview:hover {
	color: #27ae60;
}
	

.action-icons {
	float: right;
	text-align: right;
	font-family: Montserrat;
}

.record .action-icons.bar-action-icons .action-icon,
.action-icons a {
	color: #A1C1DD;
	margin-left: 2px;
}

a.action-icon {
    text-decoration: none !important;
}

a.suggest-edit {
	color: #A1C1DD !important;
}

a.suggest-edit:hover, a.suggest-edit:focus {
	color: #1D6AAD !important;
}

a.suggest-add {
	color: #A1C1DD !important;
}

.record .action-icons.bar-action-icons .action-icon:hover,
a.suggest-add:hover, a.suggest-add:focus {
	color: #1D6AAD !important;
}

a.fa-paperclip::after,
a.content-suggest::after,
.more-link::after,
.action-icon::after {
	border: 0px !important;
}

.action-icons a:hover{
	color: #1D6AAD;
} 

.bar-action-icons {
	margin-top: -20px;
}

.search-result .block .flex .bar-action-icons {
	margin-top: -1em;
    float: none;
    text-align: left;
    margin-left: 0.6em;
}

eb-table .block .flex .bar-action-icons {
	margin-top: 0.2em;
    float: none;
    text-align: left;
    margin-left: 0.6em;
}

.search-result .block .bar-action-icons {
	margin-top: -40px;
}

.bar-action-icons a {
	/* color: #A2A9B1; */
}

.head .content-type {
	font-size: 0.875em;
	text-align: left;
    padding-left: 0.5em;
    opacity: 0.5;
}

.dataItem h4 {
	font-size: 0.875em;
}

.dataItemBullet {
	margin-right: 10px;
}

.dataItem .action-icons {
	margin-left: 10px;
}

.modal-title {
	font-weight: 400;
}

.sub-container-more-link {
	margin-top: 0.75em;
}

.sub-container-more-link a {
	color: #1D6AAD;
	padding-left: 22px;
}

.sub-container-more-link a:hover,
.sub-container-more-link a:focus {
	color: #1D6AAD;
}

.more-link i,
.sub-container-more-link a i {
	padding-left: 4px;
}

tbody tr td.action-cell:first-child {
	padding-left: 0.5em;
}

.datatable .approve {
	width: 1px;
	color: #2ecc71;
	padding-left: 0;
}

.index-loading {
	width: 18px;
	height: 18px;
	vertical-align: bottom;
	margin: 0 0 0 4px;
}

.ebx-float-right {
	float: right;
}

.ebx-float-left {
	float: left;
}

.ebx-top-border {
	border-top: 1px solid #ecf0f1;
}

.md-tab {
	text-transform: none;
}

.modal-block {
	margin-top: 0.5em;
}

.browser-container {
	margin-left: 0.5em;
	margin-right: 0.5em;
	text-transform: none;
}

.align-left {
	text-align: left;
}

.md-button.md-min {
	min-width: 1%;
}

.md-chips {
  box-shadow: 0 0px !important;
}

md-chip-template {
	font-size: 14px;
}

.md-chips md-chip .md-chip-remove md-icon {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.strong-text {
	font-weight: 600;
}

.browser-selected-content {
	padding: 0.25em 1.25em !important;
}

.browser-icon {
	padding: 0em 0.5em
}

.cg-corr-items.inner {
	padding: 0px 0px 5px 50px;
}

.cg-corr-items .chckBox-label {
	margin: 0px 10px;
	font-size: 14px;
}

.corr-item-cont {
	margin: 0px 20px;
}

input[type=radio] {
	display: inline-block;
	margin: 5px 5px 5px 10px;
}

.radio-label {
	margin: 5px 10px 0px 0px;
	vertical-align: text-bottom;
}

/* set overflow as visible as otherwise the select dropdown gets cut in the Scope tab */
.play-tabs md-tabs, 
.play-tabs md-tabs.md-dynamic-height md-tab-content.md-active {
	overflow: visible !important;
}

/* disable animation on play tabs */
.play-tabs md-tabs md-tab-content {
	-webkit-transition: none !important;
    transition: none !important;
    animation: 0s !important;
}

.search-input .dataItem:first-child {
	padding-top: 0px;
}

.panel-body .cont {
	padding: .5em 1.25em .5em;
	border: 0px; 
}

.panel-body .foot {
	border: 0px; 
}

.spinner:before {
	background-color: rgba(49, 37, 37, 0.1);
	border-radius: 6px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	content: " ";
}

td eb-nav-link span a {
	border-bottom: 1px solid;
	color: #3498db;
}

.form-table .cont {
	border-top: 0px;
	padding: 0px;
}

.display-table .form-label {
	font-size: 1em;
}

.display-table .datatable td, .display-table .datatable th {
	padding: 0.75em;
	font-size: 0.95em;
}

.ql-container {
	min-height: 6em;
}

.content-data .ql-editor {
	padding: 0px
}

.ui-select-match-close {
	padding-top: 2px;
}

.ui-select-container input {
	display: inline;
}

.inline-textbox {
	display: inline;
	margin-right: 0em 0.5em 0em 0.5em;
}

.small-number-textbox {
	width: 45px;
}

.sub-cont {
	margin: 1em 0em 0em 1.5em;
}

.sub-cont .cont {
	border-top: 0px;
	padding-bottom: 0px
}

.mid-align input[type=checkbox], .mid-align span, .mid-align input[type=radio] {
	vertical-align: middle; 
	margin: 0px 2px 0px 5px
}

.fa-toggle-on, .fa-toggle-on:hover, .fa-toggle-on:focus {
	color: #2ecc71;
}

.datatable .toggle-switch {
	width: 1px;
	padding-left: 0;
}

.data-filter-cont {
    padding: 0em 1em 1em 1em;
    border-width: 0px 1px 0px 1px;
	border-color: #dce1e5;
	border-style: solid;
	background-color: #ffffff;
}

.data-filter-cont .panel {
	margin-bottom: 0px;
}

.panel-title .fa {
	padding-right: 0.5em;
}

/** Report charts */
/* hm classes are for heatmap */
.hm-xLabel, .hm-yLabel, .hm-legendLabel {
	font-size: 12px;
}

.hm-no-data-category {
	font-size: 12px;
	/*fill: #f58080;*/
	font-weight: bold;
}

.hm-tooltip {
	font-size: 11px;
	background-color: #333333;
	padding: 5px;
	color: #ffffff;
	border-radius: 3px;
	opacity: 0.7;
}

.hm-chart {
	width: 100%;
	height: 600px;
	background-color: #ffffff;
}

.hm-square {
	cursor: pointer;
}

.ro-subcontainer .head.head-toggle.active {
    background: #FFFFFF;
}

.ro-subcontainer .head .action-icons,
.ro-subcontainer .head em {
    display: none;
}

.ro.subcontainer .head-toggle h2 {
	color: #222;
}

.reco-client,
.quicklink-client {
	font-style: italic;
}

.quicklinks-sec {
	padding-right: 5px;
}

.homepage .infotable {
    font-family: "Helvetica Neue", Helvetica;
}

ebx-reorder a {
	margin-right: 3px;
	color: #3498db;
}

ebx-reorder a:hover {
	color: #2980b9;
}

ebx-reorder .fa:first-child {
	position: relative;
	float: left;
	margin-top: 2px;
}

.reorder {
	width: 50px;
}

.datatable .reorder ebx-reorder .fa:first-child {
    margin-top: -1px;
}

.single-line {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quick-links li.ql-view-more:before {
    background: #FFFFFF;
}

.ql-view-more a {
	text-decoration: none;
}

a.doc-label::after {
    border-top: 0px !important;
}

a.doc-label {
	color: #1d6aad;
    font-weight: 400;
    text-decoration: underline;
}

a.doc-label:hover {
    text-decoration: none;
}

.dropdown-menu-cont {
	position: relative;
	float: left;
}

td .dropdown-menu-cont {
	margin-top: 1.5em;
}

.action-icons .dropdown-menu-cont {
    margin-top: 1.2em;
}

.open>span>.dropdown-menu {
	display: block;
}

.fa-stack {
    width: 1em;
    margin-left: .5em;
}

.check-all {
	color: #3498db;
}

.check-all:hover {
	color: #2980b9;
	cursor: pointer;
}

.uncheck-all {
	color: #e74c3c;
}

.uncheck-all:hover {
	color: #c0392b;
	cursor: pointer;
}

eb-date-picker thead th {
    vertical-align: bottom;
}

.gbcont {
	overflow-x: auto;
	margin-left : -5px;
	margin-right : -5px;
	padding-bottom: 20px;
}

.gbcol {
	padding-left : 5px;
	padding-right : 5px;
	width: 16.66%;
	flex: 0 0 16.66%;
}

.alt-view-cont {
    position: relative;
    float: right;
    margin: -0.5em 0 -0.5em;
    font-size: 0.75em;
    z-index: 10;
}

#altViewActionBtn {
	margin-left: 4px;
}

/* type ahead css */
.tt-menu {
    background: #ffffff;
    font-size: 0.875em;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.tt-suggestion, .tt-selectable {
    line-height: 1.5em;
    padding-left: 5px !important;
    border-left: 1px solid #dce1e5 !important;
    border-right: 1px solid #dce1e5 !important;
    border-bottom: 1px solid #dce1e5 !important;
}

.tt-add-info {
	font-style: italic;
}

.dd-action-icon {
	padding: 3px 0 0 3px;
}


.nvtooltip table {
	width: 90%;
}

.filter-pane {
	background: #ffffff;
	border-right: 1px solid #dce1e5;
}

.sidebar-filters {
	width: 100%;
}

.sidebar-filters .head {
	position: relative;
    padding: 0.6em 1em;
    border-width: 0px 0px 1px 0px;
    border-color: #ecf0f1;
    border-style: solid;
}

.sidebar-filters .foot,
.sidebar-filters .filter-list {
}

.sidebar-filters .foot,
.filter-list .cont {
	padding: 1em;
	border-bottom: 1px solid #ecf0f1;
}

.sidebar-filters .head h3 {
	margin-left: 2em;
	text-transform: none;
}

.sidebar-collapse {
	text-align: left;
    padding: 0.8em 1em 0em 1em;
    position: absolute;
    z-index: 1000;
}

.sidebar-collapse i {
	cursor: pointer;
}

.filter-pane {
	max-width: 20% !important;
	transition: max-width 0.3s;
	-webkit-transition: max-width 0.3s;
	-moz-transition: max-width 0.3s;
  	-o-transition: max-width 0.3s;
}

.filter-pane.closed {
	max-width: 3em !important;
	transition: max-width 0.3s;
	-webkit-transition: max-width 0.3s;
	-moz-transition: max-width 0.3s;
  	-o-transition: max-width 0.3s;
}

.filter-pane.closed .sidebar-filters {
	margin-left: -500px;
}

.filter-pane .sidebar-filters {
	margin-left: 0px;
	transition: margin 0.3s;
	-webkit-transition: margin 0.3s;
	-moz-transition: margin 0.3s;
  	-o-transition: margin 0.3s;
}

.filter-opt-cont {
	width: 100%;
	font-family: Montserrat;
}

.filter-opts {
	padding-top: 0.75em;
}

.more-opt {
	font-size: 0.75em;
    color: #1D6AAD;
    cursor: pointer;
}

.head .clear-all {
    float: right;
    text-transform: none;
    font-size: 0.875em;
    color: #1D6AAD;
    cursor: pointer;
}

.filter-search md-input-container {
	margin: 4px 0 0 0;
	font-size: 0.75em;
}

.filter-search md-input-container .md-errors-spacer {
    min-height: 0;
}

.filter-more {
	font-size: 0.875em;
}

.filter-name .fa {
	float: right;
}

.closed .fa-angle-down {
    transform: rotate(180deg);
}

md-checkbox {
	margin-bottom: 0.75em;
}

md-checkbox .md-label {
	font-size: 0.75em;
	vertical-align: text-bottom;
}

md-checkbox .md-icon {
	transform: scale(0.7); 
}

.record-tile {
	border: 1px solid #dce1e5;
}

.record-data {
	position: relative;
}

.record-tile .record-data .head {
    border-width: 0px 0px 1px 0px;
    border-color: #f4f6f7;
}

.record-tile .record-data .cont {
    border-width: 0px;
    padding-bottom: 0.5em;
}

.data-box {
	padding-bottom: 0.5em;
}

.record-detail-action {
    bottom: 0.2em;
    position: absolute;
    right: 1em;
}

.svgButton {
	color: #222;
    fill: #222;
    cursor: pointer;
    opacity: 0.5;
}

.svgButton:hover {
	opacity: 1;
}

.modal-close-btn {
	position: absolute;
    right: -14px;
    top: -14px;
    background: #ffffff !important;
}

.circularButtonView {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    border: 1px solid #B9BCC0;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: transparent;
    color: #B9BCC0;
    fill: #B9BCC0;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    height: 30px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-transition: border 200ms,box-shadow 200ms,color 200ms;
    -moz-transition: border 200ms,box-shadow 200ms,color 200ms;
    transition: border 200ms,box-shadow 200ms,color 200ms;
    width: 30px;
    z-index: 100;
}

.circularButtonView-label {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    flex-item-align: center;
    align-self: center;
    display: block;
}

.svgIcon {
    height: 16px;
    width: 16px;
}

.doc-thumbnail {
	width: 160px;
	text-align: center;
}

.doc-thumbnail img {
	max-width: 140px;
	max-height: 140px;
	margin: 10px;
	border-width: 2px 1px;
	border-color: #dce1e5;
    border-style: solid;
    border-radius: 4px;
}

.sel-filter-chips .md-chips md-chip {
    border-radius: 4px;
    height: 1.5em;
    line-height: 1.5em;
}

.sel-filter-chips .md-chips md-chip .md-chip-remove {
    height: 1.5em;
}

.sel-filter-chips .md-chips {
    padding: 0;
}

.sel-filter-chips md-chips md-chip {
	background: #eeeff1;
}

.block.table-default {
    margin-top: 0;
}

.filter-opt .count {
    opacity: 0.5;
}

.rec-detail-win .head {
    padding: 0.5em 0;
    border-bottom: 1px solid #dce1e5;
}

.rec-detail-win .record .cont {
    padding: 1em 0 1em 0;
    border-bottom: 1px solid #dce1e5;
}

.box-view {
    max-height: 105px;
    overflow: hidden;
    position: relative;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.box-view .box-view-read-more {
	display: block;	
}

.box-view-read-more .fa {
	padding-bottom: 3px;
}

.box-view-read-more {
	display: none;
    font-size: 0.875em;
    color: #1d6aad;
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, #fff);
    padding-top: 2em;
    transition: all .2s ease;
}

.head .content-label {
    color: #1D6AAD;
}

.tile-sort-cont {
	padding: 1em;
    text-align: right;
    font-size: 0.75em;
    border: 1px solid #dce1e5;
    background: #fff;
    margin: 2em 0 -1em 0;
    font-family: Montserrat;
}

.tile-sort-opt {
    padding-left: 1em;
}

.tile-sort {
	font-weight: 500;
}

.tile-sort-opt.active {
    color: #1D6AAD;
    font-weight: 500;
}

.page-heading {
	margin: 2em 0 -1em 0;
	font-family: Montserrat;
	font-weight: 400;
    color: #222;
}

.page-heading .heading-label {
    font-size: 0.875em;
}

.page-heading .detail {
	font-size: 0.75em;
	padding-left: 0.75em;
	opacity: 0.5;
}

.head.layout-row .bar-action-icons {
    margin-top: 0;
}

md-autocomplete .md-whiteframe-z1 {
	box-shadow: none;
}

md-autocomplete.form-control {
	padding: 0px;
    height: 40px;
}

.single-line:hover {
	white-space: normal;
}

.single-line a.toggle {
    color: #1D6AAD;
}

.page-heading ebx-suggest-content {
	font-size: 0.875em;
	padding-left: 0.5em;
}

.alert-group {
	margin-top: 15px;
}