@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

$completedClr: #81BFF6;
$activeClr: #1889ED;
$inactiveClr: #EBEBEB;

.user-tasks {
  
  font-family: $FPLight;
  margin: 0 0 66px 0;

  .usertask {
    padding: 20px;
    border: 1px solid $completedClr;
    background: #fff;

    .header {
      margin-bottom: 12px;
    }

    .desc {
      font-size: 14px;
      font-family: $FPBlond;
      color: $grey-dark;
    }

    .steps {

      display: inline-flex;
      flex-direction: column;

      .step-details {
        display: flex;
        padding: 24px 0;
        font-family: $FPBlond;
        font-size: 14px;
        color: #2D2D2D;
        line-height: 18px;
        align-items: flex-end;

        .step {
          color: $inactiveClr;
          width: 80px;

          &.focus {
          }

          &.completed {
            color: $completedClr;

            .detail {
            
              .title {
                color: $completedClr;
              }
            
              .icon {
                svg {
                  .fill-node {
                    fill: $completedClr;
                  }
                }
              }
            }
          }

          &:hover {
            color: $activeClr;

            .detail {
            
              .title {
                color: $activeClr;
              }
            
              .icon {
                svg {
                  .fill-node {
                    fill: $activeClr;
                  }
                }
              }
            }
          }

          .detail {
            
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .title {
              margin-bottom: 8px;
              cursor: pointer;
            }

            .icon {
              width: auto;
              height: auto;
              cursor: pointer;

              svg {
                .fill-node {
                  fill: $inactiveClr;
                }
              }
            }
          }
        }
      }

      .progress {
        padding: 0 48px;
        @include vcenterChildren;
        justify-content: center;
        flex-direction: column;

        .progress-icon {
          width: 100%;
        }

        .progress-desc {
          font-size: 14px;
          font-family: $FPBlond;
          line-height: 18px;
          margin-top: 12px;
          color: $grey-dark;

          .bold {
            color: #000;
            font-family: $FPSemiBold;
          }
        }

      }

      .divider {
        width: 60px;
        margin: 0 0 20px 0;
        background: $inactiveClr;
        height: 2px;
        border-radius: 1px;

        &.completed {
          background: $completedClr;
        }
      }

    }

    .step-desc {
      margin-top: 16px;
      font-family: $FPLight;
      font-size: 14px;
      color: $grey-dark;
      line-height: 17px;
    }

  }
}