@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.user-tasks {
  
  font-family: $FPLight;
  margin: 0 0 66px 0;

  .usertask {

    .header {
      margin-bottom: 12px;
    }

    .progress {

      margin-bottom: 8px;
      @include vcenterChildren;

      .progress-icon {
      }

      .progress-desc {
        font-size: 16px;
        font-family: $FPBlond;
        line-height: 18px;
        margin-left: 12px;
        color: $grey-dark;
      }

    }

    .steps {
      
      display: flex;
      padding: 16px 0 16px 0;
      font-family: $FPBlond;
      font-size: 14px;
      color: #2D2D2D;
      line-height: 18px;

      border-bottom: 1px solid rgba(0,0,0,0.03);
      border-top: 1px solid rgba(0,0,0,0.03);

      .step {

        width: 80px;
        padding: 8px;

        &.focus {
          background: $grey-lig-10;
          border-radius: 4px;
        }

        .detail {
          
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .title {
            margin-bottom: 8px;
            color: #1F8AEF;
            cursor: pointer;
            
            &:hover {
              color: #44A1F8;
              font-weight: 600;
            }
          }

          .icon {
            width: auto;
            height: auto;
            cursor: pointer;
          }
        }
      }

      .divider {
        width: 40px;
        margin: 0 8px;
        background: none;
        position: relative;
        height: auto;

        span {
          position: absolute;
          bottom: 12px;
          width: 100%;
          text-align: center;
        }
      }

    }

    .step-desc {
      margin-top: 16px;
      font-family: $FPLight;
      font-size: 14px;
      color: $grey-dark;
      line-height: 17px;
    }

  }
}