<div class="row with-height" [hidden]="!editing && !hasValue()">
  <p class="label" *ngIf="label">{{label}}</p>
  <div class="content-tags-container">
    <div class="pills-container">
      <div *ngFor="let tag of tags">
        <ebx-entity-pill [containerQId]="tag.containerQId" [label]="tag.label" [identity]="tag.id" [navigable]="true" [removable]="editing" (onRemove)="removeTag(tag)"></ebx-entity-pill>
      </div>
      <div class="dashboard-buttons small content-tag" *ngIf="editing">
          <div class="action-btn" (click)="showAddTags()" [hidden]="addTagsVisible">
              <div class="icon small plus"> </div>
          </div>
      </div>
    </div>
    <ebx-add-content-tags [tagItems]="tagItems" [hidden]="!addTagsVisible" (onClose)="hideAddTags()" (onAddItem)="addTag($event)"></ebx-add-content-tags>
  </div>
</div>