.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 228px;
    width: 192px;
    text-align: center;
    margin-bottom: 24px;

    &.with-flex {
        flex-grow: 1;
        min-width: 25%;
        display: flex;
        justify-content: space-between;
    }

    .cardDefaultImg, .cardImgText {
        height: 108px;
        width: 192px;
        // padding: 0 16px;
        background: #2C4290;
        @include vcenterChildren;
        border-radius: 4px 4px 0 0;
    }

    .cardDefaultImg {
        justify-content: center;
    }
    
    .cardImgText {
        color: $white;
        font-family: $FPBlond;
        font-size: 14px;
        line-height: 18px;
        width: 192px;
    }

    img + .content {
        position: relative;
        top: -4px;
    }

    .content {
        background: $white;
        
        width: 192px;
        height: 120px;
        border-radius: 0 0 4px 4px;

        .content-type {
            font-family: $FPMedium;
            font-size: 10px;
            color: #2CA6E3;
            padding-bottom: 8px;
            padding-top: 16px;
        }

        .card-title {
            font-family: $FPBlond;
            font-size: 14px;
            color: #2D2D2D;
            line-height: 18px;
            margin-bottom: 18px;
            padding: 0 8px;
        }

        .company-properties {
            font-family: $FPBlond;
            font-size: 12px;
            color: #BFCBD9;
        }

    }
}