.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 228px;
    width: 192px;
    text-align: center;
    margin-bottom: 24px;

    &.with-flex {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        // justify-content: space-between;

        // @include breakpoint(sm){
        //     min-width: 25%;
        //     justify-content:center
        // }

        // @include breakpoint(md){
        //     min-width: 33%;
        // }


        // @include breakpoint(lg){
        //     min-width: 20%;
        // }
    }
    
    .cardDefaultImg, .cardImgText {
        height: 104px;
        width: 192px;
        background: #2C4290;
        @include vcenterChildren;
        border-radius: 4px 4px 0 0;
    }

    .cardDefaultImg {
        justify-content: center;
    }
    
    .cardImgText {
        color: $white;
        font-family: $FPLight;
        font-size: 14px;
        line-height: 18px;
        width: 192px;
    }

    .card-img {
        display: block;
    }

    img + .content {
        position: relative;
        top: -4px;
    }

    .content {
        background: $white;
        
        width: 192px;
        height: 120px;
        border-radius: 0 0 4px 4px;

        .content-type {
            text-transform: uppercase;
            font-family: $FPMedium;
            font-size: 10px;
            color: #2CA6E3;
            padding-bottom: 8px;
            padding-top: 16px;
        }

        .card-title {
            font-family: $FPLight;
            font-size: 14px;
            color: #2D2D2D;
            line-height: 18px;
            margin-bottom: 18px;
            padding: 0 8px;
            height: 36px;
        }

        .company-properties {
            font-family: $FPLight;
            font-size: 12px;
            color: #BFCBD9;
        }

    }
}