button.action {
    margin-right: 12px;
    background: #1F8AEF;
    color: $white;

    &:hover {
        background: #44A1F8;
    }
}

button.cancel {
    background: $white;
    color: #808C9B;

    &:hover {
        background: #fcfcfc;
    }    
}

button {
    height: 48px;
    border: 1px solid rgba(0,0,0,0.10);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
    border-radius: 4px;
    font-family: $FPThin;
    font-size: 18px;
}

.dashboard-buttons {
    display: flex;
    height: 32px;

    &.small {
        height: 28px;

        .action-btn {
            padding: 6px;
        }
    }

    .button-wrap {
        .action-btn {
            margin-left: 8px;
        }
    }

    .btn-set {
        display: flex;

        &::before {
            content: "";
            height: 32px;
            width: 1px;
            background: rgba(0, 0, 0, 0.03);
            margin: 0 16px;
        }
    }

    .action-btn {
        display: flex;
        background: white;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
        border-radius: 4px;
        cursor: pointer;
        padding: 8px;

        &.with-border {
            border: 1px solid #E3EBEF;
        }

        &:hover {
            background: #fcfcfc;
        }

        &.add-padding {
            padding: 0 8px;
        }

        & + .action-btn {
            margin-left: 8px;
        }

        &.btn-with-text, .btn-with-text {
            display: flex;
            align-items: center;
        }

        .show-me {
            display: none;
            font-family: "Fakt Pro Thin";
            height: 13px;
            font-size: 14px;
            color: #1F8AEF;
            text-transform: capitalize;

            &.visible {
                display: flex;
            }
        }

        &:hover .show-me {
            display: flex;
        }

        p {
            font-family: $FPThin;
            height: 13px;                    
            font-size: 14px;
            color: #1F8AEF;
            text-transform: capitalize;
        }

        p.confirmed-action {
            display: flex;
            img {
                margin-right: 8px;
            }
        }

        .icon + p {
            padding-left: 8px;
        }

        .icon {

            &.edit {
                background: url("/assets/images/icons/pencil.svg") no-repeat center;
            }
    
            &.attach {
                background: url("/assets/images/icons/attach.svg") no-repeat center;
            }

            &.email {
                background: url("/assets/images/icons/message.svg") no-repeat center;
            }
        
            &.trash {
                background: url("/assets/images/icons/trash.svg") no-repeat center;
            }

            &.copy {
                background: url("/assets/images/icons/copy.svg") no-repeat center;
            }

            &.download {
                background: url("/assets/images/icons/download.svg") no-repeat center;
            }
            
            &.upload-btn {
                background: url("/assets/images/icons/upload.svg") no-repeat center;
            }

            &.website {
                background: url("/assets/images/icons/globe.svg") no-repeat center;
            }

            &.move {
                background: url("/assets/images/icons/move.svg") no-repeat center;
            }

            &.plus {
                background: url("/assets/images/icons/plus.svg") no-repeat center;
            }

            &.approve {
                background: url("/assets/images/icons/approve.svg") no-repeat center;
            }

            &.reject {
                background: url("/assets/images/icons/reject.svg") no-repeat center;
            }

            &.send-blue {
                background: url("/assets/images/icons/paper_plane-blue.svg") no-repeat center;
            }

            &.cancel {
                background: url("/assets/images/icons/cancel.svg") no-repeat center;
            }

            &.cancel-blue {
                background: url("/assets/images/icons/cancel-blue.svg") no-repeat center;
            }

            &.save-blue {
                background: url("/assets/images/icons/save-blue.svg") no-repeat center;
            }

            &.withdraw {
                background: url("/assets/images/icons/undo.svg") no-repeat center;   
            }
        }
    }

    .icon-btn {
        
        & + .icon-btn {
            margin-left: 8px;
        }

        &:not(.active){
            background: $white;
        }

        .funnel {
            background: url("/assets/images/icons/funnel_icon.png") no-repeat center;
        }

        .list {
            background: url("/assets/images/icons/list.png") no-repeat center;
        }

        &.active {
            background: #BFCBD9;

            .funnel {
                background: url("/assets/images/icons/funnel-white.png") no-repeat center;
            }

            .list {
                background: url("/assets/images/icons/list-white.png") no-repeat center;
            }
        }
    }
}

.publish-buttons {
    // display: flex;
    @include vcenterChildren;

    .publish-btn {
        display: flex;
        background: #1F8AEF;
        height: 32px;
        color:$white;
        cursor: pointer;

        &:hover:not(.white) {
            background: #44A1F8;
        }

        &:hover.white {
            background: #fcfcfc;
        }

        & + .publish-btn {
            margin-left: 8px;
        }

        &.white {
            background:$white;
            border: 1px solid #E3EBEF;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
            color: #808C9B;
        }

        p.btn-text {
            height: 16px;
            font-size: 16px;
            white-space: nowrap;
        }

        .icon {
            margin-right: 8px;
        }

        .send {
            background: url("/assets/images/icons/paper_plane.svg") no-repeat center;
        }

        .save {
            background: url("/assets/images/icons/save.svg") no-repeat center;
        }

        .cancel {
            background: url("/assets/images/icons/cancel.svg") no-repeat center;
        }

        .white-check {
            background: url("/assets/images/icons/ok.svg") no-repeat center;
        }
    }
}


.icon-btn {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: $white;
    @include hcenterChildren;

    &:hover {
        background: #fcfcfc;
    }
  
    .notification {
        background: url("/assets/images/icons/bell_icon.svg") no-repeat center;
    }

    .drafts {
        background: url("/assets/images/icons/drafts_icon.svg") no-repeat center;
    }

    .back {
        background: url("/assets/images/icons/back-grey.svg") no-repeat center; 
    }

    .plus {
        background: url("/assets/images/icons/plus.svg") no-repeat center; 
    }

    .insights {
        background: url("/assets/images/icons/bar_chart.svg") no-repeat center;   
    }
}