@import 'font.mixin';

//fonts variables
$FPBlond: 'Fakt Pro Blond';
$FPLight: 'Fakt Pro Light';
$FPMedium: 'Fakt Pro Medium';
$FPNormal: 'Fakt Pro Normal';
$FPSemiBold: 'Fakt Pro SemiBold';
$FPThin: 'Fakt Pro Thin';
