@import 'font.mixin';
@import 'breakpoint.mixin';
@import 'layout.mixin';

@import 'colors';
@import 'fonts';
@import 'buttons';

@import '~pretty-checkbox/src/pretty-checkbox.scss';


/* Note: src relative to ./src folder */
@include font-face("Fakt Pro Blond", "../assets/fonts/FaktPro-Blond", null, null, ttf);
@include font-face("Fakt Pro Light", "../assets/fonts/FaktPro-Light", null, null, ttf);
@include font-face("Fakt Pro Medium", "../assets/fonts/FaktPro-Medium", null, null, ttf);
@include font-face("Fakt Pro Normal", "../assets/fonts/FaktPro-Normal", null, null, ttf);
@include font-face("Fakt Pro SemiBold", "../assets/fonts/FaktPro-SemiBold", null, null, ttf);
@include font-face("Fakt Pro Thin", "../assets/fonts/FaktPro-Thin", null, null, ttf);

html, body {
    // min-height: 100% !important;
    height: 100%;
}

//reset default styles for elements
h1, h2, h3, h4, p, ul, input, body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit; 
}

textarea, input[type="text"], input[type="password"], select { 
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance:none;
    outline: none;
    -webkit-appearance: none; 
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

input[type="text"], input[type="password"], select, textarea {
    color: #2D2D2D;
    -webkit-appearance: none;
    background-color: $white;

    &.border-style {
        border-radius: 4px;
        border: 1px solid #E3EBEF;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
    }
}

input[type="text"], input[type="password"] {
    font-family: $FPLight;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: #a4acb7 !important;
}
 
textarea:-moz-placeholder, input:-moz-placeholder { /* Firefox 18- */
    color: #a4acb7 !important;  
}
 
textarea::-moz-placeholder, input::-moz-placeholder {  /* Firefox 19+ */
    color: #a4acb7 !important;  
}
 
textarea:-ms-input-placeholder, input:-ms-input-placeholder {  
    color: #a4acb7 !important;  
}

select {
    background: url('../assets/images/icons/dropdown-blue.svg') no-repeat right $white;
    background-position: right 17px center;
    cursor: pointer;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.container {
    margin-top: 56px;
    padding-bottom: 80px;

    &.small-top-margin {
        margin-top: 32px;
    }

    @include breakpoint(sm){
        margin-right: 36px;
        margin-left: 48px;
    }
    
    @include breakpoint(md){
        margin-right: 48px;
        margin-left: 48px;
    }

}

.wrapper {
    height: 100%;
    min-width: 1024px;
    max-width: 1600px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    @include breakpoint(md){
        margin: 0 32px;
    }
    
    @include breakpoint(lg){
        margin: 0 48px;
    }

    @include breakpoint(xlg){
        margin: auto;
    }
}

.icon {
    height: 32px;
    width: 32px;

    &.xsmall {
        height: 12px;
        width: 12px;
    }

    &.small {
        height: 16px;
        width: 16px;
    }

    &.grey-border {
      border: 2px solid $grey-lig-5;
      border-radius: 50%;
    }
  }

body {
    background: $grey-lig-5;
}

.notify-popup {
    width: 334px;
    background: $white;
    position: absolute;
    right: 40px;
    top: 80px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    &:before {
      content: "";
      position: absolute;
      top: -16px;
      right: 50px; 
      border-width: 8px;
      border-style: solid;
      border-color:  transparent transparent #fff transparent;
    }
    
    > div {
      padding: 16px;
    }

    .activity {
      font-family: $FPBlond;
      font-size: 14px;
      line-height: 18px;
      display: flex;
    }

    .see-asset {
      cursor: pointer;
      font-family: $FPSemiBold;
      background-color: $grey-lig-5;
      font-size: 14px;
      color: #1F8AEF;
    }
  }

.circle {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.divider {
    height: 32px;
    width: 1px;
    background: rgba(0,0,0,0.03);
    float: left;
    margin: 0 16px;

    @media only screen and (max-width: 1072px) {
        display: none;
    }
}

.user {
    position: relative;
    
    .add-padding {
        left: -9px;
    }
    
    .profile {
        float: left;
    }
    img {
        float: left;
    }
}

[contenteditable]:focus, input:focus, button:focus {
    outline: 0px solid transparent;
}


.sidebar {
    height: 100%;
    width: 296px;
    float: right;
    margin-left: 80px;
    display: none;

    &.leftbar {
        float: none;
        margin-left: 0;
        margin-right: 40px;
    }

    &.toRight {
        float: left;
        margin-left: 0;
        margin-right: 24px;
    }

    &.sticky {
        height: calc(100vh - 262px);
        overflow: auto;
    }

    @include breakpoint(md){
        display: block;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.company, .dashboard, .dimension {
    width: 100%;

    @include breakpoint(md){
        width: calc(100% - 296px - 80px);
    }
    
    &.no-sidebar {
        width: 100%;
    }

    .header {
        margin-bottom: 32px;
        h1 {
            font-family: $FPThin;
        }

        p.subheader {
            font-family: $FPLight;
            font-size: 14px;
            color: $grey-dark;
            line-height: 17px;
            &.no-bottom-padding {
                padding-bottom: 0; //no sibling a
            }            
        }

        div {
            padding-top: 8px;
        }

        a.cta-link{
            font-family: $FPSemiBold;
            font-size: 14px;
            color:$blue-med-20;
        }
    }

    .subheader {
        padding-top: 8px;
        /*padding-bottom: 16px;*/
        width: 440px;  
    }    
}

//table shared between consolidate content and recent-activity
.assets-table, .activity-table {
    font-family: $FPLight;

    .td-text {
        font-size: 14px;
        color: $grey-dark;
        line-height: 17px;
    }

    table {
        width: 100%;
        thead {
            font-size: 18px;
            color: $grey-dark;

            tr {
                height: 41px;
            }

            td:first-child{
                .icon {
                    padding-right: 12px;
                }
            }
            td:not(:first-child){
                .icon.dropdown {
                    padding-left: 7px;
                    width: 9px;
                    height: 7px;
                }
            }
        }

        .content{
            td {
                border-top: 1px solid rgba(0, 0, 0, .03);
            }
        }
    }

    .activity, .asset {
        >div.vertical-align {
            @include vcenterChildren;
        }
    }
}

.tags-container, .sectors-container, .content-tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tag, .add-tag, .company-sector, .content-tag {
        position:relative;
        font-family: $FPThin;
        font-size: 16px;
        color: $white;
    }

    .tag, .company-sector, .content-tag {
        margin: 0 6px 10px 0;
        padding: 0 8px;
        display: inline-block;

        &.inactive {
            background: $white;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
            color: $grey-med;
        }

        .content, .remove {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
        }

        .content {
            span {
                height: 16px;
            }
            span + a{
                padding-left: 5px;
            }
        }
    }

    .tag {
        border-radius: 100px;
        background: $blue-med-20;
    }

    .content-tag {
        border-radius: 4px;
    }

    .company-sector {
        background: $blue-med-10;
        border-radius: 4px;

        &.purple {
            background: #724BD0;
        }
    }
    
}

.eye {
    background: url('../assets/images/icons/eye-icon-white.svg') no-repeat;
}

.pills-container {
  display: flex;
  padding-top: 8px;
  min-height: 26px;
  flex-wrap: wrap;

  .pill {
    margin-bottom: 8px;
  }

}

.pill {
    margin-right: 8px;
    border-radius: 4px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    min-height: 28px;
    font-family: $FPThin;
    
    
    &.roundpill {
        border-radius: 100px;
    }

    &.selectable {
        cursor: pointer;
    }

    &.white {
      background-color: $white;
      border: 1px solid #E3EBEF;

      .pill-label {
        color: #1F8AEF;
        font-weight: 700;
      }


    }

    .pill-label {
      color: $white;
      height: 16px;
      white-space: nowrap;
    }

    .remove {
      padding-left: 5px;
      cursor: pointer;
    }
}

.with-flex {
    display: flex;
}

.sub-tabs {
  border-bottom: 1px solid rgba(179,38,38,.03);
  padding-bottom: 16px;

  a {
    font-family: $FPThin;
    font-size: 1.17em;
    font-weight: 700;
    padding: 16px 0;
    margin: 0 24px 0 0;
    color: $grey-med;
    cursor: pointer;

    &.tab-active {
      border-bottom: 2px solid $blue-med-20; 
      color: $black; 
    }
  }
}

.tab-content {
  padding-top: 40px;
}

.row-select-cbox {
    margin-right: 12px;
}

.pretty.p-round .state label:before, 
.pretty.p-round .state label:after {
    background: #FFFFFF;
}

.pretty .state label:before,
.pretty .state label:after {
    border: 1px solid #dee4ea;
}

.pretty input:checked ~ .state.p-primary label:after, 
.pretty.p-toggle .state.p-primary label:after {
    background-color: #1F8AEF !important;
    border: 1px solid #4584d8;
}

.pretty input:checked ~ .state.p-primary label:before, 
.pretty.p-toggle .state.p-primary label:before {
    border: 1px solid #4584d8;
}

.pretty.p-icon input:checked ~ .state label:before,
.pretty.p-icon input:checked ~ .state label:after {
    border: 1px solid #4584d8;   
}

.form-input {
    font-family: $FPLight;
    margin-bottom: 32px;

    &.compact {
        margin-bottom: 16px;
    }

    .input-label {
        color: #000;
        //font-weight: 700;
    }

    .input-control {
        padding-top: 12px;

        >input[type="text"], input[type="password"], textarea {
            height: 40px;
            background: $white;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
            border-radius: 6px;
            padding: 0 16px;
            font-size: 16px;
            color: #000;
            width: calc(100% - 32px);
        }

        >input.ng-invalid.ng-dirty {
            border-left: 5px solid #d23e41;
        }

        textarea {
            padding: 12px 16px;
            min-height: 140px;
            font-family: $FPLight;
            line-height: 1.5em;
        }

    }

    .input-error {
        color: #d23e41;
        margin-top: 12px;
    }
}

.input-group {
    font-family: $FPLight;

    .group-header {
        font-weight: 700;
        font-size: 1.25em;
        padding: 24px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.06);
    }

    .input-error {
        color: #d23e41;
        margin-top: 12px;
    }
}

.popup-wrapper {
    font-family: $FPLight;

    h1 {
        margin-bottom: 8px;
    }

    h3 {
        margin-bottom: 32px;
        line-height: 24px;
    }

    button {
        min-width: 146px;
        padding: 0 14px;
    }
}

.login-container {

  display: flex;
  justify-content: center;
  font-family: $FPLight;

  .form-container {

    padding: 44px 66px;
    background: $white;
    border-radius: 4px;

    .text {
      color: $grey-dark;
    }

    .right {
      display: block;
      text-align: right;
    }

    .error {
      color: red;
    }

    .link {
      
      color: $grey-dark;
      
      a {
        
        border-bottom: 1px solid $grey-med;

        &:hover {
          border-bottom: 1px solid $grey-dark;
        }

        &:focus {
          border-bottom: 1px dashed $grey-med;
        }
      }
    }

    .input-group {

      .label, .input-error {
        margin-bottom: 8px;
        min-width: 224px;
        max-width: 344px;
        width: 40vw;
        line-height: 24px;
      }

      &.space-between {
        display: flex;
        justify-content: space-between;
      }

      input[type="text"], input[type="password"] {
        border: 1px solid #E3EBEF;
        /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06); */
        font-size: 18px;
        padding: 12px;
        border-radius: 4px;
        min-width: 200px;
        max-width: 320px;
        width: 40vw;
        font-family: $FPBlond;
      }

      .action-btn {
        display: flex;
        padding-top: 14px;

        button {
          background: $blue-med-20;
          min-width: 100px;
          margin-left: auto;
          color: $white;
          padding: 0 16px;
        }

        button:focus {
            border: 1px dashed;
        }

      }

    }

    .input-group:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.ql-container {
    line-height: 18px;
    min-height: 72px;
    font-size: 14px;
    font-family: $FPLight;
    background: $white;
}

.content-item, .text-preview {
    .ql-toolbar.ql-snow, .ql-container.ql-snow {
        border: 0px;
    }

    .ql-snow .ql-stroke {
        stroke: $grey-dark;
    }

    .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
        fill: $grey-dark;
    }
}

.dashboard-sales-funnel {

    .dashboard-buttons {
        .action-btn.fixed-size {
            height: 32px;
            width: 32px;
        }
    }
    
    .header-container {
        margin-bottom: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h2 {
            font-family: $FPThin;
            font-size: 32px;
        }
    }

    .main {
        border-top: 1px solid rgba(0,0,0,0.03);
        padding-top: 56px;
    }
    
    .no-data {
        border-top: 1px solid rgba(0,0,0,0.03);
        padding-top: 32px;
        font-family: $FPLight;
        font-size: 16px;
        color: $grey-dark;
        line-height: 17px;
    }

    .card.with-flex{
        justify-content: flex-start!important;
    }
}

.dashboard-sales-funnel.list {
    
    .card {

        &:nth-child(2){
            display: none;
    
            @include breakpoint(lg){
                display: block;
            }
        }
    }
}

.cards-container {
    display: block;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 262px);

    @include breakpoint(md){
        width: calc(100% - 354px);
    }

    .sales-funnel-header {
        display: flex;
        align-items: center;
        margin: 40px 0;
    }

    h2 {
        font-family: $FPThin;
        font-size: 24px;
        height: 24px;
        width: 130px;
        padding: 0px 20px;
    }
    
    .line {
        opacity: 0.03;
        background: #000000;
        height: 1px;
        width: calc((100% - 130px - 40px) * 0.5);
    }
}

.content-types-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    >div {
        display: flex;
        flex-direction: column;
        margin-bottom: 65px;
        align-items: flex-start;
        flex-grow: 1;
        width: 50%;
    }

    .content-type-heading {
        display: flex;
        align-items: flex-end;
        margin-bottom: 24px;

        h2 {
            margin-bottom: 0;
        }

        .dashboard-buttons {
            margin-left: 16px;
        }
    }

    .content-type-msg {
        font-family: $FPLight;
        font-size: 14px;
        color: #808C9B;
        line-height: 17px;
    }

    //@media ( max-width : 1465px) {
    .full-width-container {
        width: 100%;
    }
    //}

    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .data-card {
            margin-right: 24px;
        }
    }


    h2 {
        font-family: $FPThin;
        font-size: 24px;
        margin-bottom: 9px;
    }

    .seeAll {
        font-family: $FPSemiBold;
        font-size: 14px;
        color: #1F8AEF;
        margin-bottom: 32px;
        cursor: pointer;
    }

    .sales-funnel-header {
        display: flex;
        align-items: center;
        margin: 0 0 40px 0;
        width: 100%;

        h2 {
            margin: 0 8px 0 8px;
        }
    }

    .line {
        opacity: 0.03;
        background: #000000;
        height: 1px;
        flex-grow: 1;
    }
}

.input-error {
    color: #d23e41;
    margin-top: 12px;
    font-size: 16px;
    font-family: $FPLight;
}

.simple-sidebar {
    .stage {

        >div {
            border-bottom: 1px solid rgba(0,0,0,0.03);
            
            &:not(:first-child){
                padding: 20px 0;
            }

            &:first-child {
                padding-bottom: 20px;
            }
        }

        h3 {
            font-family: $FPThin;
            font-size: 18px;    
        }

        h3.active {
            font-size: 24px;
        }

        .description {
            font-family: $FPLight;
            font-size: 14px;
            color: #808C9B;
            line-height: 17px;
            padding-bottom: 16px;
            margin-top: 8px;
        }

        .assets-count {
            font-family: $FPSemiBold;
            font-size: 14px;
            color: #1F8AEF;
        }
    }
}

.free-results {

    .header {
        h1 {
            font-family: $FPThin;
            font-size: 32px;
        }
        margin-bottom: 32px;
    }

    .result {

        h2 {
            font-family: $FPThin;
            font-size: 24px;
            margin-bottom: 32px;    
        }
    }

    .main { 
        border-top: 1px solid rgba(0,0,0, 0.03);
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;

        .card {
            margin-right: 24px;
        }
    }

}

//@import '../pages/index.scss';