<div class="table-content">
  <ebx-table *ngIf="dataPage" [tableData]="dataPage" [tableColumns]="tableColumns" [(pagination)]="pagination">
    <ng-template data-row let-rec>
      <td><div class="asset"><ebx-card-preview [record]="getDecoratedContentRecord(rec)" [container]="getRecordContainer(rec)" size="small"></ebx-card-preview><div class="title">{{rec.objectRef.contentTitle}}</div></div></td>
      <td><div class="center-content"><ebx-type-pill [containerQId]="rec.objectRef.contentQId"></ebx-type-pill></div></td>
      <td>{{getStateDisplayName(rec.currentState.stateName)}}</td>
      <td>{{rec.modifiedAt | ebxDate }}</td>
      <td>{{rec.createdByName}}</td>
    </ng-template>
  </ebx-table>
</div>
