<div class="modal-header">
    <h3 class="modal-title">About Us</h3>
</div>
<div class="modal-body">
<div class="cont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non nisl nisi. Proin sed ullamcorper odio, vel faucibus eros. Donec feugiat enim sit amet ligula accumsan posuere. Aenean vitae libero ligula. Sed quis nibh molestie, ornare velit quis, scelerisque tellus. Phasellus a ex sed magna tempus condimentum at ac ligula. Donec fermentum metus at mi viverra, consectetur semper dui vestibulum. Nullam vel neque nec ligula accumsan malesuada quis sit amet risus. Phasellus faucibus pellentesque lacus, vulputate blandit massa finibus at. Morbi varius sodales turpis quis pulvinar. Quisque molestie et est aliquam convallis. <br /><br />

Vivamus porttitor sapien vel urna interdum laoreet. Sed dapibus est sed dolor sagittis, eu viverra urna ullamcorper. Phasellus gravida non mi nec ultricies. Aenean iaculis urna eu nisi aliquam mattis. Praesent eleifend libero at nunc suscipit, vel tempor purus rutrum. Nam tristique arcu at elit volutpat sollicitudin. Duis nec tristique enim. Proin nunc lorem, egestas at eros at, porta facilisis est. Integer laoreet urna nisi, semper euismod turpis eleifend a. Aliquam erat volutpat. <br /><br />

Nullam ut placerat dui. In eget hendrerit purus. Nam at est in orci consectetur facilisis. Maecenas congue semper leo ultricies venenatis. In semper tempor turpis, at posuere lectus congue sit amet. Morbi sed risus lacus. In venenatis nunc nibh, sit amet sodales tortor rutrum eu. Integer urna ante, hendrerit vel felis et, facilisis consectetur ligula. Integer convallis eros in quam fermentum malesuada. Fusce finibus sed neque non pulvinar. Nam id mauris et quam eleifend tristique ut vitae massa.<br />
</div>
</div>
<a title="Close" class="fancybox-item fancybox-close" ng-click="close()"></a>