<div class="modal-header">
    <h3 class="modal-title">About Us</h3>
</div>
<div class="modal-body">
<div class="cont content-left">It is not that sales content in your organization is not useful. Its just that there is a lot of content and sales teams are not popular for content research. Enablix helps deliver the right content to a sales rep at the right time to drive the right outcome. 

<br/><br/>Using Enablix, organizations can automate content recommendation to their sales teams. Targeted content and vital market information is pushed to the sales team inside CRM (Customer Relationship Management) systems, emails and other third party applications that they are already using. Enablix also offers valuable and actionable insights about your organizations content coverage and content utilization metric to drive future investments in sales content. </div>
</div>
<a title="Close" class="fancybox-item fancybox-close" ng-click="close()"></a>