<ebx-header type="cntntmgr"></ebx-header>
<div class="container small-top-margin flex-row">
  <div class="company no-sidebar">
    <div class="main consolidate-content">
      <div class="sub-tabs">
        <a class="tab-lbl" routerLink="/portal/cconsol" routerLinkActive="tab-active" [routerLinkActiveOptions]="{ exact: true }">My Drafts</a>
        <a class="tab-lbl" *ebxAccess="'MANAGE_CONTENT_REQUEST'" routerLink="/portal/cconsol/requests" routerLinkActive="tab-active">Requests</a>
        <a class="tab-lbl" routerLink="/portal/cconsol/myrequests" routerLinkActive="tab-active">My Requests</a>
        <a class="tab-lbl" routerLink="/portal/cconsol/cverify" routerLinkActive="tab-active">Verify Content</a>
      </div>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>