@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.asset {
  @include vcenterChildren; 
  cursor: pointer;

  .title {
    .ctype {
      text-transform: uppercase;
      font-family: $FPMedium;
      font-size: 10px;
      color: #2CA6E3;
    }
  }

  ebx-card-preview {

    .card-preview {
      margin-right: 16px;  
    }

  }
}