<ebx-header></ebx-header>
<div class="container flex-row">
  <div class="company no-sidebar">
    <div class="header">
      <h1>Consolidate Content</h1>
      <p class="subheader no-bottom-padding">See and consolidate assets from your marketing team<br>
        or assets that need some quality check.</p>
    </div>
    <div class="main consolidate-content">
      <div class="sub-tabs">
        <a routerLink="/portal/cconsol" routerLinkActive="tab-active" [routerLinkActiveOptions]="{ exact: true }">My Drafts</a>
        <a routerLink="/portal/cconsol/pending" routerLinkActive="tab-active">Pending</a>
      </div>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>