<div class="report-detail">
  <div class="report-left" *ngIf="dataFiltersConfig">
    <div class="report-filters">
      <ebx-data-filters [config]="dataFiltersConfig" (onSearch)="fetchFilteredData($event)"></ebx-data-filters>
    </div>
  </div>
  <div class="report-data" *ngIf="dataPage">
    <div class="table-content">
      <ebx-table *ngIf="dataPage" [tableData]="dataPage" [tableColumns]="tableColumns" [(pagination)]="pagination" [tableActionConfig]="tableActions" (onRefreshData)="fetchData(lastSelectedFilters)">
        <ng-template #dataRow let-rec>
          <td><div class="asset" (click)="navToContentRequest(rec)"><ebx-card-preview [record]="getDecoratedContentRecord(rec)" [container]="getRecordContainer(rec)" size="small"></ebx-card-preview><div class="title">{{rec.objectRef.contentTitle}}</div></div></td>
          <td><div class="center-content"><ebx-type-pill [containerQId]="rec.objectRef.contentQId"></ebx-type-pill></div></td>
          <td>{{getStateDisplayName(rec.currentState.stateName)}}</td>
          <td>{{rec.modifiedAt | ebxDate }}</td>
          <td>{{rec.createdByName}}</td>
        </ng-template>
      </ebx-table>
    </div>
  </div>
</div>