<div class="container-fluid" ng-controller="MainStudioCtrl">
	<!-- <button class="back" back>Back</button> -->
	<!-- bread crumbs -->
	<div class="bread-crumbs">
		<div class="cont">
			<a href="#">Studio</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
			<span>Solutions</span>
			<!-- <button class="back" back>Back</button> -->
		</div>
	</div>
	<!--/ bread crumbs -->
	
	<div class="row" ng-controller="contentIndexCtrl">
		<aside class="col-sm-4 col-md-3">
			<nav id="side-nav" class="side-nav">
				<ul
			      data-list-group-treeview="true"
			      data-tree-id="contentIndex"
			      data-list-group-tree-model="indexData"
			      data-node-id="qualifiedId"
			      data-node-label="label"
			      data-node-children="children" 
			      >
			    </ul>
		    </nav>
		</aside>
		<main class="col-sm-9">
			<div ui-view></div>
		</main>
	</div>
</div>