<ebx-header></ebx-header>
<div class="container">
  <div class="main-section">
    <div class="sub-section">
      <div class="header">
        <h2>Recent Updates</h2>
        <div class="subheader" *ngIf="filters?.lastXDays">Updates from last {{filters.lastXDays}} days</div>
      </div>
      <div class="table-content">
        <ebx-table *ngIf="dataPage" [tableData]="dataPage" [tableColumns]="tableColumns" [(pagination)]="pagination" (onRefreshData)="fetchData()">
          <ng-template #dataRow let-rec>
            <td><span class="recent-update-type {{rec.updateType}}">{{rec.updateType}}</span></td>
            <td>
              <div class="asset" (click)="navToContent(rec)">
                <div class="content-icon">
                  <div class="img-cont" [style.background]="getContentColor(rec)" (click)="navToItemDetail(rec)">
                    <img [src]="getIconUrl(rec)" />
                  </div>
                </div>
                <div class="title">{{rec.data.title}}</div>
              </div>
            </td>
            <td><div class="center-content"><ebx-type-pill [containerQId]="rec.data.contentQId"></ebx-type-pill></div></td>
            <td>{{rec.createdAt | ebxDate }}</td>
            <td>{{rec.createdByName}}</td>
          </ng-template>
        </ebx-table>
      </div>
    </div>
  </div>
</div>