<div class="dashboard-sales-funnel list">
    <div class="header-container">
        <h2>{{record?.__title}}</h2>
        <div class="dashboard-buttons">
            <div class="action-btn add-padding" (click)="editState()">
                <div class="icon small edit"></div>
                <p class="show-me">Edit</p>
            </div>
            <div class="divider"></div>
            <ebx-content-email-button class="action-btn" [container]="container" [record]="record" ></ebx-content-email-button>
            <ebx-content-delete-button *ebxAccess="'VIEW_STUDIO'" class="action-btn add-padding" [container]="container" [record]="record" contentType="Object"></ebx-content-delete-button>
            <ebx-biz-dim-layout-switch *ngIf="record" [dimQId]="container?.qualifiedId" [recordIdentity]="record?.identity"></ebx-biz-dim-layout-switch>
        </div>
    </div>
    <div class="main" *ngIf="!noChildren && children && children.length > 0">
        <div>
            <ebx-default-layout *ngIf="layout == 'default'" [contentGroups]="children" (onNavToAllChildType)="navToAllContent($event)" [showAll]="seeAll" (onAddNextPage)="addNextDataPage($event)"></ebx-default-layout>
            <ebx-content-mapping-layout *ngIf="layout == 'cm'" [contentGroups]="children" [config]="layoutConfig"></ebx-content-mapping-layout>
            <!-- <div class="content-types-container">
                <div *ngFor="let cg of children">
                    <h2>{{cg?.container?.label}} ({{cg.records.totalElements}})</h2>
                    <div class="seeAll" (click)="navToAllContent(cg)">
                        <a>See All</a>
                    </div>
                    <div class="cards card-container">
                      <div class="data-card" *ngFor="let rec of cg.records.content">
                        <ebx-data-card  [containerQId]="cg.contentQId" [record]="rec"></ebx-data-card>
                      </div>
                    </div>
                </div>
            </div> -->
        </div> 
    </div>
    <div [hidden]="!noChildren" class="no-data">
        <div>Oops. Looks like this object has no content.</div>
    </div>
</div>