	<!-- nav bar -->
	<nav class="navbar navbar-expand-md navbar-light">
	  <a class="navbar-brand" href="/">
	  	<div class="nav-btn circular-btn-3"><img src="./assets/logo.png" class="logo-img" alt="Logo"></div>
	  	<span class="brand-name">enablix</span>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse w-100" id="collapsibleNavbar">
	    <ul class="navbar-nav w-100 justify-content-center">
	      <li class="nav-item">
	        <a class="nav-link" href="/site/features">Features</a>
	      </li>
	      <li class="nav-item" style="position: relative;">
	        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Solutions</a>
	        <div class="dropdown-menu">
	          <a class="dropdown-item" href="/site/solution-knowledge-portal">Knowledge Portal</a>
	          <a class="dropdown-item" href="/site/solution-sales-portal">Sales Portal</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/site/pricing">Pricing</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://enablix.wordpress.com/" target="_blank" onclick="handleOutboundLinkClicks(event)">Blog</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav ml-auto justify-content-end">
	      <li class="nav-item">
	        <a class="nav-link blue-text" href="app.html#/portal/home">Sign In</a>
	      </li>
	      <li class="nav-item nav-btn round-btn-10-3">
	        <a class="nav-link blue-text" href="reqdemo.html">Request Demo</a>
	      </li>
	    </ul>
	  </div>  
	</nav>