<nav class="navbar navbar-expand-md navbar-light d-none d-sm-block">
  <div class="collapse navbar-collapse w-100">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item dropup" style="position: relative;">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Solutions</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="./sol-sep.html">Sales Enablement</a>
          <a class="dropdown-item" href="./sol-rmp.html">Knowledge Management</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
  </div>  
</nav>
<div class="footer-bottom d-flex flex-row justify-content-between py-4">
  <div class="footer-copyright">&copy; 2018 Enablix</div>
  <div class="grey-text-1 d-flex flex-row">Up to Top <div class="nav-btn circular-btn-2 blue-icon ml-3"><i class="fa fa-chevron-up"></i></div></div>
</div>