<div class="container">
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"><span style="padding-left: 15px">One</span></li>
            <li class="list-group-item"><span class="active" style="padding-left: 15px">Two</span>
                <ul class="list-group inner">
                    <li class="list-group-item"><span style="padding-left: 30px">Item 2a</span></li>
                    <li class="list-group-item"><span style="padding-left: 30px">Item 2b</span>
                    	<ul data-list-group-treeview class="list-group inner">
		                    <li class="list-group-item"><span style="padding-left: 45px">Item 2bi</span></li>
		                    <li class="list-group-item"><span style="padding-left: 45px">Item 2bii</span></li>
		                </ul>
                    </li>
                </ul>
            </li>
            <li class="list-group-item"><span style="padding-left: 15px">Three</span>
                <ul class="list-group inner">
                    <li class="list-group-item"><span style="padding-left: 30px">Item 3a</span></li>
                    <li class="list-group-item"><span style="padding-left: 30px">Item 3b</span></li>
                </ul>
            </li>
        </ul>
    </div>
</div>