<div class="container-fluid">
	<div class="row">
		<main class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<!-- login -->
			<form ng-submit="forgotPassword.$valid && resetPassword()" class="block" name="forgotPassword">
				<div class="head">
					<h2>Forgot password</h2>
				</div>
				<div class="cont clearfix">				
					<div>				
					<label class="form-label">Please submit your registered email address and we will send you a new temporary password</label>
					<input name="userId" placeholder="Email Id " class="form-control ng-dirty ng-valid-required ng-valid-email ng-invalid ng-invalid-unexists" ng-model="userData.userId" type="email" size="80" required="">
				</div>
				<div ng-messages="forgotPassword.userId.$error" ng-if='forgotPassword.userId.$touched' role="alert">
				<div ng-message="required" class="error">Please enter user email</div> 
				<div ng-message="email" class="error">Please enter valid email</div>
				<div ng-message="unexists" class="error ng-scope">This emailid is not registered</div>
				</div>
				</div>
				<div class="foot clearfix">
					<button class="button button-add" type="button" ng-click="forgotPassword.$valid && resetPassword()">SUBMIT</button>
				</div>
			</form>
			<!--/ login -->
		</main>
	</div>
</div>
