   <div class="container-fluid">
	<div class="row">
		<main class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		
			
			<!-- login -->
			<!-- <form ng-submit="forgotpassword()" class="block"> -->
			<form ng-submit="login()" name="loginForm" class="block nl-form">
				<div class="nl-head">
					<h2>Sign in</h2>
				</div>
				<div class="nl-cont clearfix">
					<div class="form-group has-error" ng-if="error">
						<label class="form-label error">Invalid username or password</label>
					</div>
					<input type="text" name="username" ng-model="credentials.username" autofocus tabindex="1" class="form-control" placeholder="Email">					 
					  <span class="form-label" style="color:#e74c3c;" ng-show="loginForm.username.$error.pattern && loginForm.username.$touched">
						Not valid email !</span>
					<input type="password" name="password" ng-model="credentials.password" tabindex="2" class="form-control"  placeholder="Password">
					<br>
					<input type="checkbox" name="rememberMe" ng-model="credentials.rememberMe" tabindex="3" style="display:inline; margin:0 0 0 4px;">
						<label class="form-label" style="display:inline;">Remember Me</label>
					<div><a ng-click="forgotpassword()" tabindex="5" class="nl-form-forgot">Forgot Password?</a></div>
				</div>
				<div class="nl-foot clearfix">
					<button class="button button-add" tabindex="4" type="submit">Sign In</button>
				</div>
			</form>
			<!--/ login -->
			
		</main>
	</div>
</div>
			
