   <div class="container-fluid">
	<div class="row">
		<main class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		
			
			<!-- login -->
			<!-- <form ng-submit="forgotpassword()" class="block"> -->
			<form ng-submit="login()" name="loginForm" class="block">
				<div class="head">
					<h2>Sign in</h2>
				</div>
				<div class="cont clearfix">
					<div class="form-group has-error" ng-if="error">
						<label class="form-label error">Invalid username or password</label>
					</div>
					<label class="form-label">Login</label>
					<input type="text" name="username" ng-model="credentials.username" class="form-control">					 
					  <span class="form-label" style="color:#e74c3c;" ng-show="loginForm.username.$error.pattern && loginForm.username.$touched">
						Not valid email !</span>
		
					<label class="form-label">Password</label>
					<input type="password" name="password" ng-model="credentials.password" class="form-control" >
					<br>
					<input type="checkbox" name="rememberMe" ng-model="credentials.rememberMe" style="display:inline; margin:0 0 0 4px;">
						<label class="form-label" style="display:inline;">Remember me on this device</label>
					<div><a ng-click="forgotpassword()" class="form-forgot">forgot password?</a></div>
				</div>
				<div class="foot clearfix">
					<button class="button button-add" type="submit">Login</button>
				</div>
			</form>
			<!--/ login -->
			
		</main>
	</div>
</div>
			
