<!-- <div class="col-md-4 col-md-offset-4">
	<div class="login-panel panel panel-default">
		<div class="panel-heading">Please Sign In</div>
	
		<div class="panel-body">
	    <form ng-submit="login()">
	    	<fieldset>
		    	<div class="form-group has-error" ng-if="error">
					<label class="control-label">Invalid username or password</label>
				</div>
		    	<div class="form-group">
		    		<input type="text" name="username" ng-model="credentials.username" class="form-control" placeholder="Username">
		    	</div>
		    	<div class="form-group">
		    		<input type="password" name="password" ng-model="credentials.password" class="form-control" placeholder="Password">
		    	</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-block">Login</button>
				</div>
				<div class="form-group">
					<a href="#">Forgot Password?</a>
				</div>
			</fieldset>
		</form>
		</div>
	</div>
</div> -->

<div class="container-fluid">
	<div class="row">
		<main class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<!-- login -->
			<form ng-submit="login()" class="block">
				<div class="head">
					<h2>Sign in</h2>
				</div>
				<div class="cont clearfix">
					
					<label class="form-label">Login</label>
					<input type="text" name="username" ng-model="credentials.username" class="form-control">
					
					<label class="form-label">Password</label>
					<input type="password" type="password" name="password" ng-model="credentials.password" class="form-control">
					
					<a href="#" class="form-forgot">forgot password?</a>
				</div>
				<div class="foot clearfix">
					<button class="button button-add" type="submit">Login</button>
				</div>
			</form>
			<!--/ login -->
		</main>
	</div>
</div>
	<!--/ page content -->
