<div class="container-fluid">
	<div class="row">
		<main class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<!-- login -->
			<form class="block" name="passwordreset">
				<div class="head">
					<h2>Password Reset Successful</h2>
				</div>
				<div class="cont clearfix">				
					<div>				
					<label class="form-label">Your should receive an email with your temporary password.</label>
				</div>
				</div>
				<div class="foot clearfix">
					<button class="button button-add" type="button" ng-click="navigateToLogin()">Click to Login</button>
				</div>
				</div>
				
			</form>
			<!--/ login -->
		</main>
	</div>
</div>