<div class="container-fluid">
	<div class="row">
		<main class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<!-- login -->
			<form ng-submit="setPassword.$valid && setPasswordSubmit()" class="block" name="setPassword">
				<div class="head">
					<h2>Set password</h2>
				</div>
				<div class="cont clearfix">				
									
					<label class="form-label">New Password</label>
					<input type="password" id="password"  name="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,15}$/" ng-model="passwordData.password" class="form-control" required>
					<div ng-messages="setPassword.password.$error" ng-if='setPassword.password.$touched' role="alert">
    					<div ng-message="required" class="error">You didn't enter a Password</div>
    					<div ng-message="pattern" class="error">Password length 8 to 15. Password should be alphanumeric with atleast one special character and Uppercase character.</div>    
  					</div>
					<label class="form-label">Confirm Password</label>
					<input type="password" name="confirmPassword" ng-model="passwordData.confirm" class="form-control" required>
					<div ng-messages="setPassword.confirmPassword.$error" ng-if='setPassword.confirmPassword.$touched' role="alert">
    					<div ng-message="required" class="error">You didn't confirm a password</div>
    					<div ng-message="pwcheck" class="error">Password doesn't matched </div>    
  					</div>
				</div>
				<div class="foot clearfix">
					<button class="button button-add" type="button" ng-click="setPassword.$valid && updatePassword()">SAVE</button>
				</div>
			</form>
			<!--/ login -->
		</main>
	</div>
</div>