<ebx-header type="empty"></ebx-header>
<div class="login-container">
  <div class="form-container">
    <form #setPwdForm="ngForm" (submit)="setPassword($event)">
      <div class="input-group">
        <div class="label"><h3>Set Password</h3></div>
      </div>
      <div class="input-group">
        <div><input type="password" #password="ngModel" name="password" [(ngModel)]="setPwd.password" placeholder="New Password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d$@$!%*?&]{8,}$"></div>
        <div class="input-error" [hidden]="password.valid || password.pristine">
          <p [hidden]="!password.errors?.required">Please enter new password</p>
          <p [hidden]="!password.errors?.pattern">Password length should be of minimum 8 characters. Password should have at minimum one number and one Uppercase letter.</p>
        </div>
      </div>
      <div class="input-group">
        <div><input type="password" #confirmPassword="ngModel" name="confirmPassword" [(ngModel)]="setPwd.confirmPassword" placeholder="Confirm Password" required></div>
        <div class="input-error" [hidden]="confirmPassword.valid || confirmPassword.pristine">
          <p [hidden]="!confirmPassword.errors?.required">Please confirm password</p>
          <p [hidden]="!confirmPassword.errors?.mismatch">Passwords do not match</p>
        </div>
      </div>
      <div class="input-group">
        <div class="action-btn"><button type="submit" [disabled]="!setPwdForm.form.valid">Save</button></div>
      </div>
    </form>
  </div>
</div>
