.nav-bar {
    height: 80px;
    padding: 0 40px 0 44px;
    @include vcenterChildren;

    .left {
        width: 50%;
        @include vcenterChildren;
    }
  
    .right {
        @include vcenterChildren;
        width: 50%;
        justify-content: flex-end;
    }
  
    .line {
      opacity: 0.03;
      background: $black;
      width: 1px;
      height: 32px;
      margin-right: 16px;
      margin-left: 16px;

      @media only screen and (max-width: 1072px) {
        display: none;
      }
    }
  
    .enablix-logo {
      height: 16px;
      margin-right: 24px;
    }
  
    .client-brand {
        @include vcenterChildren;
        height: 48px;
        width: 227px;
        background: $white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
        border-radius: 4px;
        padding-right: 8px;
        cursor: pointer;
  
        .logo {
            padding: 8px;
        }
      
        h3 {
            // line-height: 20px;
            height: 18px;
            font-family: $FPBlond;
        }

        @media only screen and (max-width: 1072px) {
          display: none;
        }
    }

    .user {
        margin-left: 8px;
    }

    .draft {
      @media only screen and (max-width: 1144px) {
        display: none;
      }
    }
  
    .users-group {
        display: flex;
        position: relative;
        left: 38px;

      .users-count, .user-img{
        position: relative;
      }
  
      .user-img {
        &:nth-child(2){
          left: -12px;
        }
        &:nth-child(3){
          left: -24px;
        }
      }
  
      .users-count {
        left: -36px;
      }
    }
  
    .circle.users-count {
        background-color: $blue-med-20;
        border: 2px solid $grey-lig-5;
        font-family: $FPBlond;
        font-size: 14px;
        color:$white; 
        line-height: 36px;
        text-align: center;
    }

    .upload {
        font-family: $FPBlond;
        margin-right: 16px;
        > button {
            height: 48px;
            width: 117px;
            background: #1F8AEF;
            border: 1px solid rgba(0,0,0,0.10);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
            border-radius: 4px;            
            font-size: 18px;
            color:$white;
        }

        @media only screen and (max-width: 1260px) {
          display: none;
        }

    }

    .consolidate-header {
        font-family: $FPBlond;
        color: $black;
        line-height: 20px;
    }

    .upload-options-container {
      border: 1px solid rgba(0, 0, 0, 0.1);
      // border-radius: 2px;
      background-color: $white;
      height: 144px;
      position: absolute;
      width: 228px;
      margin-left: -112px;

      

      .upload-option{
        padding: 8px 16px;
        height: 32px;
        @include vcenterChildren;

        &:not(:last-child){
          border-bottom: 1px solid rgba(0,0,0,0.10);
        }

        img {
          transform: rotate(180deg);
        }

        span {
          padding-left: 8px;
        }
      } 
    }
  }