<div class="nav-bar">
    <div class="left">
        <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png" />
        <div class="client-brand" ng-if="isCompanyState || isRecentActivitiesState" ng-class="{'noBorder': isCompanyState}">
            <img class="logo" src="/assets/images/company/brillant_logo.svg" />
            <h3 class="brand">Brillant AB</h3>
        </div>
        <div ng-if="isDashboardState">
            <search-bar data="searchBarData" state="state"></search-bar>
        </div>
        <div class="consolidate-header" ng-if="isConsolidateContentState">
            <h3>Consolidate Content</h3>
        </div>
    </div>
    <div class="right">
        <div class="upload" ng-if="isDashboardState || isConsolidateContentState">
            <button ng-click="showUploadOptions()">Upload</button>
            <div class="upload-options-container" ng-show="uploadOptions">
                <div class="upload-option" ng-click="openUploadPrompt('file')">
                    <img src="/assets/images/icons/upload-icon-blue.svg" />
                    <span>Upload File</span>
                </div>
                <div class="upload-option" ng-click="openUploadPrompt('url')">
                    <img src="/assets/images/icons/globe_earth-blue.svg" />
                    <span>URL</span>
                </div>
                <div class="upload-option" ng-click="openUploadPrompt('text')">
                    <img src="/assets/images/icons/note-blue.svg" />
                    <span>Create Text</span>
                </div>
            </div>
        </div>
        <button ng-if="isDashboardState || isConsolidateContentState" ng-click="goToConsolidateState()" class="circle icon-btn">
            <div class="icon small drafts"></div>
        </button>
        <div class="line" ng-if="isDashboardState || isConsolidateContentState"></div>
        <div class="client-brand"  ng-if="isDashboardState || isConsolidateContentState" ng-click="goToCompanyBusinessState()">
            <img class="logo" src="/assets/images/company/brillant_logo.svg" />
            <h3 class="brand">Brillant AB</h3>
        </div>

        <div class="users-group" ng-if="isCompanyState || isRecentActivitiesState">
            <img class="icon grey-border user-img" src="/assets/images/company/profile_img@2x.png" />
            <img class="icon grey-border user-img" src="/assets/images/company/profile_img@2x.png" />
            <img class="icon grey-border user-img" src="/assets/images/company/profile_img@2x.png" />
            <div class="circle users-count">
                <span>5</span>
            </div>
        </div>
        <div class="line"></div>
        <div class="notification">
            <button ng-mouseover="showNotifications()" ng-mouseleave="hideNotifications()" class="circle icon-btn">
                <div class="icon small notification"></div>
            </button>
            <div ng-show="showNotificationsPopup" class="notify-popup">
                <div class="activity">
                    <p>Gaurav approved Mobile Security for First Republic Bank</p>
                    <img class="icon user-img" src="/assets/images/company/profile_img@2x.png" />
                </div>
                <div class="see-asset">
                    <a>See Asset</a>
                </div>
            </div>
        </div>
        <div class="user" ng-click="fireError()">
            <img class="icon user-img" src="/assets/images/company/profile_img@2x.png" />
        </div>
    </div>
</div>