.search-bar {
    min-width: 586px;
    border-radius: 6px;
    border: 1px solid #E3EBEF;
    background: $white;
    font-family: $FPThin;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);

    .input-row {
        height: 50px;
        display: flex;
        padding: 0 16px;
        align-items: center;
        
        img.search-icon {
            margin-right: 8px;
        }

        img.funnel-icon, img.close-icon,  {
            margin-left: 8px;
            margin-left: auto;
        }
        
        input {
            font-size: 18px;
            flex-grow: 1;
        }
    }

    .selectedTagsHolder {
        display: flex;
        align-items: center;
    }

    .filtered-rows {
        background: white;
        position: absolute; 
        width: 586px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        margin-top: -4px;
        margin-left: -1px;
        border: 1px solid #E3EBEF;
        border-top: 1px solid rgba(227,235,239, 0.5);
    }

    .filtered-row {
        margin: 0 16px;
        // min-height: 58px;
        display: flex;
        align-items: center;

        &:not(:last-child){
            border-bottom: 1px solid rgba(227,235,239, 0.5);
        }

        h3 {
            width: 150px;
        }

        >div {
            margin: 16px 0 8px 0;
            width: calc(100% - 150px);
        }

        .dimension-tag {
            &:nth-child(n+2){
                margin-bottom: 8px;
            }
        }
        
        .tag {
            &:nth-child(n+4){
                margin-bottom: 8px;
            }
        }
    }

    .free-search {
        font-family: $FPThin;
        font-size: 16px;
        color: #1F8AEF;
        margin: 16px;
    }

    .selectedTagsHolder {
        .company-sector {
            margin-bottom: 0px;    
        }
    }

    @media only screen and (max-width: 1080px) {
        min-width: 548px;

        .filtered-rows {
            width: 548px;
        }

        .input-row {
            padding: 0 8px;
        }

        .filtered-row { 
            margin: 0 8px;
            
            h3 {
                width: 130px;
            }

            >div {
                width: calc(100% - 130px);
            }
        }
    }
}