<div class="search-bar" click-outside="hideSearchBar()">
    <div class="input-row">
        <img class="search-icon" src="/assets/images/icons/search-grey.svg" />
        <!-- inject any tags -->
        <div class="selectedTagsHolder">
            <div ng-if="selectedContentTypes.length > 0">
                <content-types hide-header="true" for-search-filter="true" show-close="true" data="selectedContentTypes"></content-types>
            </div>
            <div ng-if="selectedDimOrObj.length > 0">
                <company-properties for-search-filter="true" show-close="true" data="selectedDimOrObj"></company-properties>
            </div>
        </div>
        <input type="text" ng-model="search.input" placeholder="Search" ng-focus="showSearchBar()" ng-change="updateFilters()"/> 
        <img class="funnel-icon" src="/assets/images/icons/filter-grey.svg" />
    </div>
    
    <div class="filtered-rows" ng-show="showFilteredResults">
        <div class="filtered-row" ng-repeat="filter in differentFilters">
            <h3 ng-bind="filter"></h3>
            <div ng-if="filter === 'Content Types'">
                <content-types hide-header="true" for-search-filter="true" data="contentTypes"></content-types>
            </div>
            <div ng-if="filter === 'Dimensions'">
                <company-properties for-search-filter="true" data="dimensions"></company-properties>
            </div>
            <div ng-if="filter === 'Objects'">
                <company-properties for-search-filter="true" data="objects"></company-properties>
            </div>
        </div>
        <div class="filtered-row free-search" ng-if="search.input">
            <h4>Search for "{{search.input}}"</h4>
        </div>
    </div>
</div>