<div style="display: flex;">
<div style="margin-right: 24px;">
  <div class="simple-sidebar biz-scroll" style="width: 296px;">
    <div class="stage">
      <div *ngFor="let cg of groupedRecords">
        <h3 class="sales-funnel-name" (click)="selectGroup(cg)" style="cursor: pointer;">{{cg.title}}</h3>
        <p class="description">{{cg.desc}}</p>
        <p class="assets-count" ng-if="s.assetsCount">{{cg.records.length}} Assets</p>
      </div>
    </div>
  </div>
</div>
<div class="content-types-container biz-scroll">
  <div [id]="cg.id" class="full-width-container" *ngFor="let cg of groupedRecords; let k = index;">
    <div class="sales-funnel-header">
      <div class="line"></div>
      <h2>{{cg.title}}</h2>
      <div class="line"></div>
    </div>
    
    <div class="cards card-container">
      <ng-container *ngFor="let rec of cg.records; let i = index;">
        <div class="data-card" *ngIf="cg.showAll || cg.records.length <= showCount || (i < (showCount - 1))">
          <ebx-data-card  [containerQId]="rec.containerQId" [record]="rec.record"></ebx-data-card>
        </div>
      </ng-container>
      <div class="card biz-card" *ngIf="cg.records.length > showCount" (click)="cg.showAll = !cg.showAll;">
        <div class="card-remaining-count">
          <p *ngIf="!cg.showAll">+{{cg.records.length - showCount + 1}}</p>
          <p *ngIf="cg.showAll" style="font-size: 48px;">‹‹</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>