<nav-bar state="ctrl.state"></nav-bar>
<div class="wrapper">
    <div>
        <ul class="tabs-container">
            <li class="tab">
                <a href="/company/info">
                    <img class="back-icon" src="/assets/images/icons/back-grey.svg" />
                    <span>Information /</span>
                </a>
                <span class="black">Recent Activities</span> 
            </li>
        </ul>
    </div>
    <div class="container">
        <recent-activity></recent-activity>
    </div>
</div>
