@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.file-default {
  justify-content: center;
  display: flex;
  justify-content: left;
  flex-direction: column;

  .file-img {
    background: $blue-med-5;
    border-radius: 4px;
    @include vcenterChildren;
    height: 128px;
    width: 256px;
    justify-content: space-around;

    img {
      width: 48px;
      height: 60px;
    }  
  }
  

  .info {
    @include vcenterChildren;
    padding-top: 16px;
    font-family: $FPLight;
    font-size: 14px;
    color: #2D2D2D;
    line-height: 18px;
  }
}