<div *ngIf="previewType == 'url'">
  <ebx-url-content-preview [record]="record" [container]="container"></ebx-url-content-preview>
</div>
<div *ngIf="previewType == 'file-images'">
  <ebx-file-images-preview [record]="record"></ebx-file-images-preview>
</div>
<div *ngIf="previewType == 'image'">
  <ebx-image-preview [record]="record"></ebx-image-preview>
</div>
<div *ngIf="previewType == 'content-stack'">
  <ebx-content-stack-preview [record]="record" [container]="container"></ebx-content-stack-preview>
</div>
<div *ngIf="previewType == 'text'">
  <ebx-text-content-preview [record]="record" [container]="container" [editing]="editing"></ebx-text-content-preview>
</div>
<div *ngIf="previewType == 'embed-html'">
  <ebx-embed-html-preview [record]="record" [container]="container"></ebx-embed-html-preview>
</div>
<div class="file-default" *ngIf="previewType == 'file-default'">
  <div class="file-img"><img [src]="getDefaultFileImg()"></div>
  <div class="info">{{getPreviewStatusText()}}</div>
</div>