<div *ngIf="previewType == 'url'">
  <ebx-url-content-preview [record]="record"></ebx-url-content-preview>
</div>
<div *ngIf="previewType == 'file-images'">
  <ebx-file-images-preview [record]="record"></ebx-file-images-preview>
</div>
<div *ngIf="previewType == 'image'">
  <ebx-image-preview [record]="record"></ebx-image-preview>
</div>
<div *ngIf="previewType == 'text'">
  <ebx-text-content-preview [record]="record" [container]="container" [editing]="editing"></ebx-text-content-preview>
</div>