<html lang="en">
	<style>
	   h1   {color:blue;}
	   p    
	   {font: normal 14px/normal Arial, Helvetica, sans-serif;}
	   
	</style>
	<body>
	   <p>&nbsp;</p>
	   <h3>Hello ${obj.newCreatedUser.profile.name},</h3>
	   <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;"><br/>You recently requested to reset your password for <b>${obj.tenant.name}</b>. We have created a temporary password for you. It is <b>${obj.newCreatedUser.password}</b>. You will be asked to create a new password on login.</p>
	   <div><a href="${obj.url}" target="_parent">
	   <button style="background: #e06666;
	   font: normal 20px/normal Arial, Helvetica, sans-serif;
	   color: rgba(255,255,255,0.9);
	   -webkit-border-radius: 3px;
	   border-radius: 3px;
	   padding: 10px 10px 10px 10px;
	   cursor: pointer;
	   border: 1px solid #e06666;
	   width:200px">Login</button></a></div>
	   <br/>
	   <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Have any questions or feedback? You can reply to this email.</p>
	   <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Thanks, <br />Enablix Team for <b>${obj.tenant.name}</b> </p>
	   <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">&copy; 2016 Enablix LLC. All rights reserved. For more information, please contact us at support@enablix.com</p>
	</body>
</html>