<!DOCTYPE html>
<html lang="en">
     <body>
      <h3>Hello ${obj.newCreatedUser.profile.name},</h3>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">${obj.loggedInUser.profile.name} created a <b>${obj.tenant.name}</b>  account for you. Welcome to the team!
         <br/><br/>Your temporary password is: <b>${obj.newCreatedUser.password}</b>.
      </p>
      <div><a href="${obj.url}/login.html#/login" target="_parent">
      <button style="background: #3d85c6;
      font: normal 20px/normal Arial, Helvetica, sans-serif;
      color: rgba(255,255,255,0.9);
      -webkit-border-radius: 3px;
      border-radius: 3px;
      padding: 10px 10px 10px 10px;
      cursor: pointer;
      border: 1px solid #3d85c6;
      width:200px">Login</button>
      </a></div>
      <br/>
      <h3> What's this about?  </h3>
     <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">
         <b>${obj.tenant.name}</b>  is for you and your colleagues to manage, share and distribute sales, pre-
         sales, product and marketing collateral. <b>${obj.tenant.name}</b>  is powered by Enablix, a sales & 
         marketing collaboration platform. 
      </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Have any questions or feedback? You can reply to this email.</p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">Cheers, <br/>Enablix Team for <b>${obj.tenant.name}</b> </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">P.S. please add support@enablix.com to your address book or safe sender list. </p>
      <p style = "font: normal 14px/normal Arial, Helvetica, sans-serif;">&copy; 2016 Enablix LLC. All rights reserved. For more information, please contact us at support@enablix.com</p>
   </body>
</html>
