@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.nav-bar {
  min-height: 72px;
  padding: 8px 40px 0 0;
  width: 100%;
  @include vcenterChildren;

  .left {
      width: 50%;
      @include vcenterChildren;

      .sb-container {
        width: 100%;
      }
  }

  .right {
      @include vcenterChildren;
      width: 50%;
      justify-content: flex-end;
  }

  .line {
    opacity: 0.03;
    background: $black;
    width: 1px;
    height: 32px;
    margin-right: 16px;
    margin-left: 16px;

    @media only screen and (max-width: 1072px) {
      display: none;
    }
  }

  .enablix-logo {
    height: 16px;
    margin-right: 24px;
    cursor: pointer;
  }

  &.company {
    .client-brand {
      background: none;
      box-shadow: none;
    }
  }

  .client-brand {
      @include vcenterChildren;
      height: 48px;
      width: 227px;
      background: $white;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06);
      border-radius: 4px;
      padding-right: 8px;
      cursor: pointer;

      .logo {
          padding: 8px;

          .logo-placeholder {
            width: 32px;
            height: 32px;
            background-color: #2C4290;
            border-radius: 4px;
          }
      }
    
      h3 {
          // line-height: 20px;
          height: 22px;
          font-family: $FPThin;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      @media only screen and (max-width: 1072px) {
        display: none;
      }
  }

  .draft {
    @media only screen and (max-width: 1144px) {
      display: none;
    }
  }

  .users-group {
      display: flex;
      position: relative;
      left: 38px;

    .users-count, .user-img{
      position: relative;
    }

    .user-img {
      &:nth-child(2){
        left: -12px;
      }
      &:nth-child(3){
        left: -24px;
      }
    }

    .users-count {
      left: -36px;
    }
  }

  .circle.users-count {
      background-color: $blue-med-20;
      border: 2px solid $grey-lig-5;
      font-family: $FPBlond;
      font-size: 14px;
      color:$white; 
      line-height: 36px;
      text-align: center;
  }

  .consolidate-header {
      font-family: $FPBlond;
      color: $black;
      line-height: 20px;
  }

}

.login-nav-bar {
  height: 80px;
  padding: 0 40px 0 44px;
  justify-content: center;
  @include vcenterChildren;

  .enablix-logo {
    height: 16px;
    margin-right: 24px;

    &.big-logo {
      height: 40px;
    }
  }

}