<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'portal'">
    <div *ngIf="username != null; then loggedInBlock; else loggedOutBlock"></div>
  </ng-container>
  <ng-container *ngSwitchCase="'empty'">
    <div *ngIf="1==1; then loggedOutBlock"></div>
  </ng-container>
  <ng-container *ngSwitchCase="'company'">
    <div class="nav-bar company">
      <div class="left">
        <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png" (click)="navToHome()"/>
        <div class="client-brand" (click)="navToCompanyPage()">
          <div class="logo"><div class="logo-placeholder"></div></div>
          <h3 class="brand">{{tenantService.tenant?.name}}</h3>
        </div>
      </div>
      <div class="right">
        <ebx-user-icon></ebx-user-icon>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #loggedInBlock>
  <div class="nav-bar">
    <div class="left">
      <img class="enablix-logo" src="/assets/images/company/enablix_logo@2x.png" (click)="navToHome()"/>
      <div class="sb-container">
        <ebx-search-bar></ebx-search-bar>
      </div>
    </div>
    <div class="right">
      <ebx-upload-button></ebx-upload-button>
      <button routerLink="/portal/cconsol" class="circle icon-btn">
        <div class="icon small drafts"></div>
      </button>
      <div class="line"></div>
      <div class="client-brand" (click)="navToCompanyPage()">
        <div class="logo"><div class="logo-placeholder"></div></div>
        <h3 class="brand">{{tenantService.tenant?.name}}</h3>
      </div>
      <div class="line"></div>
      <ebx-user-icon></ebx-user-icon>
    </div>
  </div>
</ng-template>
<ng-template #loggedOutBlock>
  <div class="login-nav-bar"><div><img class="enablix-logo big-logo" src="/assets/images/company/enablix_logo_with_text@2x.png"/></div></div>
</ng-template>
