.dimension-tag {
    &.white {
        background: white;
        color: #1F8AEF;
        border: 1px solid #E3EBEF;
    }
}

company-properties {
    .filtered {
        // .tag:last-child{
        //     background: white;
        //     color: #1F8AEF;
        //     border: 1px solid #E3EBEF;
        // }

        .dimension-tag {
            margin-bottom: 0px;
        }
    }
}