<div>
    <div>
        <div class="sectors-container" ng-if="!forSearchFilter">
            <div class="company-sector" ng-repeat="t in data track by $index">
                <div class="content">
                    <span>{{t.title}}</span>
                    <a class="remove" href="">
                        <img class="" src="/assets/images/icons/close-white.svg" />                
                    </a>
                </div>
            </div>
            <div class="add-tag">
                <div class="dashboard-buttons">
                    <div class="action-btn">
                        <div class="icon small plus"></div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="sectors-container filtered" ng-if="forSearchFilter">
        <div class="company-sector dimension-tag" ng-class="t.color" ng-repeat="t in data track by $index" ng-click="selectedTag(t)">
            <div class="content">
                    <span>{{t.title}}</span>
                    <a class="remove" href="" ng-show="showClose" ng-click="removeTag(t)">
                        <img class="" src="/assets/images/icons/close-white.svg" />                
                    </a>
            </div>
        </div>
    </div>
</div>

