<!-- page content -->
<main class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<!-- recomended content -->
				<div class="block recomended-content">
					<div class="head"><h3>Recommended Content</h3></div>
					<div class="cont">
						<ul>
							<li>
								<span>Solutions</span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#">FCCM</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#popup-dq" class="popup-opener">Discovery Questions</a>&nbsp;&nbsp;<a href="#" class="fa fa-download"></a>
							</li>
							<li>
								<span>Competitors</span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#">Actimize</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#" class="popup-opener">AML SWOT Deck</a>
							</li>
							<li>
								<span>Solutions</span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#">FCCM</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#popup-bc" class="popup-opener">Battle Card</a>&nbsp;&nbsp;<a href="#" class="fa fa-download"></a>
							</li>
							<li>
								<span>Products</span>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#">AML</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#" class="popup-opener">Product Owerview</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/ recomended content -->
			</div>
			
			
			<div class="col-md-6">
				<!-- recently updated -->
				<div class="block recomended-content">
					<div class="head"><h3>Recently Updated Content</h3></div>
					<div class="cont">
						<ul>
							<li>
								<em class="updated">updated</em>
								<a href="#">Solutions</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#">Basel</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#" class="popup-opener">Solution Owerview</a>&nbsp;&nbsp;<a href="#" class="fa fa-download"></a>
							</li>
							<li>
								<em class="new">new</em>
								<a href="#">Blogs</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#" class="popup-opener">Changing the AML landspace</a>
							</li>
							<li>
								<em class="new">new</em>
								<a href="#">Infograph</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#" class="popup-opener">Basel II buying decisions</a>
							</li>
							<li>
								<em class="new">new</em>
								<a href="#">Multimedia</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;
								<a href="#" class="popup-opener">CEO Interview at Dreamforce</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/ recently updated -->
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-sm-12">
				<!-- quick links -->
				<div class="block quick-links">
					<div class="head"><h3>Quick Links</h3></div>
					<div class="cont">
						<div class="row">
							<div class="col-sm-3">
								<h4>Solution Portal</h4>
								<ul>
									<li><a href="#">Enterprise Risk Management</a></li>
									<li><a href="#">Financial Crime & Compliance Management</a></li>
									<li><a href="#">Customer insight</a></li>
									<li><a href="#">Enterprise Performance Management</a></li>
									<li><a href="#">Data Management</a></li>
								</ul>
							</div>
							<div class="col-sm-3">
								<h4>Top 5 Case Studies</h4>
								<ul>
									<li><a href="#">AML: Bank of America: "Driving Change"</a></li>
									<li><a href="#">Basel: Capital One: "Compliance 101"</a></li>
									<li><a href="#">AML: HSBC: "Why they selected us?"</a></li>
									<li><a href="#">CCAR: Regions: "Regulatory Trnsformation"</a></li>
									<li><a href="#">OPB: Key Bank: "Customer Originations"</a></li>
								</ul>
							</div>
							<div class="col-sm-3">
								<h4>Popular Videos</h4>
								<ul>
									<li><a href="#">The Changing Landscape: AML</a></li>
									<li><a href="#">CEO Interview at Dreamforce</a></li>
									<li><a href="#">Why Cloud is changing out industry?</a></li>
									<li><a href="#">Heightened Regulations: Impact</a></li>
									<li><a href="#">Market Shift: Financial Services</a></li>
								</ul>
							</div>
							<div class="col-sm-3">
								<h4>Corporate Docs</h4>
								<ul>
									<li><a href="#">Support Policy</a></li>
									<li><a href="#">Powerpoint Templates</a></li>
									<li><a href="#">Corporate Logo</a></li>
									<li><a href="#">Orderring Document</a></li>
									<li><a href="#">Non Disclosure (NDA)</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--/ quick links -->
			</div>					
		</div>
	</div>
</main>
<!--/ page content -->
<!-- popup -->
<div id="popup-dq" class="popup">
	<div class="table">
		<div class="cell">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<!-- faq -->
						<div class="block faq">
							<div class="head">
								<a class="close popup-closer"></a>
								<em class="fa fa-file-text-o"></em>
								<h2>Experts</h2>
							</div>
							<div class="cont">
								<div class="goto">
									<a href="#">Go to FCCM solution &rarr;</a>
								</div>
								<h4><a href="#expert-pop-1" class="toggle">John Smith</a></h4>
								<div id="expert-pop-1" class="toggle-cont">
									<table class="infotable">
										<tr>
											<th>First name:</th>
											<td>John</td>
										</tr>
										<tr>
											<th>Last name:</th>
											<td>Smith</td>
										</tr>
										<tr>
											<th>Position:</th>
											<td>Manager</td>
										</tr>
									</table>
								</div>
								<h4><a href="#expert-pop-2" class="toggle">Sara Mirror</a></h4>
								<div id="expert-pop-2" class="toggle-cont">
									<table class="infotable">
										<tr>
											<th>First name:</th>
											<td>Sara</td>
										</tr>
										<tr>
											<th>Last name:</th>
											<td>Mirror</td>
										</tr>
										<tr>
											<th>Position:</th>
											<td>Manager</td>
										</tr>
									</table>
								</div>
								<h4><a href="#expert-pop-3" class="toggle">Jessica Powers</a></h4>
								<div id="expert-pop-3" class="toggle-cont">
									<table class="infotable">
										<tr>
											<th>First name:</th>
											<td>Jessica</td>
										</tr>
										<tr>
											<th>Last name:</th>
											<td>Powers</td>
										</tr>
										<tr>
											<th>Position:</th>
											<td>Manager</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<!--/ faq -->									
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ popup -->


<!-- popup -->
<div id="popup-bc" class="popup">
	<div class="table">
		<div class="cell">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<!-- case studies -->
						<div class="block faq">
							<div class="head">
								<a href="#" class="close popup-closer"></a>
								<a href="#" class="fa fa-download"></a>
								<em class="fa fa-file-text-o"></em>
								<h2>Case Studies</h2>
							</div>
							<div class="cont">
								<div class="goto">
									<a href="#">Go to FCCM solution &rarr;</a>
								</div>
								<h4><a href="#" class="download fa fa-download"></a><a href="#case-study-pop-1" class="toggle">Bank of America AML</a></h4>
								<div id="case-study-pop-1" class="toggle-cont">
									<table class="infotable">
										<tr>
											<th>Author:</th>
											<td>Daniel Webster</td>
										</tr>
										<tr>
											<th>Type:</th>
											<td>Customer Win</td>
										</tr>
										<tr>
											<th>Hightlights:</th>
											<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
										</tr>
										<tr>
											<th>Customer:</th>
											<td>This includes any customer(s) associated with the study</td>
										</tr>
										<tr>
											<th>Competitor:</th>
											<td>This includes any competitor(s) associated with the study.</td>
										</tr>
									</table>
								</div>
								<h4><a href="#" class="download fa fa-download"><a href="#case-study-pop-2" class="toggle">Bank of America AML</a></h4>
								<div id="case-study-pop-2" class="toggle-cont">
									<table class="infotable">
										<tr>
											<th>Author:</th>
											<td>Daniel Webster</td>
										</tr>
										<tr>
											<th>Type:</th>
											<td>Customer Win</td>
										</tr>
										<tr>
											<th>Hightlights:</th>
											<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
										</tr>
										<tr>
											<th>Customer:</th>
											<td>This includes any customer(s) associated with the study</td>
										</tr>
										<tr>
											<th>Competitor:</th>
											<td>This includes any competitor(s) associated with the study.</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<!--/ case studies -->								
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ popup -->
