<!-- page content -->
<div class="page-content">
	<div class="container-fluid">
		<div class="bread-crumbs">
			<div class="cont">
				<span>Search Results for "{{$stateParams.searchText}}"</span>
			</div>
		</div>
		<div class="row">							
			<main class="col-md-8">
				<div class="block search-result" ng-repeat="resultItem in searchResult">
					<ebx-search-result-item result-item="resultItem"></ebx-search-result-item>
				</div><br/>
				<div class="foot text-center" ng-if="searchResult.length > 0">
					<eb-pagination current-page="pageNum" total-pages="totalPages" set-page-fn="setPage"/>
				</div>
				<div ng-if="searchResult.length == 0">
					<br><label>Your search did not match any document.</label>
				</div>
			</main>
			
			
			<aside class="col-md-4">
				<!-- recomended content -->
				<div class="block recomended-content">
					<div class="head"><h3>Recommended Content</h3></div>
					<div class="cont">
						<eb-portal-reco></eb-portal-reco>
					</div>
				</div>
				<!--/ recomended content -->
				
				
				<!-- recently updated -->
				<div class="block recomended-content">
					<div class="head"><h3>Recently Updated</h3></div>
					<div class="cont">
						<eb-portal-recent></eb-portal-recent>
					</div>
				</div>
				<!--/ recently updated -->

			</aside>
		</div>
	</div>
</div>
