<div class="portal-home-body">
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Recommended Content</div>
			<div class="panel-body">Under construction...</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Recently Update Content</div>
			<div class="panel-body">Under construction...</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Quick Links</div>
			<div class="panel-body">Under construction...</div>
		</div>
	</div>
</div>
</div>
