<div layout="row" flex>
	<div class="filter-pane" flex="20" ng-show="filtersAvailable && !isBizDimension">
		<ebx-container-filters container-q-id="$stateParams.containerQId" on-search="onFilterSearch"/>
	</div>
	<!-- page content -->
	<div class="page-content" flex>
		<div class="container-fluid">
			<eb-portal-breadcrumb></eb-portal-breadcrumb>
			<div class="row">
				<main class="col-md-8">					
					<div class="page-heading"><span class="heading-label">{{::containerLabel}}</span><span class="detail">{{listCountInfo}}</span></div>		
					<div ng-class="{'block': layout == 'default'}">
						<eb-table table-headers="listHeaders" table-data="listData" row-click-fn="navToContentDetail" 
								eb-layout="{{layout}}" container-q-id="{{$stateParams.containerQId}}" 
								page-data="pageData" fetch-result-fn="fetchData" pagination-data="pagination"></eb-table>
					</div>
					<div class="cont-empty record-detail" ng-if="listData.length == 0">
						<div>There are no {{::containerLabel}} for selected filters.</div>
					</div>
				</main>
				
				<!-- <aside class="col-md-4">
					<div ui-view="rightSection"></div>
				</aside> -->
			</div>
		</div>
	</div>
	
</div>
