<div *ngIf="recentActivities" class="activity-sidebar">
    <div class="header">
        <h1>Recent</h1>
        <p>Your team's recent activity</p>
    </div>
    <div>
      <div class="activity-table">
        <table>
          <tr class="content" *ngFor="let a of recentActivities.content">
            <td>
              <div class="activity inSidebar">
                <div>
                  <div class="activity-detail narrow asset-thumbnail">
                    <div class="description" ellipsis ellipsis-resize-detection="window">
                      {{getTextDescription(a)}}
                    </div>
                    <div class="date-modified">
                      {{a.modifiedAt | ebxDate}}
                    </div>
                  </div>
                  <div class="content-icon">
                    <div class="img-cont" [style.background]="getContentColor(a)" (click)="navToItemDetail(a)">
                      <img [src]="getIconUrl(a)" />
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>
</div>