<ng-container *ngIf="details?.data?.records?.numberOfElements > 0">
  <div class="header">
    <h1>{{details?.definition?.title}}</h1>
    <div *ngIf="details.data.records.totalPages > 1"><a class="cta-link" routerLink="/portal/cpwdg/{{details.definition.identity}}">See All</a></div>
  </div>
  <div class="main featured">
    <div class="card-container">
      <div class="data-card" *ngFor="let rec of details.data.records.content">
        <ebx-data-card [containerQId]="rec.containerQId" [record]="rec.record"></ebx-data-card>
      </div>
    </div>
  </div>
</ng-container>