#@mail_template('Password Updated')

	#spacer_row('15')
											
	#mail_opening(${obj.recipientUser.name})
	
	#spacer_row('15')
	
    Your account's password for 
    <a href="${obj.url}/login.html#login">
		<span class="link-u" style="color:#004ba1; text-decoration:underline">${obj.tenant.name}</span>
	</a>
	was recently updated successfully. If you are not aware of this password update, please reply to this email. 
	Otherwise you can ignore this email.
	
	#mail_closing($obj.tenant.name)

#end
