<!DOCTYPE html>
<html lang="en">
   <style>
      p    
      {font: normal 14px/normal Arial, Helvetica, sans-serif;}
   </style>
   <body>
      <h3>Hello ${obj.recipientUser.profile.name},</h3>
      <p><br />Your account's password for <b>${obj.tenant.name}</b>  was recently updated successfully. If you are not
         aware of this password update, please reply to this email. Otherwise you can ignore this email.
      </p>
      <p>Have any questions or feedback? You can reply to this email.</p>
      <p>Thanks, <br />Enablix Team for <b>${obj.tenant.name}</b> </p>
      <p>&copy; 2016 Enablix LLC. All rights reserved. For more information, please contact us at support@enablix.com</p>
   </body>
</html>
