#@mail_template('Password Updated')

	#spacer_row('15')
											
	#mail_opening(${obj.recipientUser.name})
	
	#spacer_row('15')
	
    Your #tenant_portal_link() password was updated successfully. If you are not aware of this password update, please reply to this email. 
	Otherwise you can ignore this email.
	
	#mail_closing($obj.tenant.name)

#end
