#@mail_template(${obj.contentRequest.objectRef.contentTitle})

	#spacer_double_row('20' '15')
											
	#mail_opening(${obj.recipientUser.profile.name})
	
	#spacer_row('15')
	
	Your request to #if($obj.contentRequest.objectRef.addRequest) add #else update #end 
	#if(${obj.contentRequest.objectRef.contentTitle}) 
	<a href="#content_portal_url(${obj.url} $obj.contentData.containerQId $obj.contentData.recordIdentity)">
		<span class="link-u" style="color:#004ba1; text-decoration:underline">${obj.contentRequest.objectRef.contentTitle}</span>
	</a>
	#else content #end #if(${obj.tenant.name}) on ${obj.tenant.name}#end is not approved. 
	
	#spacer_row('15')

	#foreach($action in $obj.contentRequest.actionHistory.actions)
		#if($action.actionName == 'REJECT')
			#if ($action.actionInput.notes)
			<table width="100%" border="0" cellspacing="0" cellpadding="0">	
				<tr>
					<td align="left"><u>Supporting Notes</u>: ${action.actionInput.notes}</td>
				</tr>
			</table>
			#end
			#break
		#end
	#end
		
	#content_table($obj.contentData $obj.url 'EMAIL' 'CONTENT_SUGGEST' $obj.contentRequest.identity)
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">	
		<tr>
			<td align="left">Thanks for your input. Please continue to suggest new content and updates to existing content.</td>
		</tr>
	</table> 
	
	#spacer_row('15')
	
	#@action_button_table()
		#@action_button_cell('230')
			#action_button('View Request' "${obj.url}/app.html#/account/contentrequest/a/view/$obj.contentRequest.objectRef.identity/")
		#end
	#end
	
	#mail_closing($obj.tenant.name)

#end
