#@mail_template(${obj.contentRequest.objectRef.contentTitle})

	#spacer_double_row('20' '15')
											
	#mail_opening(${obj.recipientUser.profile.name})
	
	#spacer_row('15')
	
	#if(${obj.contentRequest.createdByName}) ${obj.contentRequest.createdByName}#else Someone #end has #if($obj.contentRequest.objectRef.addRequest) added #else updated #end 
	
	#if(${obj.contentRequest.objectRef.contentTitle}) 
	<a href="${obj.url}/app.html#/system/contentrequest/a/view/$obj.contentRequest.objectRef.identity/">
		<span class="link-u" style="color:#004ba1; text-decoration:underline">${obj.contentRequest.objectRef.contentTitle}</span>
	</a>
	#else content #end #if(${obj.tenant.name}) to ${obj.tenant.name}. #end
	
	#content_table($obj.contentData $obj.url 'EMAIL' 'CONTENT_SUGGEST' $obj.contentRequest.identity)
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">	
		<tr>
			<td align="left">Your input is requested.</td>
		</tr>
	</table> 
	
	#spacer_row('15')
	
	#@action_button_table()
		#@action_button_cell('183')
			#action_button('Approve' "${obj.url}/app.html#/system/contentrequest/a/approve/$obj.contentRequest.objectRef.identity/")
		#end
		#@action_button_cell('20')
			#spacer_row('20')
		#end
		#@action_button_cell('183')
			#action_button('Reject' "${obj.url}/app.html#/system/contentrequest/a/reject/$obj.contentRequest.objectRef.identity/")
		#end
	#end
	
	#mail_closing($obj.tenant.name)

#end
