#@mail_template('Reset Password')

	#spacer_row('15')
											
	#mail_opening(${obj.recipientUser.name})
	
	#spacer_row('15')
	
	You recently requested to reset your #tenant_portal_link() password. Your temporary password is: <b>${obj.password}</b>
	
	#spacer_row('15')	
	
	You will be asked to create a new password on login.

	#spacer_double_row('20','10')

	#@action_button_table()
		#@action_button_cell('200')
			#action_button('Login' "${obj.url}/login.html#login")
		#end
	#end
	
	#mail_closing($obj.tenant.name)

#end
