#@mail_template(${obj.sharedContent.title})

	#spacer_row('15')
											
	#mail_opening(${obj.recipientUser.profile.name})
	
	#spacer_row('15')
	
	#if(${obj.loggedInUser.profile.name}) 
		${obj.loggedInUser.profile.name}
	#else 
		Someone 
	#end 
	has shared 
	#if(${obj.sharedContent.title}) 
		<a href="${obj.url}/app.html#/portal/container/$obj.sharedContent.containerQId/$obj.sharedContent.recordIdentity/c/single/$obj.sharedContent.containerQId/?atChannel=EMAIL&atContext=WEB_SHARE&atContextId=$obj.identity" target="_blank">
			<span class="link-u" style="color:#004ba1; text-decoration:underline">${obj.sharedContent.title}</span>
		</a>
	#else 
		some content 
	#end 
	with you.
	
	#spacer_row('15')
		
	#content_table($obj.sharedContent $obj.url 'EMAIL' 'WEB_SHARE' $obj.sharedContent.identity)
	
	#spacer_row('15')
	
	#@action_button_table()
		#@action_button_cell('200')
			#action_button('Download File' "$obj.sharedContent.doc.accessUrl?atChannel=EMAIL&atContext=WEB_SHARE&atContextId=$obj.identity")
		#end
		#@action_button_cell('20')
			#spacer_row('20')
		#end
		#@action_button_cell('220')
			#action_button('Access on Portal' "${obj.url}/app.html#/portal/container/$obj.sharedContent.containerQId/$obj.sharedContent.recordIdentity/c/single/$obj.sharedContent.containerQId/?atChannel=EMAIL&atContext=WEB_SHARE&atContextId=$obj.identity")
		#end
	#end
	
	#mail_closing($obj.tenant.name)

#end