#@mail_template('Weekly Digest')

	#spacer_row('15')
											
	#mail_opening(${obj.recipientUser.profile.name})
	
	#spacer_row('15')
	
	Here are the #tenant_portal_link() updates from previous week.
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="content-spacing2" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
			<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

				#foreach($key in $obj.recentList.keySet())
					#set ($navigableContent = $obj.recentList.get($key)) 
					#foreach($key1 in $navigableContent)  
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="arrow" style="color:#9a9a9a; font-family:Arial,sans-serif, 'OS'; font-size:16px; line-height:20px; text-align:left" width="27">&rarr;</td>
											<td class="text" style="color:#626262; font-family:Arial,sans-serif, 'OS'; font-size:16px; line-height:20px; text-align:left">
												#set ($currentNode = $key1)
												#foreach($number in [1..5])
													#if ($currentNode)
														#if ($number > 1) &gt; #end
														<a href="$obj.url/app.html#/portal/container/$currentNode.qualifiedId/$currentNode.identity/c/single/$currentNode.qualifiedId/?atChannel=EMAIL&atContext=WEEKLY_DIGEST&atContextId=$obj.identity">
															<span class="link-u" style="color:#004ba1; text-decoration:underline">$currentNode.label</span>
														</a>
														#if (!$currentNode.next) 
															#set ($currentNode = false)
														#else
															#set ($currentNode = $currentNode.next)
														#end
													#else
														#break
													#end
												#end																				
											</td>
										</tr>
									</table>
									<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="7" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

								</td>
							</tr>
						</table>
					#end
				#end
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

			</td>
			<td class="content-spacing2" style="font-size:0pt; line-height:0pt; text-align:left" width="30"></td>
		</tr>
	</table>	
	
	#spacer_row('15')
										
	We hope you find this information useful. 
	
	#mail_closing($obj.tenant.name)

#end