<h1 contenteditable="true" [(ngModel)]="fileInfo.title"></h1>
<div class="preview-img" *ngIf="previewImageUrl">
    <img [src]="previewImageUrl" >
</div>
<div class="loading" *ngIf="loading">
  Loading...
</div>
<div class="preview-tag">
  <ebx-select [formControl]="contentTypeCtrl"
      headIcon="/assets/images/icons/hash_icon.svg"
      [options]="contentTypes"></ebx-select>
</div>
<div class="actionBtns">
  <button class="action" (click)="captureFile()">Upload</button>
  <button class="cancel" mat-dialog-close>Cancel</button>
</div>