@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

.data-filters {

  width: 100%;

  &.two-col {
    display: flex;
    flex-wrap: wrap;

    .header {
      width: 100%;
    }

    .form-input {
      width: 50%;

      .input-control {
        padding-right: 24px;
      }
    }

    .publish-buttons {
      width: 100%;
      margin-top: 8px;
    }

  }

  .header {
    font-family: $FPThin;
    margin-bottom: 24px;
    display: flex;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;

    &.content-collapsed {
      padding-bottom: 0;
    }
  }

  .publish-buttons {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .form-input {
    
    width: 100%;

    .input-label {
      font-family: $FPLight;
      font-size: 14px;
      color: $grey-dark;
    }
  }
}