@import '~styles/colors.scss';
@import '~styles/layout.mixin.scss';
@import '~styles/fonts.scss';

ebx-table {
    font-family: $FPLight;

    .edit-navbar {
        height: 32px;
        padding-bottom: 24px;
        display: flex;

        .dashboard-buttons {
            float: none;
        }

        .select-dropdown-option {
            height: 32px;
            width: 72px;
            
            select {
                height: 32px;
                width: 100%;
                border: 1px solid #E3EBEF;
                -webkit-appearance: none;
                padding-left: 8px;
                background-position: right 8px center; 
                font-family: $FPBlond;

                option {
                    line-height: 20px;

                    &:before {
                        content: "\2713 ";
                        color: black;
                    }
                }
            }
        }
    }

    table {
        width: 100%;

        th {
            text-align: left;

            .header-wrapper {
                display: flex;
                align-items: center;

                >div {
                    text-align: right;
                }
            }

            .icon.dropdown {
                padding: 0px 6px 2px 6px;
                width: 9px;
                height: 7px;
                cursor: pointer;

                &.dir-up {
                    transform: rotate(180deg);
                    padding: 2px 6px 0px 6px;
                }
            }
        }

        td, th {
            padding: 16px 16px 16px 0;
            border-bottom: 1px solid rgba(179, 38, 38, 0.03);

            >div {
                display: flex;
            }

            &.text-right, .text-right {
                text-align: right;
            }

            &.text-center, .text-center {
                text-align: center;
            }
        }

        .cbox-cell {
            width: 1px;
            padding-right: 0;
        }

    }

    .table-pagination {
        padding: 24px 0;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
}