<!-- <div>
    <h2>Angular 4 Alerts</h2>
    <button class="btn btn-success" (click)="success('Success!!')">Success</button>
    <button class="btn btn-danger" (click)="error('Error :(')">Error</button>
    <button class="btn btn-info" (click)="info('Some info....')">Info</button>
    <button class="btn btn-warning" (click)="warn('Warning: ...')">Warn</button>
    <button class="btn btn-default" (click)="clear()">Clear</button>
    <button class="btn btn-default" (click)="corsTest()">CORS Test</button>
</div>
 -->
<ebx-header></ebx-header>
<div class="container flex-row">
  <div class="dashboard">
    <ebx-user-task></ebx-user-task>
    <ng-container *ngFor="let wdgId of widgetIds">
      <ebx-ui-widget [widgetId]="wdgId"></ebx-ui-widget>
    </ng-container>
    <!-- <ebx-recent-content></ebx-recent-content> -->
    <ebx-reco-content></ebx-reco-content>
    <ebx-dimensions></ebx-dimensions>  
  </div>
  <div class="sidebar" ng-click="navigateToRecentActivity()">
    <ebx-recent-activities></ebx-recent-activities>
  </div>
</div>
