<div class="content-browser">
  <div class="left-side">
    <div class="heading">Search Assets to Select</div>
    <div><ebx-search-bar [sbController]="browserSearchCtrl"></ebx-search-bar></div>
    <div class="content-items" #infiniteScrollParentElem
            infiniteScroll
            [infiniteScrollDistance]="'2'"
            [infiniteScrollThrottle]="'50'"
            (scrolled)="onScroll()"
            [scrollWindow]="false">
      <div #infiniteScrollChildElem class="main" >
        <div *ngIf="browserSearchCtrl.browserData">
          <div class="cards card-container">
            <ng-container *ngFor="let rec of browserSearchCtrl.browserData">
              <div class="data-card" [class.selected]="isSelected(rec)">
                <ebx-data-card [containerQId]="rec.containerQId" [record]="rec.record"></ebx-data-card>
                <div class="overlay" (click)="toggleSelect(rec)"></div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="no-data" *ngIf="noData">No data found.</div>
    </div>
    <div class="actionBtns">
      <button class="action" (click)="done()">Done</button>
      <button class="cancel" mat-dialog-close>Cancel</button>
    </div>
  </div>
  <div class="right-side">
    <div class="heading">Selected Assets ({{getTotalSelectedItemCount()}})</div>
    <div class="content">
      <ng-container *ngFor="let grp of selectedItemGrps">
        <div class="content-grp" *ngIf="grp.items?.length > 0">
          <div class="grp-label">{{grp.label}} ({{grp.items.length}})</div>
          <div class="item" *ngFor="let item of grp.items">
            <div class="removeBtn" (click)="removeItem(item)"><span>x</span></div>
            <div class="details">
              <div class="label">{{item.label}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>