<h1 class="file-title" *ngIf="newContent"><span id="ce-asset-title" contenteditable="true" [(ngModel)]="fileInfo.title" (input)="onTitleChange()"></span><img src="/assets/images/icons/pencil-grey.svg" style="cursor: pointer;" (click)="focusOnTitle('ce-asset-title')"/></h1>
<div class="input-error" [hidden]="!errors.title?.required">
  Please enter title
</div>
<div class="preview-img file-default" *ngIf="previewImageUrl">
    <img [src]="previewImageUrl" >
    <span>{{filename}} uploaded</span>
</div>
<div class="content-uploading" *ngIf="loading">
  <img src="/assets/images/icons/loading_icon.gif">
</div>
<div class="input-error" *ngIf="loadingFailed" style="margin-bottom: 24px;">
  Error uploading file: {{errorMsg}}
</div>
<div *ngIf="newContent" class="preview-tag">
  <ebx-select [formControl]="contentTypeCtrl"
      placeholder="Select content type"
      [options]="contentTypes"></ebx-select>
  <div class="input-error" [hidden]="!errors.contentType?.required">
    Please select content type
  </div>
</div>
<div class="actionBtns">
  <button class="action" *ngIf="newContent" (click)="captureFile()" [disabled]="loading || loadingFailed">Add</button>
  <button class="cancel" mat-dialog-close>Cancel</button>
</div>