<div class="dashboard">
    <div class="header">
        <h1>Featured</h1>
        <p class="subheader">You’re seeing these recommended content because were browsing these products or involved in selling them.</p>
        <a class="cta-link">See More</a>
    </div>
    <div class="main featured">
        <cards add-flex="true" data="cardsData"></cards>
    </div>
    <div class="header">
        <h1>Dimensions</h1>
        <p class="subheader">These are your company’s main objects within titled dimensions. You may add or remove object as much as you’d like.</p>
    </div>
    <div class="main">
        <dimension-cards data="dimensionData"></dimension-cards>
    </div>
</div>
<div class="sidebar" ng-click="navigateToRecentActivity()">
    <recent-activity in-sidebar="true" header-data="sideBarData" data="recentData" hide-image-first="true"></recent-activity>
</div>