.dashboard {
    .subheader-text {
        padding-top: 8px;
        padding-bottom: 16px;
        width: 440px;  
    } 
    .main.featured {
        margin-bottom: 66px;
    }

    .card-container {
        height: 228px;
        overflow: hidden;

        .card {
            &:not(:first-child){
                margin-left: auto;
            }

            &:not(:last-child){
                margin-right: auto;
            }
        }
    }
}

dimension-cards {
    display: flex;
    flex-wrap: wrap;
}