.dashboard {
    .subheader {
        padding-top: 8px;
        padding-bottom: 16px;
        width: 440px;  
    } 
    .main.featured {
        margin-bottom: 66px;
    }

    .card-container {
        height: 228px;
        overflow: hidden;
    }

    .dim-card-container {

        overflow-x: hidden;
        @include breakpoint(lg){
            width: 100%;
        }
        @include breakpoint(xlg){
            width: 50%;
        }

        .dim-cards {
            @include breakpoint(xlg){
                flex-wrap: wrap!important;
            }

            flex-flow: row; 
            
            .dim-card {
                &:nth-child(3){
                    display: none;
                    
                    @include breakpoint(xlg){
                        display: block;
                    }
                }
            }
        }
    }
}

dimension-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}